<template>
    <div>
        <div class="centrado">
            <h4>CONTÁCTANOS</h4>
            <h2>Resolveremos tus dudas</h2>
        </div>
        <div class="contacto-container">
            <div class="contacto-form" v-loading="loading_submit" :element-loading-spinner="'circle-loader'">
                <h2>¿Tienes alguna consulta?</h2>
                <h1>Escribenos y te contactaremos lo mas pronto posible</h1>
                <br>
                <form autocomplete="off" @submit.prevent="submit">
                    <div class="form-row">
                        <input type="text" id="nombre" v-model="form.name" required placeholder="Nombre *">
                    </div>
                    <div class="form-row">
                        <input type="text" id="email" v-model="form.email" required placeholder="Correo *">
                    </div>
                    <div class="form-row">
                        <input type="text" id="email" v-model="form.phone" required placeholder="Celular *">
                    </div>
                    <textarea id="mensaje" v-model="form.coment" rows="4" required placeholder="Comentario *" style="resize: none;"></textarea>
                    <br>
                    <br>
                    <button type="submit">Enviar</button>
                </form>
            </div>
            <div class="contacto-info">
                <h2>CONTÁCTANOS</h2>
                <ul class="contact-list">
                    <li>
                    <div class="icon">
                        <div class="circle">
                        <i class="fas fa-phone"></i>
                        </div>
                        <div class="label-wrapper">
                        <span class="label">TELÉFONO</span>
                        <p class="additional-info">943217021</p>
                        </div>
                    </div>
                    </li>
                    <li>
                    <div class="icon">
                        <div class="circle">
                        <i class="fas fa-envelope"></i>
                        </div>
                        <div class="label-wrapper">
                        <span class="label">EMAIL</span>
                        <p class="additional-info">ventas@izifact.com</p>
                        <p class="additional-info">soporte@izifact.com</p>
                        <p class="additional-info">contacto@izifact.com</p>
                        </div>
                    </div>
                    </li>
                    <li>
                    <div class="icon">
                        <div class="circle">
                        <i class="fab fa-whatsapp"></i>
                        </div>
                        <div class="label-wrapper">
                        <span class="label">WHATSAPP</span>
                        <p class="additional-info">943217021</p>
                        </div>
                    </div>
                    </li>
                    <li>
                    <div class="icon">
                        <div class="circle">
                        <i class="fab fa-facebook"></i>
                        </div>
                        <div class="label-wrapper">
                        <span class="label">FACEBOOK</span>
                        <p class="additional-info"><a href="https://www.facebook.com/Izifact.ti" target="_blank">facebook.com/Izifact.ti</a></p>
                        </div>
                    </div>
                    </li>
                    <!-- Agrega más elementos de lista aquí -->
                </ul>
            </div>
        </div>
    </div>
</template>
<script>
export default {
    data() {
        return {
            form: {},
            loading_submit: false,
            resource: 'consult'
        };
    },
    async created() {
        await this.initform();
        // await this.getImages();
        
    },
    methods: {
        initform(){
            this.form = {
                name : null,
                email : null,
                phone: null,
                coment: null
            }
        },
        async submit() {
            this.loading_submit = true
            await this.$http.post(`${this.resource}`, this.form)
                .then(response => {
                    if (response.data.success) {
                        this.$swal({
                            title: 'Completado!',
                            text:  response.data.message,
                            icon: 'success',
                            confirmButtonColor: '#6457A2', // Cambiar el color del botón de confirmación
                        });
                        this.$swal('Completado!', response.data.message, 'success');
                        this.initform()
                    } else {
                        this.$message.error(response.data.message)
                    }
                })
                .catch(error => {
                    if (error.response.status === 422) {
                        this.errors = error.response.data
                    } else if (error.response.status === 500) {
                        this.$message.error(error.response.data.message);
                    } else {
                        console.log(error.response)
                    }
                })
                .then(() => {
                    this.loading_submit = false
                })
            
        }
    },
};
</script>