<template>
    <el-dialog :append-to-body="false"
               :close-on-click-modal="true"
               :close-on-press-escape="true"
               :show-close="false"
               :visible="showDialog"
               top="7vh"
               width="380px"
               @close="close"
               @open="create">
                <div class="card3" v-loading="loading_submit" :element-loading-spinner="'circle-loader'">
                    <form autocomplete="off" @submit.prevent="submit">
                        <h2>CONTACTA A UN ASESOR</h2>
                        <div class="form-group">
                            <label for="name">Nombre:</label>
                            <input type="text"  placeholder="Ingrese su nombre" required v-model="form.name">
                        </div>
                        <div class="form-group">
                            <label for="ruc">RUC:</label>
                            <input type="text"  placeholder="Ingrese su RUC" required v-model="form.RUC">
                        </div>
                        <div class="form-group">
                            <label for="telefono">Teléfono:</label>
                            <input type="text" placeholder="Ingrese su teléfono" required v-model="form.phone">
                        </div>
                        <button type="submit">Enviar</button>
                    </form>
                </div>
    </el-dialog>
</template>
<script>
export default {
    props: [
        'showDialog',
        'plan',
        'mounth',
    ],
    data() {
        return {
            form: {},
            loading_submit: false,
            resource: 'contact'
        };
    },
    methods: {
        async create() {
            await this.initform();
            // await this.getImages();
            
        },
        initform(){
            this.form = {
                name : null,
                RUC : null,
                phone: null,
                plan: null,
                mounth: null
            },
            this.form.plan = this.plan;
            this.form.mounth = this.mounth;
        },
        async submit() {
            this.loading_submit = true
            console.log(this.plan)
            await this.$http.get(`${this.resource}/validateruc/${this.form.RUC}`)
                    .then(response => {  
                        console.log(response)
                        if (response.data.success) {
                            this.$http.post(`${this.resource}`, this.form)
                                .then(response => {
                                    if (response.data.success) {
                                        this.$swal({
                                            title: 'Completado!',
                                            text:  response.data.message,
                                            icon: 'success',
                                            confirmButtonColor: '#6457A2', // Cambiar el color del botón de confirmación
                                        });
                                        this.$swal('Completado!', response.data.message, 'success');
                                        this.initform()
                                    } else {
                                        this.$message.error(response.data.message)
                                    }
                                })
                                .catch(error => {
                                    if (error.response.status === 422) {
                                        this.errors = error.response.data
                                    } else if (error.response.status === 500) {
                                        this.$message.error(error.response.data.message);
                                    } else {
                                        console.log(error.response)
                                    }
                                })
                                .then(() => {
                                    this.loading_submit = false
                                })
                        }
                        else{ 
                            this.$swal({
                                icon: 'error',
                                text: 'El RUC ingresado es inválido!'
                            });
                        }
                        this.loading_submit = false
                    });
            
        },
        close() {
            this.initform()
            this.$emit('update:showDialog', false)
        }
    },
};
</script>