<template>
    <div>
        <br>
        <br>
        <br>
        <br>
        <div class="centrado">
            <h4>NUESTROS SERVICIOS</h4>
            <h2>Facturación electrónica y control de tu negocio</h2>
            <br>
            <h5>Puedes obtener grandes ahorros en gastos de facturación electrónica y de gestión.</h5>
        </div>
        <div class="precios">
            <div class="pricing">
                <button v-bind:class="{ 'active': isActive === 'factura' }" data-value="factura" @click="handleClick('factura')">Facturación Electrónica</button>
                <button v-bind:class="{ 'active': isActive === 'pos' }" data-value="pos" @click="handleClick('pos')">Gestión Empresarial</button>
                <button v-bind:class="{ 'active': isActive === 'web' }" data-value="web" @click="handleClick('web')">Programación Web</button>
                <button v-bind:class="{ 'active': isActive === 'fuente' }" data-value="fuente" @click="handleClick('fuente')">Código Fuente</button>
            </div>
            <br>
            <section>
                <div class="box-container">
                    <div class="box">
                        <template v-if="isActive === 'pos'">
                            <img :src="images_url.pos" alt="Imagen 1">
                        </template>
                        <template v-else-if="isActive === 'web'">
                            <img :src="images_url.web" alt="Imagen 1">
                        </template>
                        <template v-else-if="isActive === 'fuente'">
                            <img :src="images_url.fuente" alt="Imagen 1">
                        </template>
                        <template v-else="isActive === 'factura'">
                            <img :src="images_url.factura" alt="Imagen 1">
                        </template>
                    </div>
                    <div class="box">
                        <div class="centrado2">
                            <template v-if="isActive === 'pos'">
                                 <h4>Sistema ERP</h4>
                                <p>Nuestra plataforma cuenta con una variedad de módulos esenciales para una gestión eficaz de tu negocio. Podrás administrar tus finanzas, controlar tu inventario de manera precisa, generar guías electrónicas para tus envíos y mantener un registro completo de todas tus compras realizadas</p>
                                <label><i class="fa-solid fa-bolt"></i>&nbsp;&nbsp;100% en la nube</label>
                                <label><i class="fa-solid fa-bolt"></i>&nbsp;&nbsp;Gestión empresarial</label>
                                <label><i class="fa-solid fa-bolt"></i>&nbsp;&nbsp;Disponible en web</label>
                            </template>
                            <template v-else-if="isActive === 'web'">
                                 <h4>Desarrollo de Páginas Web</h4>
                                <p>En Izifact, nos especializamos en crear páginas web a medida que se adaptan a las necesidades únicas de tu negocio. Ya sea que estés buscando una página web corporativa, un sitio de comercio electrónico o una plataforma interactiva, nuestro equipo de expertos en desarrollo web está aquí para ayudarte.</p>
                                <label><i class="fa-solid fa-bolt"></i>&nbsp;&nbsp;Utilizamos tecnologías confiables</label>
                                <label><i class="fa-solid fa-bolt"></i>&nbsp;&nbsp;Desarrollo e implementación a medida</label>
                                <label><i class="fa-solid fa-bolt"></i>&nbsp;&nbsp;Servicio confiable y de calidad</label>
                            </template>
                            <template v-else-if="isActive === 'fuente'">
                                 <h4>Código fuente de facturación electrónica</h4>
                                <p>Destinado a programadores y emprendedores que deseen iniciar un negocio en el campo de la facturación electrónica, nuestro sistema de código fuente te brinda la oportunidad de generar ingresos y retener el 100% de los pagos de tus clientes. Obtén una solución lista para usar y personalizable, que te permitirá establecerte como proveedor de servicios de facturación electrónica con éxito.</p>
                                <label><i class="fa-solid fa-bolt"></i>&nbsp;&nbsp;1 año de soporte</label>
                                <label><i class="fa-solid fa-bolt"></i>&nbsp;&nbsp;Recomendaciones de dominio y VPS</label>
                                <label><i class="fa-solid fa-bolt"></i>&nbsp;&nbsp;Aplicativo movil</label>
                                <label><i class="fa-solid fa-bolt"></i>&nbsp;&nbsp;Actualizaciones según SUNAT</label>
                            </template>
                            <template v-else="isActive === 'factura'">
                                 <h4>Plataforma de facturación electrónica y gestión de ventas</h4>
                                <p>Izifact es una plataforma ampliamente adoptada por numerosas empresas en todo el Perú, que brinda asistencia en la gestión de ventas, compras e inventarios de tu negocio</p>
                                <label><i class="fa-solid fa-bolt"></i>&nbsp;&nbsp;100% en la nube</label>
                                <label><i class="fa-solid fa-bolt"></i>&nbsp;&nbsp;Cumpliendo normativas de SUNAT</label>
                                <label><i class="fa-solid fa-bolt"></i>&nbsp;&nbsp;Disponible en web</label>
                            </template>
                           
                            <button class="link-button" @click="enviar()">Contácta a un asesor</button>
                        </div>
                    </div>
                </div>
                <!-- <div class="box-container">
                    <div class="box">
                        <img :src="images_url.mision" alt="Imagen 2">
                    </div>
                    <div class="box">
                        <p>Información sobre el segundo elemento.</p>
                    </div>
                </div> -->
            </section>
        </div>
        <div class="centrado">
            <h4>¿PORQUE ELEGIRNOS?</h4>
        </div>
        <section>
            <div class="process-container">
                <div class="process">
                    <div class="img"><img :src="images_url.soporte" alt="img" draggable="false">
                    </div>
                    <h3>Soporte personalizado</h3>
                    <p>Contamos con un equipo especializado que brinda un soporte personalizado y resuelve de manera efectiva los problemas de nuestros usuarios.</p>
                </div>
                <div class="process">
                    <div class="img"><img :src="images_url.actualizaciones" alt="img" draggable="false">
                    </div>
                    <h3>Actualizaciones de SUNAT</h3>
                    <p>Desarrollamos nuestro sistema en línea con las actualizaciones de SUNAT, asegurando la conformidad y cumplimiento de las normativas vigentes.</p>
                </div>
                <div class="process">
                    <div class="img"><img :src="images_url.seguridad" alt="img" draggable="false">
                    </div>
                    <h3>Seguridad</h3>
                    <p>Nuestro sistema cuenta con medidas de seguridad sólidas para proteger la información y garantizar la privacidad de nuestros usuarios.</p>
                </div>
                <div class="process">
                    <div class="img"><img :src="images_url.desarrollador" alt="img" draggable="false">
                    </div>
                    <h3>Soluciones a medida</h3>
                    <p>Nos enfocamos en brindar soluciones personalizadas, adaptadas específicamente a las necesidades de nuestros clientes.</p>
                </div>
            </div>
        </section>
        <form-izi :showDialog.sync="showDialogForm">
        </form-izi>
    </div>
</template>
<script>
export default {
    props: [
        'images'
    ],
    data() {
        return {
            images_url: {
                nosotros: ""
            },
            isActive: 'factura',
            showDialogForm: false
        };
    },
    async created() {
        this.images_url = this.images;
        console.log(this.images)
    },
    methods: {
        handleClick(value) {
            this.isActive = value;
        },
        showPrices(option) {
            this.selectedOption = option;
        },
        enviar(){
            this.showDialogForm = true
        }
    },
};
</script>