<template>
    <div>
      <form @submit.prevent="handleLogin">
        <label for="email">Email:</label>
        <input id="email" v-model="email" type="email" required />
  
        <label for="password">Password:</label>
        <input id="password" v-model="password" type="password" required />
  
        <button type="submit">Iniciar Sesión</button>
      </form>
      <p v-if="error" class="error">{{ error }}</p>
    </div>
  </template>
  
  <script>
  export default {
    data() {
      return {
        email: '',
        password: '',
        error: null,
      };
    },
    methods: {
      async handleLogin() {
        try {
          const response = await this.$http.post('/login', {
            email: this.email,
            password: this.password,
          });
  
          localStorage.setItem('user', JSON.stringify(response.data.user)); // Almacena al usuario
          this.$eventHub.$emit('user-logged-in', response.data.user); // Notifica el evento
          window.location.href = '/dashboard'; // Redirige al dashboard
        } catch (err) {
          this.error = 'Credenciales incorrectas. Intenta de nuevo.';
        }
      },
    },
  };
  </script>
  
  <style>
  .error {
    color: red;
  }
  </style>
  