/**
 *
 * @author      Jeison Sánchez <jeison@nigma.co>
 * @website     https://www.nigma.co
 *
 */
*,
:after,
:before {
	box-sizing: border-box;
}


.btn-whatsapp {
	position: fixed;
	z-index: 999;
	bottom: 20px;
	right: 20px;
}

.btn-whatsapp:before,
.btn-whatsapp:after {
	content: "";
	position: absolute;
	top: 2px;
	left: 4px;
	width: 45px;
	height: 45px;
	border-radius: 50%;
	background-color: #6457A2;
	opacity: 0;
	animation: onda 1.7s infinite;
}

.btn-whatsapp:before {
	animation-delay: 1s;
}

.btn-whatsapp:after {
	animation-delay: 1.3s;
}

.btn-whatsapp img {
	position: relative;
	z-index: 2;
}

@keyframes onda {
	0% {
		transform: scale(1);
	}

	15% {
		opacity: 1;
	}

	100% {
		opacity: 0;
		transform: scale(2.5);
	}
}

.social-buttons {
    position: fixed;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
	z-index: 1000;
}

.social-buttons a {
    text-decoration: none;
    color: white;
    background-color: #6457A2; /* Green background */
    padding: 10px;
    margin: 5px;
    border-radius: 50%; /* Circular buttons */
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); /* Shadow effect */
}

.social-buttons a:hover {
	transform: scale(1.1);
    background-color: #7566bb; /* Darker green on hover */
}

  /* Icons using FontAwesome */
.social-buttons a i {
	font-size: 28px;
}

@media screen and (max-width: 768px) {
	.social-buttons a {
		width: 40px;
		height: 40px;
	}
	.social-buttons{
		left: 2px;
	}

		/* Icons using FontAwesome */
	.social-buttons a i {
		font-size: 20px;
	}
}

.floating-image {
	position: fixed;
	bottom: 20px;
	right: 20px;
	animation: float 3s ease-in-out infinite;
}

.floating-image img {
	width: 150px;
	height: auto;
	border-radius: 10px;
}

@keyframes float {
	0%, 100% {
	  transform: translateY(0);
	}
	50% {
	  transform: translateY(-15px);
	}
}
/* Contenedor principal */
.chat-container {
	position: fixed;
	bottom: 100px;
	right: 20px;
	width: 350px;
	background: #ffffff;
	border-radius: 15px;
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
	display: flex;
	flex-direction: column;
	overflow: hidden;
	animation: slide-up 0.5s ease-out;
	z-index: 1001;
}
  
  /* Animación de apertura */
.slide-up-enter-active, .slide-up-leave-active {
	transition: transform 0.5s ease, opacity 0.5s ease;
}
.slide-up-enter, .slide-up-leave-to {
	transform: translateY(50px);
	opacity: 0;
}

/* Encabezado */
.chat-header {
	background: #e6a23c;
	color: #ffffff;
	padding: 10px 15px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 16px;
	font-weight: bold;
}

/* Formulario */
.chat-form {
	padding: 20px;
	text-align: center;
}

/* Estilos generales para el input */
.input-field {
	width: 100%;
	padding: 10px;
	margin: 8px 0;
	border: 1px solid #ddd;
	border-radius: 8px;
	font-size: 14px;
	color: #333; /* Color de texto oscuro */
	background-color: #ffffff; /* Fondo blanco */
	outline: none;
}

.input-field::placeholder {
	color: #999; /* Color del placeholder más claro */
}

/* Estilos para el botón de enviar */
.send-btn {
	background: #3b82f6;
	color: #fff; /* Asegura que el texto sea blanco */
	border: none;
	border-radius: 8px;
	padding: 10px;
	font-size: 14px;
	font-weight: bold;
	cursor: pointer;
}

.send-btn:hover {
	background: #2563eb; /* Efecto hover */
}

.send-btn:focus {
	outline: none;
}

/* Mensajería */
.chat-messages {
	flex: 1;
	overflow-y: auto;
	padding: 10px;
}

.message {
	margin: 5px 0;
	padding: 8px 12px;
	border-radius: 10px;
	font-size: 14px;
	max-width: 80%;
}

.message.user {
	background: #3b82f6;
	color: white;
	margin-left: auto;
	text-align: right;
}

.message.bot {
	background: #f1f1f1;
	color: black;
	margin-right: auto;
	text-align: left;
}

/* Entrada de texto */
.chat-input {
	display: flex;
	padding: 10px;
	border-top: 1px solid #ddd;
}

.chat-input input {
	flex: 1;
	border: none;
	border-radius: 8px 0 0 8px;
	padding: 10px;
	outline: none;
}

.chat-input button {
	background: #3b82f6;
	color: white;
	border: none;
	border-radius: 0 8px 8px 0;
	padding: 10px;
	cursor: pointer;
}

.chat-input button:hover {
	background: #2563eb;
}
/* Botón de cerrar */
.close-btn {
	background-color: transparent;
	border: none;
	color: #555; /* Color de ícono */
	font-size: 16px;
	font-weight: bold;
	cursor: pointer;
	padding: 5px;
	border-radius: 50%;
	transition: background-color 0.3s ease, color 0.3s ease;
}

.close-btn:hover {
	background-color: #6457a2; /* Fondo sutil al pasar el mouse */
	color: #fff; /* Color rojo más llamativo */
}

.close-btn:focus {
	outline: none;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); /* Sombra al enfocar */
}
.advisors-container p {
	margin-bottom: 10px;
  }
  
  .advisor-card {
	display: flex;
	align-items: center;
	margin-bottom: 10px;
	/* border: 1px solid #ddd; */
	padding: 10px;
	border-radius: 5px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	padding-top: 20px;
	width: 90%;
    margin: 0 auto;
  }
  
  .advisor-photo {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	margin-right: 10px;
  }
  
  .advisor-details {
	flex: 1;
	display: flex;
	justify-content: space-between;
	align-items: center;
  }
  
  .whatsapp-icon {
	width: 30px;
	height: 30px;
  }
.advisors-container{
	padding-block-end: 20px;
}