.footer-section {
    padding-left: 50px;
}
.el-collapse {
    border-top: none;
    border-bottom: none;
}
.el-collapse-item__header {
    display: flex;
    background-color: #fff; /* Cambia el color aquí */
    font-size: 1.1rem;
    margin-bottom: 15px;
    color: #463a86;
    text-transform: uppercase;
    border-bottom: none;
}
.el-collapse-item__wrap {
    background-color: #fff;
    padding-left: 20px;
    text-align: justify;
    padding-right: 20px;
    border-bottom: 0px solid #EBEEF5;
}
.el-input--small .el-input__inner {
    height: 100%;
    line-height: 32px;
}
.el-select .el-input__inner:focus {
    border-color: #463a86;
}
.el-select .el-input.is-focus .el-input__inner {
    border-color: #463a86;
}
.el-select-dropdown__item.selected {
    color: #463a86;
}
.el-select{
    width: 100%;
}
.el-select .el-input__placeholder {
    color: #463a86; /* Cambia el color aquí */
}
@media (max-width: 768px) {
    .footer-section {
        padding-left: 0;
    }
    .el-collapse-item__header {
        font-size: 12px;
        line-height: 30px;
        height: 100%;
    }
}
.el-date-table td.today span {
    color: #463a86;
    font-weight: 700;
}
.el-date-table td.available:hover {
    color: #e6a23c;
}
.el-date-table td.current:not(.disabled) span {
    background-color: #463a86;
}
.el-date-picker__header-label.active, .el-date-picker__header-label:hover {
    color: #e6a23c;
}
.el-picker-panel__icon-btn:hover {
    color: #e6a23c;
}
.el-date-editor.el-input, .el-date-editor.el-input__inner {
    width: 100%;
}
.el-tabs__item:hover {
    color: #6457a2;
}
.el-tabs__item.is-active {
    color: #6457a2;
}
.el-tabs__active-bar {
    background-color: #6457a2;
}
.el-button:focus, .el-button:hover {
    color: #463a86;
    border-color: #6457a2;
    background-color: #6457a20a;
}
.el-checkbox__input.is-checked+.el-checkbox__label {
    color: #6457a2 !important;
}
.el-checkbox__input.is-checked .el-checkbox__inner {
    background-color: #6457a2;
    border-color: #4a4175;
}