.custom-form {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 100vh;
  background-color: rgba(0, 0, 0, 2);
  /* Ajusta el nivel de opacidad para oscurecer la imagen */
}

.custom-form::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../images/bg.png');
  background-size: cover;
  background-position: right;
  /* Ajusta el nivel de opacidad para la imagen de fondo */
}

.form-custom-form,
.image-text-custom-form {
  position: relative;
  z-index: 1;
}

.cont {
  display: flex;
  align-items: center;
}

.form-custom-form .card2 p {
  color: #363636;
  margin: 0 0 15px;
  text-transform: none;
  font-weight: 400;
  line-height: 26px;
  font-size: 14px;
  text-align: center;
  padding: 2px;
}

.card3 p {
  color: #363636;
  margin: 0 0 15px;
  text-transform: none;
  font-weight: 400;
  line-height: 26px;
  font-size: 14px;
  text-align: center;
  padding: 2px;
}

.form-custom-form .card2 h2 {
  text-align: center;
}

.card3 h2 {
  text-align: center;
  color: #303133;

}

.image-text-custom-form h1 {
  text-align: left;
  color: #fff;
}

.image-text-custom-form h4 {
  color: #fff;
  font-weight: 400;
  font-size: 1.5rem;
  text-align: left;
}

.image-text-custom-form h5 {
  color: #fff;
  font-weight: 300;
  font-size: 1.2rem;
  text-align: left;
  font-weight: 900;
}

.image-text-custom-form h2 {
  text-align: left;
  color: #fff;
  font-size: 4vw;
  margin-bottom: 25px;
}

.image-text-custom-form i {
  color: #e6a23c;
}

.linea {
  width: 50px;
  /* Ajusta el ancho de la línea según tus necesidades */
  height: 2px;
  /* Ajusta el grosor de la línea según tus necesidades */
  border-top: 2px solid white;
  /* Ajusta el color de la línea según tus necesidades */
}

@media screen and (max-width: 768px) {
  .image-text-custom-form h2 {
    text-align: center;
    font-size: 40px;
  }
  .cont {
    padding-top: 50px;
  }
  .image-text-custom-form h5 {
    font-size: 16px;
    text-align: center;
    font-weight: 900;
  }
  .image-text-custom-form h4 {
    line-height: 1.4;
    font-size: 20px;
  }
}

.form-custom-form {
  flex: 0 0 100%;
  max-width: 400px;
  margin-bottom: 20px;
  animation: slide-in 1s ease-in-out;
  padding: 20px;
}

@keyframes slide-in {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.card2 {
  background-color: #fff;
  border-radius: 16px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.card3 {
  background-color: #fff;
  border-radius: 16px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.card2 button {
  background-color: #6457A2;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;

  padding: 10px 25px;
  border-radius: 30px;
  color: #fff;
  font-weight: 600;
  margin-top: 10px;
  width: 100%;
}

.card2 button:hover {
  background-color: #4a4175;
}
.card3 button {
  background-color: #6457A2;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;

  padding: 10px 25px;
  border-radius: 30px;
  color: #fff;
  font-weight: 600;
  margin-top: 10px;
  width: 100%;
}

.card3 button:hover {
  background-color: #4a4175;
}

.contacto-form button {
  background-color: #6457A2;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;

  padding: 10px 25px;
  border-radius: 30px;
  color: #fff;
  font-weight: 600;
  margin-top: 10px;
  width: 100%;
}

.contacto-form button:hover {
  background-color: #4a4175;
}
.image-text-custom-form {
  flex: 0 0 100%;
  text-align: center;
  /* margin-bottom: 20px; */
  animation: fade-in 1s ease-in-out;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@media screen and (min-width: 768px) {
  .custom-form {
    flex-direction: row;
    justify-content: space-around;
  }

  .form-custom-form {
    flex: 0 0 calc(50% - 20px);
    max-width: 400px;
    margin-bottom: 0;
  }

  .image-text-custom-form {
    flex: 0 0 calc(50% - 20px);
    text-align: center;
    margin-bottom: 0;
  }

  .card2 {
    width: 380px;
  }
}

@-moz-keyframes circle-loader {
  0% {
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -moz-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes circle-loader {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes circle-loader {
  0% {
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.circle-loader:not(:required) {
  overflow: hidden;
  position: relative;
  text-indent: -9999px;
  display: inline-block;
  width: 8px;
  height: 8px;
  background: transparent;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  -moz-box-shadow: #6457A2 0px 26px 0 6px, #6457A2 0.90971px 26.05079px 0 5.93333px, #6457A2 1.82297px 26.06967px 0 5.86667px, #6457A2 2.73865px 26.05647px 0 5.8px, #6457A2 3.65561px 26.01104px 0 5.73333px, #6457A2 4.57274px 25.93327px 0 5.66667px, #6457A2 5.48887px 25.8231px 0 5.6px, #6457A2 6.40287px 25.68049px 0 5.53333px, #6457A2 7.31358px 25.50548px 0 5.46667px, #6457A2 8.21985px 25.2981px 0 5.4px, #6457A2 9.12054px 25.05847px 0 5.33333px, #6457A2 10.01448px 24.78672px 0 5.26667px, #6457A2 10.90054px 24.48302px 0 5.2px, #6457A2 11.77757px 24.1476px 0 5.13333px, #6457A2 12.64443px 23.78072px 0 5.06667px, #6457A2 13.5px 23.38269px 0 5px, #6457A2 14.34315px 22.95384px 0 4.93333px, #6457A2 15.17277px 22.49455px 0 4.86667px, #6457A2 15.98776px 22.00526px 0 4.8px, #6457A2 16.78704px 21.48643px 0 4.73333px, #6457A2 17.56953px 20.93855px 0 4.66667px, #6457A2 18.33418px 20.36217px 0 4.6px, #6457A2 19.07995px 19.75787px 0 4.53333px, #6457A2 19.80582px 19.12626px 0 4.46667px, #6457A2 20.5108px 18.468px 0 4.4px, #6457A2 21.1939px 17.78379px 0 4.33333px, #6457A2 21.85416px 17.07434px 0 4.26667px, #6457A2 22.49067px 16.34043px 0 4.2px, #6457A2 23.10251px 15.58284px 0 4.13333px, #6457A2 23.68881px 14.80241px 0 4.06667px, #6457A2 24.24871px 14.0px 0 4px, #6457A2 24.7814px 13.1765px 0 3.93333px, #6457A2 25.28607px 12.33284px 0 3.86667px, #6457A2 25.76198px 11.46997px 0 3.8px, #6457A2 26.2084px 10.58888px 0 3.73333px, #6457A2 26.62462px 9.69057px 0 3.66667px, #6457A2 27.01001px 8.77608px 0 3.6px, #6457A2 27.36392px 7.84648px 0 3.53333px, #6457A2 27.68577px 6.90284px 0 3.46667px, #6457A2 27.97502px 5.94627px 0 3.4px, #6457A2 28.23116px 4.97791px 0 3.33333px, #6457A2 28.4537px 3.99891px 0 3.26667px, #6457A2 28.64223px 3.01042px 0 3.2px, #6457A2 28.79635px 2.01364px 0 3.13333px, #6457A2 28.91571px 1.00976px 0 3.06667px, #6457A2 29px 0.0px 0 3px, #6457A2 29.04896px -1.01441px 0 2.93333px, #6457A2 29.06237px -2.03224px 0 2.86667px, #6457A2 29.04004px -3.05223px 0 2.8px, #6457A2 28.98185px -4.07313px 0 2.73333px, #6457A2 28.88769px -5.09368px 0 2.66667px, #6457A2 28.75754px -6.1126px 0 2.6px, #6457A2 28.59138px -7.12863px 0 2.53333px, #6457A2 28.38926px -8.14049px 0 2.46667px, #6457A2 28.15127px -9.1469px 0 2.4px, #6457A2 27.87755px -10.1466px 0 2.33333px, #6457A2 27.56827px -11.1383px 0 2.26667px, #6457A2 27.22365px -12.12075px 0 2.2px, #6457A2 26.84398px -13.09268px 0 2.13333px, #6457A2 26.42956px -14.05285px 0 2.06667px, #6457A2 25.98076px -15.0px 0 2px, #6457A2 25.49798px -15.93291px 0 1.93333px, #6457A2 24.98167px -16.85035px 0 1.86667px, #6457A2 24.43231px -17.75111px 0 1.8px, #6457A2 23.85046px -18.63402px 0 1.73333px, #6457A2 23.23668px -19.49789px 0 1.66667px, #6457A2 22.5916px -20.34157px 0 1.6px, #6457A2 21.91589px -21.16393px 0 1.53333px, #6457A2 21.21024px -21.96384px 0 1.46667px, #6457A2 20.4754px -22.74023px 0 1.4px, #6457A2 19.71215px -23.49203px 0 1.33333px, #6457A2 18.92133px -24.2182px 0 1.26667px, #6457A2 18.10379px -24.91772px 0 1.2px, #6457A2 17.26042px -25.58963px 0 1.13333px, #6457A2 16.39217px -26.23295px 0 1.06667px, #6457A2 15.5px -26.84679px 0 1px, #6457A2 14.58492px -27.43024px 0 0.93333px, #6457A2 13.64796px -27.98245px 0 0.86667px, #6457A2 12.69018px -28.50262px 0 0.8px, #6457A2 11.7127px -28.98995px 0 0.73333px, #6457A2 10.71663px -29.4437px 0 0.66667px, #6457A2 9.70313px -29.86317px 0 0.6px, #6457A2 8.67339px -30.2477px 0 0.53333px, #6457A2 7.6286px -30.59666px 0 0.46667px, #6457A2 6.57001px -30.90946px 0 0.4px, #6457A2 5.49886px -31.18558px 0 0.33333px, #6457A2 4.41643px -31.42451px 0 0.26667px, #6457A2 3.32401px -31.6258px 0 0.2px, #6457A2 2.22291px -31.78904px 0 0.13333px, #6457A2 1.11446px -31.91388px 0 0.06667px, #6457A2 0.0px -32px 0 0px, #6457A2 -1.11911px -32.04713px 0 -0.06667px, #6457A2 -2.24151px -32.05506px 0 -0.13333px, #6457A2 -3.36582px -32.02361px 0 -0.2px, #6457A2 -4.49065px -31.95265px 0 -0.26667px, #6457A2 -5.61462px -31.84212px 0 -0.33333px, #6457A2 -6.73634px -31.69198px 0 -0.4px, #6457A2 -7.8544px -31.50227px 0 -0.46667px, #6457A2 -8.9674px -31.27305px 0 -0.53333px, #6457A2 -10.07395px -31.00444px 0 -0.6px, #6457A2 -11.17266px -30.69663px 0 -0.66667px, #6457A2 -12.26212px -30.34982px 0 -0.73333px, #6457A2 -13.34096px -29.96429px 0 -0.8px, #6457A2 -14.4078px -29.54036px 0 -0.86667px, #6457A2 -15.46126px -29.07841px 0 -0.93333px, #6457A2 -16.5px -28.57884px 0 -1px, #6457A2 -17.52266px -28.04212px 0 -1.06667px, #6457A2 -18.52792px -27.46878px 0 -1.13333px, #6457A2 -19.51447px -26.85936px 0 -1.2px, #6457A2 -20.48101px -26.21449px 0 -1.26667px, #6457A2 -21.42625px -25.53481px 0 -1.33333px, #6457A2 -22.34896px -24.82104px 0 -1.4px, #6457A2 -23.2479px -24.07391px 0 -1.46667px, #6457A2 -24.12186px -23.29421px 0 -1.53333px, #6457A2 -24.96967px -22.48279px 0 -1.6px, #6457A2 -25.79016px -21.64052px 0 -1.66667px, #6457A2 -26.58223px -20.76831px 0 -1.73333px, #6457A2 -27.34477px -19.86714px 0 -1.8px, #6457A2 -28.07674px -18.938px 0 -1.86667px, #6457A2 -28.7771px -17.98193px 0 -1.93333px, #6457A2 -29.44486px -17.0px 0 -2px, #6457A2 -30.07908px -15.99333px 0 -2.06667px, #6457A2 -30.67884px -14.96307px 0 -2.13333px, #6457A2 -31.24325px -13.91039px 0 -2.2px, #6457A2 -31.7715px -12.83652px 0 -2.26667px, #6457A2 -32.26278px -11.74269px 0 -2.33333px, #6457A2 -32.71634px -10.63018px 0 -2.4px, #6457A2 -33.13149px -9.5003px 0 -2.46667px, #6457A2 -33.50755px -8.35437px 0 -2.53333px, #6457A2 -33.84391px -7.19374px 0 -2.6px, #6457A2 -34.14px -6.0198px 0 -2.66667px, #6457A2 -34.39531px -4.83395px 0 -2.73333px, #6457A2 -34.60936px -3.63759px 0 -2.8px, #6457A2 -34.78173px -2.43218px 0 -2.86667px, #6457A2 -34.91205px -1.21916px 0 -2.93333px, #6457A2 -35px 0.0px 0 -3px, #6457A2 -35.04531px 1.22381px 0 -3.06667px, #6457A2 -35.04775px 2.45078px 0 -3.13333px, #6457A2 -35.00717px 3.6794px 0 -3.2px, #6457A2 -34.92345px 4.90817px 0 -3.26667px, #6457A2 -34.79654px 6.13557px 0 -3.33333px, #6457A2 -34.62643px 7.36007px 0 -3.4px, #6457A2 -34.41316px 8.58016px 0 -3.46667px, #6457A2 -34.15683px 9.79431px 0 -3.53333px, #6457A2 -33.85761px 11.001px 0 -3.6px, #6457A2 -33.5157px 12.19872px 0 -3.66667px, #6457A2 -33.13137px 13.38594px 0 -3.73333px, #6457A2 -32.70493px 14.56117px 0 -3.8px, #6457A2 -32.23675px 15.72291px 0 -3.86667px, #6457A2 -31.72725px 16.86968px 0 -3.93333px, #6457A2 -31.17691px 18px 0 -4px, #6457A2 -30.58627px 19.11242px 0 -4.06667px, #6457A2 -29.95589px 20.2055px 0 -4.13333px, #6457A2 -29.28642px 21.27783px 0 -4.2px, #6457A2 -28.57852px 22.32799px 0 -4.26667px, #6457A2 -27.83295px 23.35462px 0 -4.33333px, #6457A2 -27.05047px 24.35635px 0 -4.4px, #6457A2 -26.23192px 25.33188px 0 -4.46667px, #6457A2 -25.37819px 26.27988px 0 -4.53333px, #6457A2 -24.49018px 27.1991px 0 -4.6px, #6457A2 -23.56888px 28.0883px 0 -4.66667px, #6457A2 -22.6153px 28.94626px 0 -4.73333px, #6457A2 -21.6305px 29.77183px 0 -4.8px, #6457A2 -20.61558px 30.56385px 0 -4.86667px, #6457A2 -19.57168px 31.32124px 0 -4.93333px, #6457A2 -18.5px 32.04294px 0 -5px, #6457A2 -17.40175px 32.72792px 0 -5.06667px, #6457A2 -16.27818px 33.37522px 0 -5.13333px, #6457A2 -15.1306px 33.98389px 0 -5.2px, #6457A2 -13.96034px 34.55305px 0 -5.26667px, #6457A2 -12.76875px 35.08186px 0 -5.33333px, #6457A2 -11.55724px 35.56951px 0 -5.4px, #6457A2 -10.32721px 36.01527px 0 -5.46667px, #6457A2 -9.08014px 36.41843px 0 -5.53333px, #6457A2 -7.81748px 36.77835px 0 -5.6px, #6457A2 -6.54075px 37.09443px 0 -5.66667px, #6457A2 -5.25147px 37.36612px 0 -5.73333px, #6457A2 -3.95118px 37.59293px 0 -5.8px, #6457A2 -2.64145px 37.77443px 0 -5.86667px, #6457A2 -1.32385px 37.91023px 0 -5.93333px;
  -webkit-box-shadow: #6457A2 0px 26px 0 6px, #6457A2 0.90971px 26.05079px 0 5.93333px, #6457A2 1.82297px 26.06967px 0 5.86667px, #6457A2 2.73865px 26.05647px 0 5.8px, #6457A2 3.65561px 26.01104px 0 5.73333px, #6457A2 4.57274px 25.93327px 0 5.66667px, #6457A2 5.48887px 25.8231px 0 5.6px, #6457A2 6.40287px 25.68049px 0 5.53333px, #6457A2 7.31358px 25.50548px 0 5.46667px, #6457A2 8.21985px 25.2981px 0 5.4px, #6457A2 9.12054px 25.05847px 0 5.33333px, #6457A2 10.01448px 24.78672px 0 5.26667px, #6457A2 10.90054px 24.48302px 0 5.2px, #6457A2 11.77757px 24.1476px 0 5.13333px, #6457A2 12.64443px 23.78072px 0 5.06667px, #6457A2 13.5px 23.38269px 0 5px, #6457A2 14.34315px 22.95384px 0 4.93333px, #6457A2 15.17277px 22.49455px 0 4.86667px, #6457A2 15.98776px 22.00526px 0 4.8px, #6457A2 16.78704px 21.48643px 0 4.73333px, #6457A2 17.56953px 20.93855px 0 4.66667px, #6457A2 18.33418px 20.36217px 0 4.6px, #6457A2 19.07995px 19.75787px 0 4.53333px, #6457A2 19.80582px 19.12626px 0 4.46667px, #6457A2 20.5108px 18.468px 0 4.4px, #6457A2 21.1939px 17.78379px 0 4.33333px, #6457A2 21.85416px 17.07434px 0 4.26667px, #6457A2 22.49067px 16.34043px 0 4.2px, #6457A2 23.10251px 15.58284px 0 4.13333px, #6457A2 23.68881px 14.80241px 0 4.06667px, #6457A2 24.24871px 14.0px 0 4px, #6457A2 24.7814px 13.1765px 0 3.93333px, #6457A2 25.28607px 12.33284px 0 3.86667px, #6457A2 25.76198px 11.46997px 0 3.8px, #6457A2 26.2084px 10.58888px 0 3.73333px, #6457A2 26.62462px 9.69057px 0 3.66667px, #6457A2 27.01001px 8.77608px 0 3.6px, #6457A2 27.36392px 7.84648px 0 3.53333px, #6457A2 27.68577px 6.90284px 0 3.46667px, #6457A2 27.97502px 5.94627px 0 3.4px, #6457A2 28.23116px 4.97791px 0 3.33333px, #6457A2 28.4537px 3.99891px 0 3.26667px, #6457A2 28.64223px 3.01042px 0 3.2px, #6457A2 28.79635px 2.01364px 0 3.13333px, #6457A2 28.91571px 1.00976px 0 3.06667px, #6457A2 29px 0.0px 0 3px, #6457A2 29.04896px -1.01441px 0 2.93333px, #6457A2 29.06237px -2.03224px 0 2.86667px, #6457A2 29.04004px -3.05223px 0 2.8px, #6457A2 28.98185px -4.07313px 0 2.73333px, #6457A2 28.88769px -5.09368px 0 2.66667px, #6457A2 28.75754px -6.1126px 0 2.6px, #6457A2 28.59138px -7.12863px 0 2.53333px, #6457A2 28.38926px -8.14049px 0 2.46667px, #6457A2 28.15127px -9.1469px 0 2.4px, #6457A2 27.87755px -10.1466px 0 2.33333px, #6457A2 27.56827px -11.1383px 0 2.26667px, #6457A2 27.22365px -12.12075px 0 2.2px, #6457A2 26.84398px -13.09268px 0 2.13333px, #6457A2 26.42956px -14.05285px 0 2.06667px, #6457A2 25.98076px -15.0px 0 2px, #6457A2 25.49798px -15.93291px 0 1.93333px, #6457A2 24.98167px -16.85035px 0 1.86667px, #6457A2 24.43231px -17.75111px 0 1.8px, #6457A2 23.85046px -18.63402px 0 1.73333px, #6457A2 23.23668px -19.49789px 0 1.66667px, #6457A2 22.5916px -20.34157px 0 1.6px, #6457A2 21.91589px -21.16393px 0 1.53333px, #6457A2 21.21024px -21.96384px 0 1.46667px, #6457A2 20.4754px -22.74023px 0 1.4px, #6457A2 19.71215px -23.49203px 0 1.33333px, #6457A2 18.92133px -24.2182px 0 1.26667px, #6457A2 18.10379px -24.91772px 0 1.2px, #6457A2 17.26042px -25.58963px 0 1.13333px, #6457A2 16.39217px -26.23295px 0 1.06667px, #6457A2 15.5px -26.84679px 0 1px, #6457A2 14.58492px -27.43024px 0 0.93333px, #6457A2 13.64796px -27.98245px 0 0.86667px, #6457A2 12.69018px -28.50262px 0 0.8px, #6457A2 11.7127px -28.98995px 0 0.73333px, #6457A2 10.71663px -29.4437px 0 0.66667px, #6457A2 9.70313px -29.86317px 0 0.6px, #6457A2 8.67339px -30.2477px 0 0.53333px, #6457A2 7.6286px -30.59666px 0 0.46667px, #6457A2 6.57001px -30.90946px 0 0.4px, #6457A2 5.49886px -31.18558px 0 0.33333px, #6457A2 4.41643px -31.42451px 0 0.26667px, #6457A2 3.32401px -31.6258px 0 0.2px, #6457A2 2.22291px -31.78904px 0 0.13333px, #6457A2 1.11446px -31.91388px 0 0.06667px, #6457A2 0.0px -32px 0 0px, #6457A2 -1.11911px -32.04713px 0 -0.06667px, #6457A2 -2.24151px -32.05506px 0 -0.13333px, #6457A2 -3.36582px -32.02361px 0 -0.2px, #6457A2 -4.49065px -31.95265px 0 -0.26667px, #6457A2 -5.61462px -31.84212px 0 -0.33333px, #6457A2 -6.73634px -31.69198px 0 -0.4px, #6457A2 -7.8544px -31.50227px 0 -0.46667px, #6457A2 -8.9674px -31.27305px 0 -0.53333px, #6457A2 -10.07395px -31.00444px 0 -0.6px, #6457A2 -11.17266px -30.69663px 0 -0.66667px, #6457A2 -12.26212px -30.34982px 0 -0.73333px, #6457A2 -13.34096px -29.96429px 0 -0.8px, #6457A2 -14.4078px -29.54036px 0 -0.86667px, #6457A2 -15.46126px -29.07841px 0 -0.93333px, #6457A2 -16.5px -28.57884px 0 -1px, #6457A2 -17.52266px -28.04212px 0 -1.06667px, #6457A2 -18.52792px -27.46878px 0 -1.13333px, #6457A2 -19.51447px -26.85936px 0 -1.2px, #6457A2 -20.48101px -26.21449px 0 -1.26667px, #6457A2 -21.42625px -25.53481px 0 -1.33333px, #6457A2 -22.34896px -24.82104px 0 -1.4px, #6457A2 -23.2479px -24.07391px 0 -1.46667px, #6457A2 -24.12186px -23.29421px 0 -1.53333px, #6457A2 -24.96967px -22.48279px 0 -1.6px, #6457A2 -25.79016px -21.64052px 0 -1.66667px, #6457A2 -26.58223px -20.76831px 0 -1.73333px, #6457A2 -27.34477px -19.86714px 0 -1.8px, #6457A2 -28.07674px -18.938px 0 -1.86667px, #6457A2 -28.7771px -17.98193px 0 -1.93333px, #6457A2 -29.44486px -17.0px 0 -2px, #6457A2 -30.07908px -15.99333px 0 -2.06667px, #6457A2 -30.67884px -14.96307px 0 -2.13333px, #6457A2 -31.24325px -13.91039px 0 -2.2px, #6457A2 -31.7715px -12.83652px 0 -2.26667px, #6457A2 -32.26278px -11.74269px 0 -2.33333px, #6457A2 -32.71634px -10.63018px 0 -2.4px, #6457A2 -33.13149px -9.5003px 0 -2.46667px, #6457A2 -33.50755px -8.35437px 0 -2.53333px, #6457A2 -33.84391px -7.19374px 0 -2.6px, #6457A2 -34.14px -6.0198px 0 -2.66667px, #6457A2 -34.39531px -4.83395px 0 -2.73333px, #6457A2 -34.60936px -3.63759px 0 -2.8px, #6457A2 -34.78173px -2.43218px 0 -2.86667px, #6457A2 -34.91205px -1.21916px 0 -2.93333px, #6457A2 -35px 0.0px 0 -3px, #6457A2 -35.04531px 1.22381px 0 -3.06667px, #6457A2 -35.04775px 2.45078px 0 -3.13333px, #6457A2 -35.00717px 3.6794px 0 -3.2px, #6457A2 -34.92345px 4.90817px 0 -3.26667px, #6457A2 -34.79654px 6.13557px 0 -3.33333px, #6457A2 -34.62643px 7.36007px 0 -3.4px, #6457A2 -34.41316px 8.58016px 0 -3.46667px, #6457A2 -34.15683px 9.79431px 0 -3.53333px, #6457A2 -33.85761px 11.001px 0 -3.6px, #6457A2 -33.5157px 12.19872px 0 -3.66667px, #6457A2 -33.13137px 13.38594px 0 -3.73333px, #6457A2 -32.70493px 14.56117px 0 -3.8px, #6457A2 -32.23675px 15.72291px 0 -3.86667px, #6457A2 -31.72725px 16.86968px 0 -3.93333px, #6457A2 -31.17691px 18px 0 -4px, #6457A2 -30.58627px 19.11242px 0 -4.06667px, #6457A2 -29.95589px 20.2055px 0 -4.13333px, #6457A2 -29.28642px 21.27783px 0 -4.2px, #6457A2 -28.57852px 22.32799px 0 -4.26667px, #6457A2 -27.83295px 23.35462px 0 -4.33333px, #6457A2 -27.05047px 24.35635px 0 -4.4px, #6457A2 -26.23192px 25.33188px 0 -4.46667px, #6457A2 -25.37819px 26.27988px 0 -4.53333px, #6457A2 -24.49018px 27.1991px 0 -4.6px, #6457A2 -23.56888px 28.0883px 0 -4.66667px, #6457A2 -22.6153px 28.94626px 0 -4.73333px, #6457A2 -21.6305px 29.77183px 0 -4.8px, #6457A2 -20.61558px 30.56385px 0 -4.86667px, #6457A2 -19.57168px 31.32124px 0 -4.93333px, #6457A2 -18.5px 32.04294px 0 -5px, #6457A2 -17.40175px 32.72792px 0 -5.06667px, #6457A2 -16.27818px 33.37522px 0 -5.13333px, #6457A2 -15.1306px 33.98389px 0 -5.2px, #6457A2 -13.96034px 34.55305px 0 -5.26667px, #6457A2 -12.76875px 35.08186px 0 -5.33333px, #6457A2 -11.55724px 35.56951px 0 -5.4px, #6457A2 -10.32721px 36.01527px 0 -5.46667px, #6457A2 -9.08014px 36.41843px 0 -5.53333px, #6457A2 -7.81748px 36.77835px 0 -5.6px, #6457A2 -6.54075px 37.09443px 0 -5.66667px, #6457A2 -5.25147px 37.36612px 0 -5.73333px, #6457A2 -3.95118px 37.59293px 0 -5.8px, #6457A2 -2.64145px 37.77443px 0 -5.86667px, #6457A2 -1.32385px 37.91023px 0 -5.93333px;
  box-shadow: #6457A2 0px 26px 0 6px, #6457A2 0.90971px 26.05079px 0 5.93333px, #6457A2 1.82297px 26.06967px 0 5.86667px, #6457A2 2.73865px 26.05647px 0 5.8px, #6457A2 3.65561px 26.01104px 0 5.73333px, #6457A2 4.57274px 25.93327px 0 5.66667px, #6457A2 5.48887px 25.8231px 0 5.6px, #6457A2 6.40287px 25.68049px 0 5.53333px, #6457A2 7.31358px 25.50548px 0 5.46667px, #6457A2 8.21985px 25.2981px 0 5.4px, #6457A2 9.12054px 25.05847px 0 5.33333px, #6457A2 10.01448px 24.78672px 0 5.26667px, #6457A2 10.90054px 24.48302px 0 5.2px, #6457A2 11.77757px 24.1476px 0 5.13333px, #6457A2 12.64443px 23.78072px 0 5.06667px, #6457A2 13.5px 23.38269px 0 5px, #6457A2 14.34315px 22.95384px 0 4.93333px, #6457A2 15.17277px 22.49455px 0 4.86667px, #6457A2 15.98776px 22.00526px 0 4.8px, #6457A2 16.78704px 21.48643px 0 4.73333px, #6457A2 17.56953px 20.93855px 0 4.66667px, #6457A2 18.33418px 20.36217px 0 4.6px, #6457A2 19.07995px 19.75787px 0 4.53333px, #6457A2 19.80582px 19.12626px 0 4.46667px, #6457A2 20.5108px 18.468px 0 4.4px, #6457A2 21.1939px 17.78379px 0 4.33333px, #6457A2 21.85416px 17.07434px 0 4.26667px, #6457A2 22.49067px 16.34043px 0 4.2px, #6457A2 23.10251px 15.58284px 0 4.13333px, #6457A2 23.68881px 14.80241px 0 4.06667px, #6457A2 24.24871px 14.0px 0 4px, #6457A2 24.7814px 13.1765px 0 3.93333px, #6457A2 25.28607px 12.33284px 0 3.86667px, #6457A2 25.76198px 11.46997px 0 3.8px, #6457A2 26.2084px 10.58888px 0 3.73333px, #6457A2 26.62462px 9.69057px 0 3.66667px, #6457A2 27.01001px 8.77608px 0 3.6px, #6457A2 27.36392px 7.84648px 0 3.53333px, #6457A2 27.68577px 6.90284px 0 3.46667px, #6457A2 27.97502px 5.94627px 0 3.4px, #6457A2 28.23116px 4.97791px 0 3.33333px, #6457A2 28.4537px 3.99891px 0 3.26667px, #6457A2 28.64223px 3.01042px 0 3.2px, #6457A2 28.79635px 2.01364px 0 3.13333px, #6457A2 28.91571px 1.00976px 0 3.06667px, #6457A2 29px 0.0px 0 3px, #6457A2 29.04896px -1.01441px 0 2.93333px, #6457A2 29.06237px -2.03224px 0 2.86667px, #6457A2 29.04004px -3.05223px 0 2.8px, #6457A2 28.98185px -4.07313px 0 2.73333px, #6457A2 28.88769px -5.09368px 0 2.66667px, #6457A2 28.75754px -6.1126px 0 2.6px, #6457A2 28.59138px -7.12863px 0 2.53333px, #6457A2 28.38926px -8.14049px 0 2.46667px, #6457A2 28.15127px -9.1469px 0 2.4px, #6457A2 27.87755px -10.1466px 0 2.33333px, #6457A2 27.56827px -11.1383px 0 2.26667px, #6457A2 27.22365px -12.12075px 0 2.2px, #6457A2 26.84398px -13.09268px 0 2.13333px, #6457A2 26.42956px -14.05285px 0 2.06667px, #6457A2 25.98076px -15.0px 0 2px, #6457A2 25.49798px -15.93291px 0 1.93333px, #6457A2 24.98167px -16.85035px 0 1.86667px, #6457A2 24.43231px -17.75111px 0 1.8px, #6457A2 23.85046px -18.63402px 0 1.73333px, #6457A2 23.23668px -19.49789px 0 1.66667px, #6457A2 22.5916px -20.34157px 0 1.6px, #6457A2 21.91589px -21.16393px 0 1.53333px, #6457A2 21.21024px -21.96384px 0 1.46667px, #6457A2 20.4754px -22.74023px 0 1.4px, #6457A2 19.71215px -23.49203px 0 1.33333px, #6457A2 18.92133px -24.2182px 0 1.26667px, #6457A2 18.10379px -24.91772px 0 1.2px, #6457A2 17.26042px -25.58963px 0 1.13333px, #6457A2 16.39217px -26.23295px 0 1.06667px, #6457A2 15.5px -26.84679px 0 1px, #6457A2 14.58492px -27.43024px 0 0.93333px, #6457A2 13.64796px -27.98245px 0 0.86667px, #6457A2 12.69018px -28.50262px 0 0.8px, #6457A2 11.7127px -28.98995px 0 0.73333px, #6457A2 10.71663px -29.4437px 0 0.66667px, #6457A2 9.70313px -29.86317px 0 0.6px, #6457A2 8.67339px -30.2477px 0 0.53333px, #6457A2 7.6286px -30.59666px 0 0.46667px, #6457A2 6.57001px -30.90946px 0 0.4px, #6457A2 5.49886px -31.18558px 0 0.33333px, #6457A2 4.41643px -31.42451px 0 0.26667px, #6457A2 3.32401px -31.6258px 0 0.2px, #6457A2 2.22291px -31.78904px 0 0.13333px, #6457A2 1.11446px -31.91388px 0 0.06667px, #6457A2 0.0px -32px 0 0px, #6457A2 -1.11911px -32.04713px 0 -0.06667px, #6457A2 -2.24151px -32.05506px 0 -0.13333px, #6457A2 -3.36582px -32.02361px 0 -0.2px, #6457A2 -4.49065px -31.95265px 0 -0.26667px, #6457A2 -5.61462px -31.84212px 0 -0.33333px, #6457A2 -6.73634px -31.69198px 0 -0.4px, #6457A2 -7.8544px -31.50227px 0 -0.46667px, #6457A2 -8.9674px -31.27305px 0 -0.53333px, #6457A2 -10.07395px -31.00444px 0 -0.6px, #6457A2 -11.17266px -30.69663px 0 -0.66667px, #6457A2 -12.26212px -30.34982px 0 -0.73333px, #6457A2 -13.34096px -29.96429px 0 -0.8px, #6457A2 -14.4078px -29.54036px 0 -0.86667px, #6457A2 -15.46126px -29.07841px 0 -0.93333px, #6457A2 -16.5px -28.57884px 0 -1px, #6457A2 -17.52266px -28.04212px 0 -1.06667px, #6457A2 -18.52792px -27.46878px 0 -1.13333px, #6457A2 -19.51447px -26.85936px 0 -1.2px, #6457A2 -20.48101px -26.21449px 0 -1.26667px, #6457A2 -21.42625px -25.53481px 0 -1.33333px, #6457A2 -22.34896px -24.82104px 0 -1.4px, #6457A2 -23.2479px -24.07391px 0 -1.46667px, #6457A2 -24.12186px -23.29421px 0 -1.53333px, #6457A2 -24.96967px -22.48279px 0 -1.6px, #6457A2 -25.79016px -21.64052px 0 -1.66667px, #6457A2 -26.58223px -20.76831px 0 -1.73333px, #6457A2 -27.34477px -19.86714px 0 -1.8px, #6457A2 -28.07674px -18.938px 0 -1.86667px, #6457A2 -28.7771px -17.98193px 0 -1.93333px, #6457A2 -29.44486px -17.0px 0 -2px, #6457A2 -30.07908px -15.99333px 0 -2.06667px, #6457A2 -30.67884px -14.96307px 0 -2.13333px, #6457A2 -31.24325px -13.91039px 0 -2.2px, #6457A2 -31.7715px -12.83652px 0 -2.26667px, #6457A2 -32.26278px -11.74269px 0 -2.33333px, #6457A2 -32.71634px -10.63018px 0 -2.4px, #6457A2 -33.13149px -9.5003px 0 -2.46667px, #6457A2 -33.50755px -8.35437px 0 -2.53333px, #6457A2 -33.84391px -7.19374px 0 -2.6px, #6457A2 -34.14px -6.0198px 0 -2.66667px, #6457A2 -34.39531px -4.83395px 0 -2.73333px, #6457A2 -34.60936px -3.63759px 0 -2.8px, #6457A2 -34.78173px -2.43218px 0 -2.86667px, #6457A2 -34.91205px -1.21916px 0 -2.93333px, #6457A2 -35px 0.0px 0 -3px, #6457A2 -35.04531px 1.22381px 0 -3.06667px, #6457A2 -35.04775px 2.45078px 0 -3.13333px, #6457A2 -35.00717px 3.6794px 0 -3.2px, #6457A2 -34.92345px 4.90817px 0 -3.26667px, #6457A2 -34.79654px 6.13557px 0 -3.33333px, #6457A2 -34.62643px 7.36007px 0 -3.4px, #6457A2 -34.41316px 8.58016px 0 -3.46667px, #6457A2 -34.15683px 9.79431px 0 -3.53333px, #6457A2 -33.85761px 11.001px 0 -3.6px, #6457A2 -33.5157px 12.19872px 0 -3.66667px, #6457A2 -33.13137px 13.38594px 0 -3.73333px, #6457A2 -32.70493px 14.56117px 0 -3.8px, #6457A2 -32.23675px 15.72291px 0 -3.86667px, #6457A2 -31.72725px 16.86968px 0 -3.93333px, #6457A2 -31.17691px 18px 0 -4px, #6457A2 -30.58627px 19.11242px 0 -4.06667px, #6457A2 -29.95589px 20.2055px 0 -4.13333px, #6457A2 -29.28642px 21.27783px 0 -4.2px, #6457A2 -28.57852px 22.32799px 0 -4.26667px, #6457A2 -27.83295px 23.35462px 0 -4.33333px, #6457A2 -27.05047px 24.35635px 0 -4.4px, #6457A2 -26.23192px 25.33188px 0 -4.46667px, #6457A2 -25.37819px 26.27988px 0 -4.53333px, #6457A2 -24.49018px 27.1991px 0 -4.6px, #6457A2 -23.56888px 28.0883px 0 -4.66667px, #6457A2 -22.6153px 28.94626px 0 -4.73333px, #6457A2 -21.6305px 29.77183px 0 -4.8px, #6457A2 -20.61558px 30.56385px 0 -4.86667px, #6457A2 -19.57168px 31.32124px 0 -4.93333px, #6457A2 -18.5px 32.04294px 0 -5px, #6457A2 -17.40175px 32.72792px 0 -5.06667px, #6457A2 -16.27818px 33.37522px 0 -5.13333px, #6457A2 -15.1306px 33.98389px 0 -5.2px, #6457A2 -13.96034px 34.55305px 0 -5.26667px, #6457A2 -12.76875px 35.08186px 0 -5.33333px, #6457A2 -11.55724px 35.56951px 0 -5.4px, #6457A2 -10.32721px 36.01527px 0 -5.46667px, #6457A2 -9.08014px 36.41843px 0 -5.53333px, #6457A2 -7.81748px 36.77835px 0 -5.6px, #6457A2 -6.54075px 37.09443px 0 -5.66667px, #6457A2 -5.25147px 37.36612px 0 -5.73333px, #6457A2 -3.95118px 37.59293px 0 -5.8px, #6457A2 -2.64145px 37.77443px 0 -5.86667px, #6457A2 -1.32385px 37.91023px 0 -5.93333px;
  -moz-animation: whirly-loader 1.25s infinite linear;
  -webkit-animation: whirly-loader 1.25s infinite linear;
  animation: whirly-loader 1.25s infinite linear;
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.precios {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 20px;
}

.pricing {
  box-shadow: 1px 4px 20px -2px rgb(0 0 0/10%);
  padding: 4px;
  background-color: #fff;
  border-radius: 32px;
  margin-bottom: 48px;
  display: flex;
  flex-wrap: nowrap;
  /* Evita que los elementos se desplacen hacia abajo */
  justify-content: center;
  /* Centra los elementos horizontalmente */
  width: fit-content;
  margin: 0 auto;
}

.pricing button.active {
  background-color: #6457A2;
  color: #fff;
  margin-top: 0px;
}

.pricing button {
  border-radius: 32px !important;
  border: none !important;
  position: relative;
  padding: 8px 16px;
  transition: all .2s ease-in-out;
  background-color: transparent;
  box-shadow: none !important;
  color: #777;
  margin-right: 8px;
  white-space: nowrap;
}

.pricing button label {
  display: inline;
  background-color: #FAB724;
  color: #000000;
  font-size: 10px;
  padding: 0 4px;
  border-radius: 8px;
  margin-left: 4px;
}

.pricing button:last-child {
  margin-right: 0;
}

@media (max-width: 480px) {
  .pricing {
    flex-direction: column;
    width: 100%;
    overflow-x: auto;
    padding: 8px;
  }

  .pricing button {
    flex: 0 0 auto;
    white-space: nowrap;
    margin: 8px 0;
  }
}

.price-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 20px;
  width: 80%;
}

.price-list2 {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 20px;
  width: 80%;
}

.plan {
  flex-basis: 23%;
  margin-bottom: 20px;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  border-radius: 32px;
  text-align: left;
  border: 2px solid #ffffff;
  transition: border-color 0.3s;
  position: relative;
}

.plan:hover {
  border-color: #6457A2;
}

.plan h3 {
  color: #4b4b4b;
  text-align: center;
  /* Alineación centrada */
}

.plan p {
  margin-bottom: 10px;
  position: relative;
  padding-left: 30px;
  font-size: 14px;
}

.plan p:last-child {
  margin-bottom: 20px;
}

.plan p:last-child::before {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  background-color: #9c27b0;
  border-radius: 50%;
}

.plan p i {
  margin-left: 10px;
  /* Añadido margin-left para agregar un espacio */
  position: absolute;
  top: 50%;
  left: 0;
  /* Posicionamiento a la derecha */
  transform: translateY(-50%);
  color: #FAB724;
  font-size: 12px;
}

.plan p i.fa-times {
  color: #f36;
}

.plan button {
  display: block;
  margin: 0 auto;
  width: 120px;
  padding: 10px;
  background-color: #6457A2;
  color: #ffffff;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.plan button:hover {
  background-color: #4a4175;
  color: white;
}

.plan h1 {
  color: #000;
  text-align: center;
  /* Alineación centrada */
}

.plan h5 {
  color: #777;
  text-align: center;
  /* Alineación centrada */
}

.plan label {
  font-size: 12px;
  padding: 1px 10px 1px 5px;
  /* Ajusta el valor de padding-right según tus preferencias */
  border-bottom: 1px dotted #6457A2;
  color: #6457A2;
  letter-spacing: 1px;
  position: absolute;
  right: 50%;
  transform: translateX(50%);
  font-weight: bold;
}

.plan-header {
  background-color: #FAB724; /* El color verde que desees usar */
  border-top-left-radius: 32px; /* Coincide con el border-radius de tu .plan2 */
  border-top-right-radius: 32px; /* Coincide con el border-radius de tu .plan2 */
  color: #ffffff; /* Color de texto para la cabecera */
  padding: 10px; /* Ajusta el padding según lo necesites */
  text-align: center; /* Alinea el texto al centro */
  font-weight: bold; /* Si quieres el texto en negritas */
}

.plan2 {
  flex-basis: 30%;
  margin-bottom: 20px;
  /* padding: 20px; */
  background-color: #ffffff;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  border-radius: 32px;
  text-align: left;
  border: 2px solid #ffffff;
  transition: border-color 0.3s;
  position: relative;
}

.plan2:hover {
  border-color: #6457A2;
}

.plan2 h1 {
  color: #000;
  text-align: center;
  font-size: 20px;
  /* Alineación centrada */
}

.plan2 h5 {
  color: #777;
  text-align: center;
  /* Alineación centrada */
}

@media only screen and (max-width: 1290px) {
  .plan {
    flex-basis: 30%;
  }
  .plan2 {
    flex-basis: 30%;
  }
}

@media only screen and (max-width: 1040px) {
  .plan {
    flex-basis: 45%;
  }
  .plan2 {
    flex-basis: 45%;
  }
}

@media only screen and (max-width: 720px) {
  .plan {
    flex-basis: 100%;
  }
  .plan2 {
    flex-basis: 100%;
  }
}



/* Formulario de contáctanos */

.contacto-container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 100vh; */
  width: 60%;
  margin: 0 auto;
}

.contacto-form,
.contacto-info {
  flex: 1;
  padding: 20px;
}

.contacto-form {
  background-color: #fff;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  border-radius: 32px;
  margin-right: 10px;
}

.contacto-info {
  background-color: #fff;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  border-radius: 32px;
  margin-left: 10px;
}

label,
input {
  display: block;
  margin-bottom: 10px;
}

.form-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.form-row label {
  width: 100%;
  margin-right: 10px;
}

.form-row input[type="text"] {
  flex-grow: 1;
}

input[type="text"],
textarea {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 8px;
  transition: border-color 0.3s ease;
}

input[type="text"]:focus,input[type="email"]:focus,input[type="password"]:focus,
textarea:focus {
  outline: none;
  border-color: #6457A2;
  /* Cambia el color del borde cuando se selecciona el input */
  border-width: 2px;
}

input[type="radio"]:checked {
  border-color: #6457A2;
  /* Cambia el color del borde del radio button seleccionado */
}

.contacto-form button {
  padding: 10px 20px;
  display: block;
  margin: 0 auto;
  /* Centra el botón */
  width: 50%;
  /* Establece un ancho del 50% */
  border-width: 2px;
}

.contacto-form,
.contacto-info h2 {
  font-weight: 600;
  font-family: poppins, sans-serif;
  text-align: center;
}

.contacto-form h1 {
  font-size: 13px;
  color: #777;
  padding-top: 10px;
}

@media (max-width: 768px) {
  .contacto-container {
    flex-direction: column;
    width: 80%;
    /* padding-top: 120px; */
  }

  .contacto-form {
    margin-bottom: 20px;
  }

  .contacto-form,
  .contacto-info {
    width: 100%;
  }

  .form-row label {
    width: 100%;
  }

  input[type="submit"] {
    width: 100%;
    border-width: 2px;
  }
  label {
    font-size: 12px;
  }
}

/* ESTILOS PARA UBÍCANOS */

.icon {
  display: flex;
  align-items: center;
}

.circle {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  height: 80px;
  width: 80px;
  background: #fff;
  border-radius: 63% 37% 30% 70%/50% 45% 55% 50%;
  color: #086ad8;
  margin-right: 8px;
  box-shadow: 0 5px 30px 0 rgba(214, 215, 216, .57);
}

.circle i {
  font-size: 30px;
  color: #6457a2;
}

.contact-list li {
  margin-bottom: 10px;
  /* Ajusta el valor según el espaciado deseado */
}

.label {
  font-weight: bold;
}

.additional-info {
  font-size: 14px;
  color: #888;
  margin-top: 4px;
}

@media (max-width: 768px) {
  .circle {
    width: 40px;
    height: 40px;
  }

  .circle i {
    font-size: 16px;
  }
}

@media (min-width: 481px) {
  .icon {
    flex-direction: row;
    align-items: center;
  }

  .circle {
    margin-right: 8px;
  }

  .label-wrapper {
    text-align: left;
  }
}

@media (max-width: 480px) {
  .icon {
    flex-direction: column;
    align-items: center;
  }

  .circle {
    margin-right: 0;
  }

  .label-wrapper {
    text-align: center;
  }

  .label {
    margin-top: 8px;
  }
}


.swal2-container {
  z-index: 9999 !important;
}

/* Estilos para el footer */
footer {
  display: flex;
  justify-content: space-between;
  background-color: #6457A2;
  padding: 20px;
  padding-top: 90px;
  flex-wrap: wrap;
  color: #fff;
  /* Cambiar el color del texto a blanco */
  padding-left: 50px;
  padding-right: 50px;
}

.footer-section img {
  max-width: 50%;
  height: auto;
  margin: 0 auto;
}

.footer-section {
  flex: 1;
  margin-right: 20px;
  margin-bottom: 20px;
  /* text-align: center; */
}

.footer-section:last-child {
  margin-right: 0;
}

.footer-section h3 {
  font-size: 28px;
  margin-bottom: 10px;
}

.footer-section p {
  font-size: 14px;
  text-align: justify;
}

.footer-section .links {
  display: flex;
  /* Agregar display flex */
  flex-direction: column;
  /* Agregar flex-direction column */
}

.footer-section a {
  display: inline-block;
  margin-bottom: 5px;
  text-decoration: none;
  color: #333;
  font-size: 13px;
  /* Reducir tamaño de fuente para las etiquetas <a> */
  color: #fff;
  /* Cambiar el color del texto a blanco */
  flex-direction: column;
  /* Agregar flex-direction column */
}
.footer-section a i{
  font-size: 24px;
  color: #fff;
  padding: 10px;
}

.footer-section a i:hover{
  font-size: 24px;
  color: #FAB724;
  padding: 10px;
}

.bottom-footer {
  background-color: #5343a0;
  padding: 10px 20px;
  color: #fff;
  /* Cambiar el color del texto a blanco */
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.bottom-footer .right {
  flex-basis: 50%;
  text-align: right;
  padding-right: 100px;
}

.bottom-footer .left {
  flex-basis: 50%;
  padding-left: 100px;
}

.bottom-footer .left p {
  margin: 0;
}

.bottom-footer .right a {
  display: inline;
  margin-bottom: 5px;
  text-decoration: none;
  color: #fff;
  font-size: 12px;
  /* Reducir tamaño de fuente para las etiquetas <a> */
}

.contact-info {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.contact-info i {
  margin-right: 10px;
}

.contact-text p {
  margin: 0;
}

.footer-section .contact-info i {
  font-size: 24px;
  /* Aumentar el tamaño del ícono */
  margin-right: 10px;
  /* Agregar un poco de espacio entre el ícono y el texto */
}

/* Estilos Responsive */
@media (max-width: 768px) {
  .bottom-footer {
    flex-direction: column;
    align-items: flex-start;
  }

  .bottom-footer .left,
  .bottom-footer .right {
    flex-basis: 100%;
    padding: 0;
    text-align: left;
  }

  .bottom-footer .right a {
    display: block;
    margin-bottom: 5px;
  }
}

@media (max-width: 768px) {
  footer {
    padding-top: 20px;
  }

  .footer-section {
    flex-basis: 50%;
    text-align: justify;
    padding-left: 0px;
  }
}



/* NOSOTROS */
.box-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 30px;
}

.nosotros-container{
  max-width: 100%;
  background-color: #fff;
  padding-top: 20px;
}

.box {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  flex-basis: calc(50% - 20px);
  /* Cambiado a 50% */
  max-width: calc(50% - 20px);
  /* Cambiado a 50% */
}

.box img {
  max-width: 100%;
  height: auto;
  margin-right: 20px;
  border-radius: 10px;
  /* Aplica un radio de borde de 10px */
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  /* Aplica una sombra */

}

.process-container {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: flex-start; Cambiado a flex-start */
  justify-content: space-between;

}
.process-container2 {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: flex-start; Cambiado a flex-start */
  justify-content: space-between;

}

.process {
  flex-basis: calc(25% - 20px);
  /* Cambiado a 25% */
  /* border: 1px solid #ccc; */
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  /* box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1); */
  border-radius: 32px;
  text-align: center;
  /* Añadido para centrar el contenido */
  border: 2px solid #f4f7fc;
  background-color: #fff;
}

.process2 {
  display: flex;
  align-items: center;
  flex-basis: calc(25% - 20px);
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  border-radius: 32px;
  text-align: center;
  border: 2px solid #f4f7fc;
  position: relative; /* Nueva línea */
}
.process3 {
  flex-basis: calc(25% - 25px);
  /* Cambiado a 25% */
  /* border: 1px solid #ccc; */
  padding: 17px;
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  border-radius: 32px;
  text-align: center;
  /* Añadido para centrar el contenido */
  border: 2px solid #f4f7fc;
  background: #fff;
}

.process4 {
  flex-basis: calc(33.3% - 25px);
  /* border: 1px solid #ccc; */
  padding: 17px;
  margin-bottom: 20px;
  border-radius: 5px;
  /* box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1); */
  /* border-radius: 32px; */
  text-align: center;
  /* border: 2px solid #f4f7fc; */
}

.process i {
  /* background-color: #f2f6fc; */
  padding: 5px;
  border-radius: 50%;
  font-size: 80px;
  color: #e6a23c;
}

.process3 i {
  padding: 5px;
  border-radius: 50%;
  font-size: 80px;
  color: #6457a2;
}

.process4 i {
  background-color: #fff;
  padding: 5px;
  border-radius: 50%;
  font-size: 80px;
  color: #6457a2;
}

.process4 i:hover {
  color: #606266;
}

.process2 i {
  background-color: #f2f6fc;
  padding: 12px;
  border-radius: 50%;
  font-size: 80px;
  color: #e6a23c;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  margin-top: -40px;
  position: absolute;
}

.process-content {
  margin-top: 30px; /* Espacio para el ícono */
}

.process h3 {
  color: #333;
  margin-top: 10px;
  margin-bottom: 5px;
}

.process2 h3 {
  color: #333;
  margin-top: 10px;
  margin-bottom: 5px;
}

.process3 h3 {
  color: #333;
  margin-top: 10px;
  margin-bottom: 5px;
}

.process4 h3 {
  color: #333;
  margin-top: 10px;
  margin-bottom: 5px;
}

.process p {
  color: #666;
  margin-bottom: 0;
  font-size: 13px;
  text-align: justify;
}

.process2 p {
  color: #666;
  margin-bottom: 0;
  font-size: 13px;
  text-align: justify;
}

.process3 p {
  color: #666;
  margin-bottom: 0;
  font-size: 13px;
  text-align: justify;
}

.process4 p {
  color: #666;
  margin-bottom: 0;
  font-size: 13px;
  text-align: justify;
}

section {
  max-width: 75%;
  margin: 0 auto;
}

.process:hover {
  border-color: #6457A2;
}

.process2:hover {
  border-color: #6457A2;
}

.process3:hover {
  border-color: #909399;
}
.process img{
  width: 50%;
}

.image-div {
  flex-basis: 50%;
  width: 50%;
}

.image-div img{
  width: -webkit-fill-available;
}
.centrado3 label {
  padding-left: 20px;font-size: 13px;color: #606266
}
.centrado3 p {
  font-size: 13px;
}
/* Estilos responsive */
@media screen and (max-width: 1180px) { 
  .process {
    flex-basis: calc(30%);
  }
}

@media screen and (max-width: 768px) {
  .box-container {
    flex-direction: column;
  }

  .box {
    flex-basis: 100%;
    max-width: 100%;
  }

  .process-container {
    justify-content: flex-start;
  }

  .process-container2 {
    justify-content: flex-start;
    flex-direction: column;
  }

  .process {
    min-width: 48%;
    flex-basis: 48%;
    margin: 0 auto;
    margin-bottom: 10px;
  }

  .process h3{
    font-size: 11px;
  }
  .process p{
    font-size: 11px;
  }

  .process2 {
    position: static;
    text-align: center;
  }

  .process3 {
    flex-basis: 100%;
  }

  .process4 {
    flex-basis: 100%;
    padding: 0px;
  }
  .process4 i {
    font-size: 40px;
  }
  .process4 h3 {
    font-size: 11px;
  }
  .process4 p {
    font-size: 11px;
  }
  .images-box-container .process4{
    padding: 17px;
  }
  .process2 i {
    position: relative;
    top: auto;
    left: auto;
    transform: none;
    margin-bottom: 20px;
  }
  .process2-content {
    margin-top: 0;
  }
  .process img{
    width: 50%;
  }
  .centrado3 label {
    font-size: 11px;
  }
  .centrado3 p {
    font-size: 11px;
  }
  .centrado2 h4 {
    font-size: 1.1rem;
  }
  .centrado h4 {
    font-size: 1.1rem;
  }
}
@media screen and (min-width: 1000px) {
  .process-container2 {
    /* display: block; */
    flex-wrap: wrap;
    /* justify-content: flex-start; Cambiado a flex-start */
    justify-content: space-between;
  }
  .image-div {
    width: 50%;
}

}
.centrado2 label i {
  color: #6457a2;
  font-size: 16px;
}

/* DATATABLE */

.pagination-container {
  display: flex;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  max-width: 100%;
}

.pagination-container .el-pagination {
  flex-shrink: 0;
  white-space: nowrap;
}
.custom-data-table {
  width: 100%;
}

.custom-data-table table {
  width: 100%;
  border-collapse: collapse;
}

.custom-data-table th,
.custom-data-table td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ccc;
  vertical-align: top;
  font-size: 13px;
  text-align: center;
}

.custom-data-table th {
  font-weight: bold;
  background-color: #6457A2;
  color: #f5f7fa;
  vertical-align: bottom;
  border-bottom: 2px solid #000000;
}

.custom-data-table tr:hover {
  background-color: #f9f9f9;
}

.data-table-wrapper {
  display: flex;
  justify-content: center;
}

.data-table-container {
  max-width: 100%;
  overflow-x: auto;
  width: 90%;
  -webkit-overflow-scrolling: touch;
  padding: 50px;
  background: #ffffff;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  border-radius: 32px;
}

.flex-container {
  display: flex;
  align-items: center;
}

.flex-item {
  margin-right: 10px;
}
.flex-item-inicio {
  margin-right: 10px;
}

.pb-3 {
  padding-bottom: 3px;
}

.pb-2 {
  padding-bottom: 2px;
}

.estados{
  background-color: #6457A2;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;

  padding: 10px 25px;
  border-radius: 30px;
  color: #fff;
  font-weight: 600;
  width: 70%;
}

.state{
  background-color: #FAB724;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;

  padding: 10px 25px;
  border-radius: 30px;
  color: #fff;
  font-weight: 600;
  width: 70%;
}

@media screen and (max-width: 768px) {
  .estados {
    font-weight: 600;
    width: 100%;
  }

  .state {
    font-weight: 600;
    width: 100%;
  }

  .flex-container {
    flex-direction: column;
    align-items: flex-start;
  }

  .flex-item-inicio {
    margin-right: 0;
    margin-bottom: 10px;
    width: 50%;
  }

  .table-responsive {
    overflow-x: auto;
    position: relative; /* Agregado */
  }
}
.inicio{
  padding-top: 80px;
}


/* bloque para imagen y para texto  */
.my-container {
  width: 80%;
  margin: 0 auto; /* Margen automático a izquierda y derecha para centrarlo */
  background: #6457a2; /* Color de fondo del div general */
  display: flex;
  flex-wrap: wrap;
  border-radius: 16px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.my-text-container {
  width: 50%;
  padding: 20px;
  box-sizing: border-box;
  padding-left: 50px;
  padding-top: 80px;
  padding-right: 0px;
}

.my-image-container {
  width: 50%;
  box-sizing: border-box;
}


.my-image-container {
  background-size: cover;
  background-position: center;
}

.my-text-container p {
  margin: 0;
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1.5rem;
  margin-bottom: 15px;
  text-align: justify;
}

.my-text-container h4 {
  color: #fff;
  margin: 0 0 15px;
  text-transform: none;
  font-weight: 400;
  line-height: 26px;
  font-size: 0.9rem;
  text-align: justify;
}

.my-image-container img {
    height: fit-content;
    width: -webkit-fill-available;
    padding: 50px;
}
@media (max-width: 1420px) {
  .my-text-container {
    padding-left: 25px;
    padding-top: 50px;
    padding-right: 25px;
    width: 50%;
  }
  .my-image-container {
    width: 50%;
    padding: 0px;
  }
  .my-image-container img {
    padding-top: 80px;
  }
}

@media (max-width: 768px) {
  .my-text-container {
    padding-left: 25px;
    padding-top: 50px;
    padding-right: 25px;
    width: 100%;
    text-align: center;
  }
  .my-image-container {
    width: 100%;
    padding: 0px;
  }
  .my-image-container img {
    padding: 0px;
  }
}


/* bloque de contáctanos */

@font-face {
  font-family: 'Bogart Black';
  src: url('ruta-de-la-fuente/Bogart-Black.ttf') format('truetype');
}

.frecuentes {
  width: 50%;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px;
  border-radius: 16px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  margin-bottom: 8px;
}
.full-width-container {
  width: 80%;
  background: #6457A2;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  transform: translateY(50px);
  transition: opacity 2s ease, transform 2s ease;
  border-radius: 16px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
}

.full-width-container h2 {
  margin-right: 10px;
  font-family: 'Bogart Black', Arial, sans-serif;
  color: white;
  text-transform: uppercase;
}

.full-width-container button {
  background: #FAB724;
  color: black;
  border: none;
  padding: 15px 25px;
  border-radius: 30px;
  font-weight: 600;
  cursor: pointer;
  text-transform: uppercase;
}
.full-width-container button:hover {
  background-color: #4a4175;
  color: white;
}

@media (max-width: 768px) {
  .full-width-container h2 {
    font-size: 18px;
  }
  .frecuentes {
    width: 80%;
  }
}

@keyframes openEffect {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}




.main-div {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}


.labels-div {
  flex-basis: 50%;
  display: flex;
  flex-wrap: wrap;
}

.label-item {
  flex-basis: 50%;
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.label-item i{
  background-color: #f2f6fc;
  padding: 5px;
  border-radius: 50%;
  font-size: 50px;
  color: #6457a2;
}

.description {
  text-align: center;
}

@media (max-width: 768px) {
  /* Estilos para pantallas más grandes (mayor o igual a 768px) */
  .image-div {
    width: 100%;
  }

  .labels-div {
    flex-basis: 100%;
    flex-direction: column; /* Mostrar las etiquetas en una columna */
  }
}



.main-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.horizontal-box {
  width: 100%;
  padding: 40px;
  background-color: #606266;
  padding-bottom: 170px!important;
  text-align: center;
}

.horizontal-box h2{
  margin: 0;
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1.5rem;
  margin-bottom: 15px;
  text-align: center;
}

.horizontal-box p{
  color: #fff;
}

.vertical-box {
  display: flex; /* Agregamos esta propiedad para que los icon-container sean dispuestos horizontalmente */
  justify-content: space-between; /* Espacio entre cada icon-container */
  width: 80%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  padding: 20px;
  overflow: visible;
  background-color: #fff;
  margin: 0 auto;
  margin-top: -6%;
  border-radius: 16px;
}

.icon-container {
  text-align: center;
  width: 30%; /* Distribuimos el espacio de manera equitativa entre los icon-container */
}

.icon-container i {
  display: block;
  margin-bottom: 10px;
  font-size: 100px;
  color: #6457a2;
}

.icon-container h3, .icon-container p {
  margin: 0;
}

@media (max-width: 768px) {
  .main-container {
    flex-direction: column;
  }
  
  .vertical-box {
    margin-top: 20px;
  }
  
  .icon-container {
    width: 100%;
    margin-bottom: 20px;
  }
  
  .icon-container:nth-child(2) {
    order: 3;
  }
  
  .icon-container:nth-child(3) {
    order: 2;
  }
  .horizontal-box {
    padding-bottom: 50px!important;
  }
  .horizontal-box h2 {
    font-size: 1.1rem;
  }
  .horizontal-box p {
    font-size: 11px;
  }
}

.images-box-container {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: flex-start; Cambiado a flex-start */
  justify-content: space-between;

}

.images-box {
  display: flex; /* Agregamos esta propiedad para que los icon-container sean dispuestos horizontalmente */
  justify-content: space-between; /* Espacio entre cada icon-container */
  width: 80%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  padding: 20px;
  overflow: visible;
  background-color: #fff;
  margin: 0 auto;
  border-radius: 16px;
}

.tarjeta{
  width: 350px;
  height: 300px;
  position: relative;
  margin-top: 2rem;
  border-radius: 7px;
  box-shadow: 0 0 10px black;
  overflow: hidden;
  cursor: pointer;
}

.tarjeta .tarjeta-imagen{
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.tarjeta .tarjeta-contenido{
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  border-radius: 7px;
  transform: translateY(100%);

  transition: 400ms ease;
}

.tarjeta .tarjeta-contenido .tarjeta-boton{
  color: black;
  background-color: white;
  display: inline-block;
  padding: 10px 30px;
  border-radius: 7px;
  font-size: 18px;
  font-weight: bold;
  border: none;
  outline: 3px solid white;
  outline-offset: 4px;
}

.tarjeta .tarjeta-imagen:hover + .tarjeta-contenido, .tarjeta-contenido:hover {
  transform: translateY(0);
}

.tarjeta-contenido p{
  color: #fff;
  margin-bottom: 0;
  font-size: 13px;
  text-align: justify;
}

.tarjeta-contenido h1{
  color: #e6a23c;
  text-transform: uppercase;
  font-size: 25px;
}

@media screen and (max-width: 480px) {

  .process-container2 {
    justify-content: flex-start;
    flex-direction: column;
  }

  .images-box-container {
    display: flex;
    /* justify-content: flex-start; Cambiado a flex-start */
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .tarjeta{
    width: 240px;
    height: 240px;
  }

  .process-container2 {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: flex-start; Cambiado a flex-start */
    justify-content: space-between;
  
  }

}



.product-image {
  text-align: center;
}
.product-list {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  width: 80%;
}

.product-card {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  position: relative;
}

.product-card:hover {
  transform: translateY(-5px);
  box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.2);
}

.product-image img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 70%;
}

.product-details {
  padding: 20px;
  text-align: center;
}

.product-name {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.product-description {
  color: #777;
  line-height: 1.4;
  margin-bottom: 15px;
}

.product-price {
  font-size: 1.2rem;
  color: #333;
  text-align: center;
}
@media (max-width: 1100px) {
  .product-list {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 768px) {
  .product-list {
    grid-template-columns: repeat(1, 1fr);
  }
}



.reasons-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  gap: 20px; /* Espacio entre los elementos */
  padding: 20px;
}

.reason {
  flex-basis: 20%; /* Ajusta este valor para cambiar el ancho de las columnas */
  padding: 20px;
}

.reason-icon {
  color: white;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 10px; /* Centra el círculo y añade espacio debajo */
  font-size: 35px;
}

.reason-icon img{
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  font-size: 35px;
}

.reason-text {
  color: #000000; /* Color del texto */
  margin-bottom: 10px; /* Espacio debajo del texto */
  font-weight: bold; /* Hace el texto en negrita */
}




.features-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 40px;
  gap: 20px;
  max-width: 1200px;
  margin: auto;
}

.features-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.feature-card {
  background: #ffffff;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 320px; /* Ancho de la tarjeta */
  display: flex;
  align-items: center;
  gap: 15px; /* Espacio entre el icono y el texto */
}

.feature-card i {
  color: #6457A2; /* Color del icono */
  font-size: 30px; /* Tamaño del icono */
  flex-shrink: 0; /* Evita que el ícono se encoja */
}

.feature-text {
  color: #333;
  display: flex;
  flex-direction: column;
}

.feature-text h4 {
  font-size: 18px;
  margin: 0;
  color: #000; /* Color del título */
}

.feature-text p {
  font-size: 14px;
  margin: 5px 0 0 0; /* Margen para separar el párrafo del título */
  color: #555; /* Color del párrafo */
}

.central-image {
  padding: 20px; /* Ajusta el padding si es necesario */
}

.central-image img {
  width: 240px; /* Ajusta al tamaño de tu imagen */
  height: auto;
}

@media (max-width: 768px) {
  .features-container {
    flex-direction: column;
  }

  .features-column {
    order: 2; /* Asegúrate de que las columnas vayan después de la imagen central */
  }

  .central-image {
    order: 1; /* La imagen central va primero */
  }
}

.viewer-pdf{
  height: 100%;
  width: 100%;
}


.carousel-container {
  width: 80%; /* o el ancho que prefieras */
  margin: auto; /* esto centrará el contenedor */
  overflow: hidden;
}

.carousel-slide {
  display: flex;
  transition: transform 0.5s ease-in-out;
  will-change: transform; /* mejora el rendimiento de las transiciones */
}

.carousel-slide img {
  max-width: 100%; /* asegúrate de que las imágenes no sean más grandes que su contenedor */
  display: block;
  margin: 0 auto; /* esto centrará las imágenes dentro del carrusel */
  padding: 10px; /* Opcional: para dar espacio entre las imágenes */
}



.slider {
  width: 75vw;
  height: auto;
  margin: auto;
  overflow: hidden;
}

.slider .slide-track {
  display: flex;
  animation: scroll 20s linear infinite;
  -webkit-animation: scroll 20s linear infinite;
  width: calc(200px * 10);
}

.slider .slide {
  width: 200px;
}

.slider .slide img {
  width: 100%;
}

@keyframes scroll {
  0% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
  }
  100% {
      -webkit-transform: translateX(calc(-200px * 5));
      transform: translateX(calc(-200px * 5));
  }
}