<template>
    <div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <div class="data-table-wrapper">
            <div class="data-table-container">
                <data-table class="custom-data-table">
                    <tr slot="heading">
                        <th>#</th>
                        <th class="text-center">Nombre</th>
                        <th class="text-center">RUC</th>
                        <th class="text-center">Teléfono</th>
                        <th class="text-center">Mes</th>
                        <th class="text-center">Plan</th>
                        <th class="text-center">Fecha</th>
                        <th class="text-center">Estado</th>
                    </tr>
                    <tr slot-scope="{ index, row }">
                        <td>{{ index }}</td>
                        <td class="text-center">{{ row.name }}</td>
                        <td class="text-center">{{ row.RUC }}</td>
                        <td class="text-center">{{ row.phone }}</td>
                        <td class="text-center">{{ row.mounth }}</td>
                        <td class="text-center">{{ row.plan }}</td>
                        <td class="text-center">{{ row.created_at }}</td>
                        <template v-if="row.state === 0">
                            <td>
                                <button class="btn estados" @click="Estado(row.id)">Sin responder</button>
                            </td>
                        </template>
                        <template v-else>
                            <td>
                                <button class="btn state" @click="Estado(row.id)">Respondido</button>
                            </td>
                        </template>
                    </tr>
                </data-table>
            </div>
        </div>
        <br>
        <br>
        <br>
        <br>
    </div>
</template>

<script>
import DataTable from '../components/DataTable.vue';

export default {
    components: {
        DataTable,
    },
    data() {
        return {
            search : null
        }
    },
    methods: {
        Estado(id){
            this.$http.get(`/contacts/state/${id}`).then(res => {
                if (res.data.success) {
                    this.$message.success('Estado cambiado con éxito')
                    this.$eventHub.$emit('reloadData')
                }
                else{
                    const {message = 'Error al intentar cambiar el estado'} = res.data
                    this.$message.error(message)
                }
            })
        }
    },
}
</script>