<template>
    <div class="inicio">
        <div class="full-width-container">
            <h2>Recibe una asesoría gratis con un especialista</h2>
            <button  @click="enviar('contactanos')">Contacta ahora</button>
        </div>
        <form-izi :showDialog.sync="showDialogForm"
                    :plan="plan"
                    :mounth="mounth">
        </form-izi>
    </div>
</template>
<script>
export default {
    data() {
        return {
            showDialogForm: false,
            plan: null,
            mounth: null
        };
    },
    methods: {
        enviar(nivel){
            this.plan = nivel
            this.showDialogForm = true
        }
    },
};
</script>