<template>
    <div >
        <div class="centrado">
            <h4>INDUSTRIAS IZIFACT</h4>
            <h2>Nos adaptamos a todo tipo de negocio</h2>
        </div>
        <section>
            <div class="process-container">
                <div class="process">
                    <img :src="images_url.supermercado" alt="Descripción de la imagen">
                    <h3>Supermercados</h3>
                </div>
                <div class="process">
                    <img :src="images_url.farmacia" alt="Descripción de la imagen">
                    <h3>Farmacias</h3>
                </div>
                <div class="process">
                    <img :src="images_url.ferreteria" alt="Descripción de la imagen">
                    <h3>Ferreterías</h3>
                </div>
                <div class="process">
                    <img :src="images_url.restaurante" alt="Descripción de la imagen">
                    <h3>Restaurantes</h3>
                </div>
                <div class="process">
                    <img :src="images_url.colegios" alt="Descripción de la imagen">
                    <h3>Colegios</h3>
                </div>
                <div class="process">
                    <img :src="images_url.hotel" alt="Descripción de la imagen">
                    <h3>Hoteles</h3>
                </div>
                <div class="process">
                    <img :src="images_url.transporte" alt="Descripción de la imagen">
                    <h3>Transportes</h3>
                </div>
                <div class="process">
                    <img :src="images_url.libreria" alt="Descripción de la imagen">
                    <h3>Librerías</h3>
                </div>
                <div class="process">
                    <img :src="images_url.gimnasios" alt="Descripción de la imagen">
                    <h3>Gimnasios</h3>
                </div>
                <div class="process">
                    <img :src="images_url.licoreria" alt="Descripción de la imagen">
                    <h3>Licorerías</h3>
                </div>
                <div class="process">
                    <img :src="images_url.panaderia" alt="Descripción de la imagen">
                    <h3>Panaderías</h3>
                </div>
                <div class="process">
                    <img :src="images_url.veterinaria" alt="Descripción de la imagen">
                    <h3>Veterinarias</h3>
                </div>
            </div>
        </section>
    </div>
</template>
<script>
export default {
    props: [
        'images'
    ],
    data() {
        return {
            images_url: {
                proceso: ""
            },
        };
    },
    async created() {
        this.images_url = this.images;
        console.log(this.images)
    }
};
</script>