<template>
    <div v-loading="loading_form" :element-loading-spinner="'circle-loader'">
        <div class="custom-form" v-loading="loading_submit" :element-loading-spinner="'circle-loader'">
            <div class="form-custom-form" style="order: 2;">
                <div class="card2">
                    <form autocomplete="off" @submit.prevent="submit">
                        <h2>¿Necesitas información?</h2>
                        <p>Ingresa tus datos y nos comunicaremos contigo</p>
                        <div class="form-group">
                            <label for="name">Nombre:</label>
                            <input type="text"  placeholder="Ingrese su nombre" required v-model="form.name">
                        </div>
                        <div class="form-group">
                            <label for="ruc">RUC:</label>
                            <input type="text"  placeholder="Ingrese su RUC" required v-model="form.RUC">
                        </div>
                        <div class="form-group">
                            <label for="telefono">Teléfono:</label>
                            <input type="text"  placeholder="Ingrese su teléfono" required v-model="form.phone">
                        </div>
                        <button type="submit">Enviar</button>
                    </form>
                </div>
            </div>
            <div class="image-text-custom-form" style="order: 1;">
                <div class="cont">
                    <h2><i class="fa-solid fa-bolt"></i> Desbloquea tu vida digital con IziFact <i class="fa-solid fa-bolt"></i></h2>
                </div>
                <h5>Un sistema eficiente para gestionar tus ventas, compras e inventarios, utilizado por múltiples empresas en todo el país.</h5>
            </div>
        </div>
        <br>
        <br>
        <div class="centrado">
            <h4>PLATAFORMA</h4>
            <h2>¿Qué ofrecemos?</h2>
        </div>
        <div class="wrapperbody">
            <div class="wrapper">
                <i id="left" class="fa-solid fa-angle-left"></i>
                <ul class="carousel">
                    <li class="card">
                    <div class="img"><img :src="images_url.venta" alt="img" draggable="false">
                    </div>
                    <h4>Gestión de Ventas</h4>
                    <p>Emisión de facturas, boletas, proformas, etc.</p>
                    </li>
                    <li class="card">
                    <div class="img">
                        
                    <img :src="images_url.compra" alt="img" draggable="false"></div>
                    <h4>Gestión de Compras</h4>
                    <p>Registro de compras, proveedores, clientes</p>
                    </li>
                    <li class="card">
                    <div class="img"><img :src="images_url.almacen" alt="img" draggable="false"></div>
                    <h4>Gestión de Inventarios</h4>
                    <p>Registro de productos, stock, kardex y más.</p>
                    </li>
                    <li class="card">
                    <div class="img"><img :src="images_url.reporte" alt="img" draggable="false"></div>
                    <h4>Reportes y Estadísticas</h4>
                    <p>Visualiza y descarga reportes en formato excel.</p>
                    </li>
                    <li class="card">
                    <div class="img"><img :src="images_url.guias" alt="img" draggable="false"></div>
                    <h4>Guías de Remisión</h4>
                    <p>Registro de traslados, transportistas, etc.</p>
                    </li>
                    <li class="card">
                    <div class="img"><img :src="images_url.documentos" alt="img" draggable="false"></div>
                    <h4>Documentos Personalizados</h4>
                    <p>Agrega tu logo, datos de contacto y más.</p>
                    </li>
                    <li class="card">
                    <div class="img"><img :src="images_url.soluciones" alt="img" draggable="false"></div>
                    <h4>Soluciones a Medidas</h4>
                    <p>Desarrollo personalizado para cualquier rubro</p>
                    </li>
                    <li class="card">
                    <div class="img"><img :src="images_url.equipos" alt="img" draggable="false"></div>
                    <h4>Equipos</h4>
                    <p>Monitores, impresoras térmicas, lectora de barras, etc.</p>
                    </li>
                    <li class="card">
                    <div class="img"><img :src="images_url.asesoria" alt="img" draggable="false"></div>
                    <h4>Asesoría Personalizada</h4>
                    <p>Soporte vía chat o telefónica.</p>
                    </li>
                </ul>
                <i id="right" class="fa-solid fa-angle-right"></i>
            </div>
        </div>
        <br>
        <!-- <div class="my-container">
            <div class="my-text-container">
                <p>ADMINISTRA TU NEGOCIO SIN IMPORTAR DÓNDE TE ENCUENTRES</p>
                <h4>Dirige y gestiona tu negocio desde cualquier rincón del país con total facilidad. Mantén un dominio firme sobre todas tus operaciones en cada momento, sin importar la ubicación, gracias a la accesibilidad que te ofrece cualquier dispositivo con conexión a internet. Tu negocio en tus manos, sin límites geográficos.</h4>
            </div>
            <div class="my-image-container">
                <img :src="images_url.pagina_web" alt="Descripción de la imagen">
            </div>
        </div> -->
        <div class="nosotros-container">
            <section>
                <div class="box-container">
                    <div class="box">
                        <div class="centrado2">
                            <h4>GESTIONA TU NEGOCIO DESDE CUALQUIER LUGAR</h4>
                            <p>Dirige y gestiona tu negocio desde cualquier rincón del país con total facilidad. Mantén un dominio firme sobre todas tus operaciones en cada momento, sin importar la ubicación, gracias a la accesibilidad que te ofrece cualquier dispositivo con conexión a internet. Tu negocio en tus manos, sin límites geográficos.</p>
                        </div>
                    </div>
                    <div class="box">
                        <img :src="images_url.pagina_web" alt="Imagen 1">
                    </div>
                </div>
                <!-- <div class="box-container">
                    <div class="box">
                        <img :src="images_url.mision" alt="Imagen 2">
                    </div>
                    <div class="box">
                        <p>Información sobre el segundo elemento.</p>
                    </div>
                </div> -->
            </section>
        </div>
        <br>
        <div class="centrado">
            <h4>total control de tus ventas</h4>
        </div>
        <!-- <div class="main-div">
            <div class="image-div">
                <img :src="images_url.movil_web" alt="Imagen">
            </div>
            <div class="labels-div"> -->
                <section>
                    <div class="process-container">
                        <div class="process">
                            <img :src="images_url.planes" alt="Descripción de la imagen">
                            <h3>Planes Flexibles</h3>
                            <p>Solución que se adapta al tamaño y evolución de tu negocio.</p>
                        </div>
                        <div class="process">
                            <img :src="images_url.soporte" alt="Descripción de la imagen">
                            <h3>Soporte Personalizado</h3>
                            <p>Múltiples canales de soporte para asistirte en tu día a día.</p>
                        </div>
                        <div class="process">
                            <img :src="images_url.reportes" alt="Descripción de la imagen">
                            <h3>Reportes Automáticos</h3>
                            <p>La información de tu negocio desde cualquier dispositivo.</p>
                        </div>
                        <div class="process">
                            <img :src="images_url.herramientas" alt="Descripción de la imagen">
                            <h3>Herramientas de Gestión</h3>
                            <p>Administra tus puntos de venta desde la palma de tu mano.</p>
                        </div>
                    </div>
                </section>
            <!-- </div>
        </div> -->
        <div class="main-container">
            <div class="horizontal-box">
                <h2>Te Ayudaremos a Llevar un Control Exacto de todos <br>
                    los Movimientos en tu Almacén</h2>
                <p>Hemos creado un módulo de inventario que te ayudará a controlar todas las salidas e ingresos a tu <br>almacén, así como la importación y modificación de cada uno de tus productos.</p>
            </div>
            <div class="vertical-box">
                <section>
                    <div class="process-container2">
                        <div class="process4">
                            <i class="fa-solid fa-truck-moving"></i>
                            <h3>Salidas, Entradas y Traslados</h3>
                            <p>En el sistema tendrás la posibilidad de registrar entradas y salidas de mercadería.</p>
                        </div>
                        <div class="process4">
                            <i class="fa-solid fa-file-signature"></i>
                            <h3>Kardex Físico y Valorizado</h3>
                            <p>Tendrás acceso a un kardex físico y valorizado por cada uno de tus productos.</p>
                        </div>
                        <div class="process4">
                            <i class="fa-solid fa-cloud-arrow-up"></i>
                            <h3>Registro e Importación de Productos</h3>
                            <p>Si tienes un listado grande de productos, podrás utilizar nuestra herramienta de importación .</p>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <br>
        <br>
        <div class="centrado">
            <h4>Algunos de nuestros módulos</h4>
        </div>
        <div class="images-box">
            <section style="max-width: 100%;">
                <div class="images-box-container">
                    <div class="process4" style="margin: 0 auto;">
                        <div class="tarjeta">
                            <div class="tarjeta-imagen" style="background-image: url('../images/pos_web.png');">
                            </div>
                            <div class="tarjeta-contenido">
                                <h1 class="tarjeta-titulo">Punto de Venta</h1>
                                <p class="tarjeta-description">
                                    Potencia tus ventas con nuestro punto de venta eficiente y ágil. Facturas, boletas y notas de venta en un solo lugar, fácil y rápido.
                                </p>
                                <br>
                                <br>
                            </div>
                        </div>
                    </div>
                    <div class="process4" style="margin: 0 auto;">
                        <div class="tarjeta">
                            <div class="tarjeta-imagen" style="background-image: url('../images/caja_web.png');">
                            </div>
                            <div class="tarjeta-contenido">
                                <h1 class="tarjeta-titulo">Control de Caja</h1>
                                <p class="tarjeta-description">
                                    Con nuestro sistema de control de caja, podrás supervisar de manera precisa tus ingresos y salidas, generar informes detallados y obtener un análisis completo de tu flujo de efectivo.
                                </p>
                                <br>
                            </div>
                        </div>
                    </div>
                    <div class="process4" style="margin: 0 auto;">
                        <div class="tarjeta">
                            <div class="tarjeta-imagen" style="background-image: url('../images/kardex.png');">
                            </div>
                            <div class="tarjeta-contenido">
                                <h1 class="tarjeta-titulo">Reporte Kardex</h1>
                                <p class="tarjeta-description">
                                    Controla tus productos con nuestro reporte Kardex; registro detallado de entradas, salidas e inventario. Obtén información precisa y rápida sobre disponibilidad y movimientos.
                                </p>
                                <br>
                            </div>
                        </div>
                    </div>                
                    <div class="process4" style="margin: 0 auto;">
                        <div class="tarjeta">
                            <div class="tarjeta-imagen" style="background-image: url('../images/inventarios.png');">
                            </div>
                            <div class="tarjeta-contenido">
                                <h1 class="tarjeta-titulo">Gestión de Inventarios</h1>
                                <p class="tarjeta-description">
                                    Mantén un control preciso de tus productos, gestionando entradas, salidas y existencias de manera eficiente. Minimiza pérdidas y maximiza la disponibilidad de productos.
                                </p>
                                <br>
                            </div>
                        </div>
                    </div>
                    <div class="process4" style="margin: 0 auto;">
                        <div class="tarjeta">
                            <div class="tarjeta-imagen" style="background-image: url('../images/compra.png');">
                            </div>
                            <div class="tarjeta-contenido">
                                <h1 class="tarjeta-titulo">Gestión de Compras</h1>
                                <p class="tarjeta-description">
                                    Optimiza tiempos y mantén un registro organizado de proveedores, cotizaciones y pedidos. Agiliza tus compras y garantiza la disponibilidad de los productos necesarios para tu negocio.
                                </p>
                                <br>
                            </div>
                        </div>
                    </div>
                    <div class="process4" style="margin: 0 auto;">
                        <div class="tarjeta">
                            <div class="tarjeta-imagen" style="background-image: url('../images/guias_remision.png');">
                            </div>
                            <div class="tarjeta-contenido">
                                <h1 class="tarjeta-titulo">Guías Electrónicas</h1>
                                <p class="tarjeta-description">
                                    Genera guías sin papeleo, cumple con la normativa y agiliza la trazabilidad de tus envíos. Simplifica tu logística y ofrece un servicio eficiente a tus clientes.
                                </p>
                                <br>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <conocenos></conocenos>
        <tipo-empresas :images = "images_url"></tipo-empresas>
        <prices-izi></prices-izi>
        <form-izi-inicio></form-izi-inicio>
        <br>
        <div class="centrado">
            <h4>PREGUNTAS FRECUENTES</h4>
        </div>
        <div >
            <el-collapse v-model="activePanel" accordion>
                <div class="frecuentes">
                    <el-collapse-item name="1" >
                        <template slot="title">
                            <strong>&nbsp; ¿Qué se requiere para llevar a cabo el registro de mi empresa?</strong><i class="header-icon el-icon-information"></i>
                        </template>
                        <p>Es imprescindible contar con un RUC 10 con actividad comercial o un RUC 20 activo, además de tener acceso a la clave SOL de la SUNAT.</p>
                    </el-collapse-item>
                </div>
                <div class="frecuentes">
                    <el-collapse-item name="2" >
                        <template slot="title">
                            <strong>&nbsp; ¿Cómo lo hacemos?</strong><i class="header-icon el-icon-information"></i>
                        </template>
                        <p>Nuestro enfoque se basa en proporcionar soluciones tecnológicas personalizadas para cada negocio. Trabajamos en estrecha colaboración con nuestros clientes para comprender sus procesos y desafíos. Luego, implementamos soluciones digitales que ayudan a optimizar las operaciones, mejorar la eficiencia y aumentar la rentabilidad de las MYPES.</p>
                    </el-collapse-item>
                </div>
                <div class="frecuentes">
                    <el-collapse-item name="3" >
                        <template slot="title">
                            <strong>&nbsp; ¿Se pueden personalizar los comprobantes de la empresa?</strong><i class="header-icon el-icon-information"></i>
                        </template>
                        <p>Sí, tiene la opción de personalizar sus comprobantes incluyendo el logotipo, información de la empresa, detalles de cuentas bancarias, números de teléfono, entre otros. Esto permite que sus documentos reflejen la identidad única de su empresa.</p>
                    </el-collapse-item>
                </div>
                <div class="frecuentes">
                    <el-collapse-item name="4" >
                        <template slot="title">
                            <strong>&nbsp; ¿Cuál es el precio del sistema?</strong><i class="header-icon el-icon-information"></i>
                        </template>
                        <p>Contamos con planes mensuales y anuales, de acuerdo a las necesidades de su empresa, <a href="https://izifact.com/precios" target="_blank">Consulta los planes</a> .</p>
                    </el-collapse-item>
                </div>
                <div class="frecuentes">
                    <el-collapse-item name="5" >
                        <template slot="title">
                            <strong>&nbsp; ¿Las boletas o facturas se envían a SUNAT?</strong><i class="header-icon el-icon-information"></i>
                        </template>
                        <p>Sí, nuestra plataforma está automatizada para que todos sus comprobantes sean enviados dentro del plazo establecido por SUNAT.</p>
                    </el-collapse-item>
                </div>
                <div class="frecuentes">
                    <el-collapse-item name="6" >
                        <template slot="title">
                            <strong>&nbsp; ¿Puedo cambiar de plan en cualquier momento?</strong><i class="header-icon el-icon-information"></i>
                        </template>
                        <p>Sí por supuesto, se le envía una proforma con el monto restante del plan al que desea migrar.</p>
                    </el-collapse-item>
                </div>
                <div class="frecuentes">
                    <el-collapse-item name="7" >
                        <template slot="title">
                            <strong>&nbsp; ¿Qué necesito para acceder al sistema?</strong><i class="header-icon el-icon-information"></i>
                        </template>
                        <p>Solo se necesita de internet y un navegador, ya que todo el sistema está almacenado en la nube.</p>
                    </el-collapse-item>
                </div>
            </el-collapse>
        </div>
        <div class="centrado">
            <h4>¿QUE TECNOLOGÍAS USAMOS?</h4>
        </div>
        <div class="slider">
            <div class="slide-track">
                <div class="slide">
                    <img :src="images_url.vue_js" alt="">
                </div>
                <div class="slide">
                    <img :src="images_url.node_js" alt="">
                </div>
                <div class="slide">
                    <img :src="images_url.maria_bd" alt="">
                </div>
                <div class="slide">
                    <img :src="images_url.google" alt="">
                </div>
                <div class="slide">
                    <img :src="images_url.digital_ocean" alt="">
                </div>
                <div class="slide">
                    <img :src="images_url.amazon" alt="">
                </div>
                <div class="slide">
                    <img :src="images_url.jira" alt="">
                </div>

                <div class="slide">
                    <img :src="images_url.ibm" alt="">
                </div>
                <div class="slide">
                    <img :src="images_url.docker" alt="">
                </div>
                <div class="slide">
                    <img :src="images_url.element" alt="">
                </div>
            </div>
        </div>
        <br>
    </div>
</template>

<script>

export default {
    props: [
        'images'
    ],
    data() {
        return {
        form: {},
        loading_form: false,
        loading_submit: false,
        errors: {},
        activeNames: [],
        faqList: [
            {
            id: '1',
            question: 'Quiero crear un folleto, pero no sé cómo. ¿Pueden ayudarme?',
            answer: 'Claro, puedes seguir nuestra guía paso a paso o utilizar nuestras plantillas predefinidas.'
            },
            {
            id: '2',
            question: '¿Existe un plan gratuito?',
            answer: 'Sí, ofrecemos un plan básico gratuito con funciones limitadas.'
            },
            // ... más preguntas
        ],
        images_url: {
            venta: "",
            compra: "",
            almacen: "",
            reporte: "",
            guias: "",
            documentos: "",
            soluciones: "",
            asesoria: "",
            pagina_web: "",
            movil_web: "",
            equipos: "",
            vue_js:"",
            node_js:"",
            maria_bd:"",
            google: "",
            digital_ocean: "",
            amazon: "",
            jira: "",
            ibm: "",
            docker: "",
            element: "",
            herramientas: "",
            reportes: "",
            soporte: "",
            planes: "",
        },
        resource: 'contact'
        };
    },
    async created() {
        this.loading_form = true;
        this.images_url = this.images;
        console.log(this.images)
        await this.initform();
        this.loading_form = false;
        // await this.getImages();
    },
    methods: {
        initform(){
            this.form = {
                name : null,
                RUC : null,
                phone: null,
                plan: null,
                mounth: null
            }
        },
        handleChange(activeNames) {
            this.activeNames = activeNames;
        },
        async submit() {
            this.loading_submit = true
            await this.$http.get(`${this.resource}/validateruc/${this.form.RUC}`)
                    .then(response => {  
                        console.log(response)
                        if (response.data.success) {
                            this.$http.post(`${this.resource}`, this.form)
                                .then(response => {
                                    if (response.data.success) {
                                        this.$swal({
                                            title: 'Completado!',
                                            text:  response.data.message,
                                            icon: 'success',
                                            confirmButtonColor: '#6457A2', // Cambiar el color del botón de confirmación
                                        });
                                        this.$swal('Completado!', response.data.message, 'success');
                                        this.initform()
                                    } else {
                                        this.$message.error(response.data.message)
                                    }
                                })
                                .catch(error => {
                                    if (error.response.status === 422) {
                                        this.errors = error.response.data
                                    } else if (error.response.status === 500) {
                                        this.$message.error(error.response.data.message);
                                    } else {
                                        console.log(error.response)
                                    }
                                })
                                .then(() => {
                                    this.loading_submit = false
                                })
                        }
                        else{ 
                            this.$swal({
                                icon: 'error',
                                text: 'El RUC ingresado es inválido!'
                            });
                        }
                        this.loading_submit = false
                    });
            
        }
    },
};
</script>