<template>
    <div>
        <br>
        <br>
        <br>
        <br>
        <div class="centrado">
            <h4>¿Quiénes somos?</h4>
        </div>
        <section>
            <div class="box-container">
                <div class="box">
                    <img :src="images_url.nosotros" alt="Imagen 1">
                </div>
                <div class="box">
                    <div class="centrado2">
                        <h4>IziFact</h4>
                        <p>Somos especialistas en la digitalización de negocios. Nuestro equipo está compuesto por expertos en soluciones tecnológicas y procesos empresariales.</p>
                        <div>
                            <el-collapse v-model="activePanel" accordion>
                                <div class="frecuentes" style="width: 100%;">
                                    <el-collapse-item name="1" >
                                        <template slot="title">
                                            <strong>&nbsp; ¿Qué hacemos?</strong><i class="header-icon el-icon-information"></i>
                                        </template>
                                        <p>En IziFact, nuestro enfoque va más allá de ofrecer soluciones tecnológicas de Facturación Electrónica. Nos especializamos en adaptar y digitalizar los procesos de las empresas de acuerdo a sus necesidades específicas. Nuestro objetivo principal es mejorar la eficiencia operativa y optimizar el funcionamiento de las MYPES, brindándoles soluciones tecnológicas personalizadas que impulsen su crecimiento y rentabilidad.</p>
                                    </el-collapse-item>
                                </div>
                                <div class="frecuentes" style="width: 100%;">
                                    <el-collapse-item name="2" >
                                        <template slot="title">
                                            <strong>&nbsp; ¿Cómo lo hacemos?</strong><i class="header-icon el-icon-information"></i>
                                        </template>
                                        <p>Nuestro enfoque se basa en proporcionar soluciones tecnológicas personalizadas para cada negocio. Trabajamos en estrecha colaboración con nuestros clientes para comprender sus procesos y desafíos. Luego, implementamos soluciones digitales que ayudan a optimizar las operaciones, mejorar la eficiencia y aumentar la rentabilidad de las MYPES.</p>
                                    </el-collapse-item>
                                </div>
                            </el-collapse>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="centrado">
            <h4>NUESTRO PROCESO</h4>
            <h2>¿Como trabajamos?</h2>
        </div>
        <section>
            <div class="process-container">
                <div class="process">
                    <div class="img"><img :src="images_url.demostracion" alt="img" draggable="false">
                    </div>
                    <h3>Solicite una demostración</h3>
                    <p>Un experto se contactará con usted para mostrarle todas las funcionalidades del sistema.</p>
                </div>
                <div class="process">
                    <div class="img"><img :src="images_url.plan" alt="img" draggable="false">
                    </div>
                    <h3>Elija un plan</h3>
                    <p>Basándose en la necesidad de su negocio, escoga uno de nuestros planes disponibles.</p>
                </div>
                <div class="process">
                    <div class="img"><img :src="images_url.implementacion" alt="img" draggable="false">
                    </div>
                    <h3>Implementación</h3>
                    <p>Nuestro equipo técnico creará una cuenta exclusiva para su empresa, lista y preparada para su uso.</p>
                </div>
                <div class="process">
                    <div class="img"><img :src="images_url.digitalizado" alt="img" draggable="false">
                    </div>
                    <h3>Negocio digitalizado</h3>
                    <p>Ahora tiene la capacidad de manejar su negocio de manera eficiente desde cualquier lugar y dispositivo.</p>
                </div>
            </div>
        </section>
        <div class="centrado">
            <h4>MISION Y VISION</h4>
        </div>
        <div class="nosotros-container">
            <section>
                <div class="box-container">
                    <div class="box">
                        <img :src="images_url.mision" alt="Imagen 1">
                    </div>
                    <div class="box">
                        <div class="centrado2">
                            <h4>MISION</h4>
                            <p>Nuestra misión es ayudar a nuestros clientes a alcanzar su máximo potencial a través de la implementación de tecnología digital. Trabajamos para optimizar los procesos empresariales, mejorar la conectividad y potenciar los métodos de comunicación, permitiendo un crecimiento exitoso en el entorno actual</p>
                        </div>
                    </div>
                </div>
                <!-- <div class="box-container">
                    <div class="box">
                        <img :src="images_url.mision" alt="Imagen 2">
                    </div>
                    <div class="box">
                        <p>Información sobre el segundo elemento.</p>
                    </div>
                </div> -->
            </section>
        </div>
        <div class="nosotros-container">
            <section>
                <div class="box-container">
                    <div class="box">
                        <div class="centrado2">
                            <h4>VISION</h4>
                            <p>Para el año 2026, nos esforzamos por convertirnos en una marca ampliamente reconocida y admirada a nivel nacional. Nuestro objetivo es posicionarnos como una de las principales marcas de facturación electrónica, destacando por nuestra excelencia en soluciones tecnológicas, innovación constante y servicio excepcional. Buscamos ser el socio preferido por las empresas en su transformación digital y ser reconocidos como referentes en el sector</p>
                        </div>
                    </div>
                    <div class="box">
                        <img :src="images_url.vision" alt="Imagen 1">
                    </div>
                </div>
                <!-- <div class="box-container">
                    <div class="box">
                        <img :src="images_url.mision" alt="Imagen 2">
                    </div>
                    <div class="box">
                        <p>Información sobre el segundo elemento.</p>
                    </div>
                </div> -->
            </section>
        </div>
        <div class="centrado">
            <h4>¿Por qué confiar en IziFact?</h4>
        </div>
        <div class="nosotros-container">
            <div class="reasons-container">
                <div class="reason">
                    <div class="reason-icon">
                        <div class="img"><img :src="images_url.nube" alt="img" draggable="false"></div>
                    </div>
                    <div class="reason-text">Software en la nube</div>
                </div>
                <div class="reason">
                    <div class="reason-icon">
                        <div class="img"><img :src="images_url.clientes" alt="img" draggable="false"></div>
                    </div>
                    <div class="reason-text">+100 clientes confían en IziFact</div>
                </div>
                <div class="reason">
                    <div class="reason-icon">
                        <div class="img"><img :src="images_url.soporte" alt="img" draggable="false"></div>
                    </div>
                    <div class="reason-text">Soporte a través de llamadas y whatsapp</div>
                </div>
                <div class="reason">
                    <div class="reason-icon">
                        <div class="img"><img :src="images_url.planes" alt="img" draggable="false"></div>
                    </div>
                    <div class="reason-text">Planes flexibles sin costos ocultos</div>
                </div>
                <div class="reason">
                    <div class="reason-icon">
                        <div class="img"><img :src="images_url.software" alt="img" draggable="false"></div>
                    </div>
                    <div class="reason-text">Software intuitivo: fácil de usar y enseñar</div>
                </div>
                <div class="reason">
                    <div class="reason-icon">
                        <div class="img"><img :src="images_url.dispositivos" alt="img" draggable="false"></div>
                    </div>
                    <div class="reason-text">Se adapta a múltiples dispositivos</div>
                </div>
                <div class="reason">
                    <div class="reason-icon">
                        <div class="img"><img :src="images_url.soluciones" alt="img" draggable="false"></div>
                    </div>
                    <div class="reason-text">Desarrollos personalizados</div>
                </div>
                <div class="reason">
                    <div class="reason-icon">
                        <div class="img"><img :src="images_url.emoji" alt="img" draggable="false"></div>
                    </div>
                    <div class="reason-text">Como emprendedores, sabemos lo que necesitas</div>
                </div>
                <!-- Repite este bloque para cada ícono -->
                <!-- ... -->
            </div>
        </div>
        <div class="centrado">
            <h4>CARACTERISTICAS</h4>
        </div>
        <div class="features-container">
            <div class="features-column">
                <!-- Tarjetas de características a la izquierda -->
                <div class="feature-card">
                    <div class="feature-text" style="text-align: end;">
                        <h4>Cualquier dispositivo</h4>
                        <p>Puedes ingresar a través de una PC, Laptop, Tablet o celular.</p>
                    </div>
                    <i class="fa-solid fa-desktop"></i>
                </div>
                <div class="feature-card">
                    <div class="feature-text" style="text-align: end;">
                        <h4>Todos los módulos</h4>
                        <p>Acceso a nuevas actualizaciones sin costo adicional.</p>
                    </div>
                    <i class="fa-solid fa-rocket"></i>
                </div>
                <div class="feature-card">
                    <div class="feature-text"  style="text-align: end;">
                        <h4>Impresión bluetooth</h4>
                        <p>Imprime en segundos a través de una impresora bluetooth.</p>
                    </div>
                    <i class="fa-solid fa-print"></i>
                </div>
                <!-- Repite la tarjeta para las demás características a la izquierda -->
            </div>

            <!-- Imagen central -->
            <div class="central-image">
                <img :src="images_url.plan" alt="Imagen central">
            </div>

            <div class="features-column">
                <!-- Tarjetas de características a la derecha -->
                <div class="feature-card">
                    <i class="fas fa-cogs"></i>
                    <div class="feature-text">
                        <h4>Fácil configuración</h4>
                        <p>Registra tu empresa solo con tu clave SOL.</p>
                    </div>
                </div>
                <div class="feature-card">
                    <i class="fa-solid fa-cloud"></i>
                    <div class="feature-text">
                        <h4>Negocio en la nube</h4>
                        <p>Puedes ingresar a través de una PC, Laptop, Tablet o celular.</p>
                    </div>
                </div>
                <div class="feature-card">
                    <i class="fa-solid fa-headset"></i>
                    <div class="feature-text">
                        <h4>Soporte dedicado</h4>
                        <p>Conéctate con nosotros vía telefónica o chat en instantes.</p>
                    </div>
                </div>
                <!-- Repite la tarjeta para las demás características a la derecha -->
            </div>
        </div>
        <div class="centrado">
            <h4>Explora nuestro brochure</h4>
        </div>
            <section >
                <div class="viewer-pdf">
                    <iframe
                        :src="images_url.url_pdf + '#zoom=70'"
                        style="width: 100%; height: 70vh;"
                        frameborder="0"
                    ></iframe>
                </div>
            </section>
    </div>
</template>
<script>

export default {
    props: [
        'images'
    ],
    data() {
        return {
            images_url: {
                nosotros: "",
                demostracion: "",
                plan: "",
                implementacion: "",
                digitalizado: "",
                emoji: "",
                dispositivos: "",
                software: "",
                planes: "",
                clientes: "",
                nube: "",
                soluciones: "",
                soporte: "",
                url_pdf: ""
            },
            activePanel : false,
            activePanel2 : false
        };
    },
    async created() {
        this.images_url = this.images;
        console.log(this.images)
    }
};
</script>