<template>
    <div v-loading="loading" :element-loading-spinner="'circle-loader'">
        <div class="pb-3">Filtrar por:</div>
        <div class="pb-2 flex-container">
            <div class="flex-item">
                <el-date-picker
                    v-model="search.value"
                    type="date"
                    placeholder="Seleccionar fecha"
                    value-format="yyyy-MM-dd"
                    @change="getRecords"
                >
                </el-date-picker>
            </div>
            <div class="flex-item">
                <el-select v-model="search.value2" placeholder="Seleccionar estado" @change="getRecords" clearable>
                    <el-option v-for="(label, key) in states" :key="key" :value="key" :label="label" ></el-option>
                </el-select>
            </div>
            <div class="flex-item">
                <el-select v-model="search.value3" filterable remote class="border-left rounded-left border-info" popper-class="el-select-customers" clearable
                    dusk="customer_id"
                    ref="selectSearchCliente"
                    placeholder="Escriba el nombre del cliente"
                            @change="getRecords"
                            :loading="loading_search"
                            @keyup.enter.native="keyupCustomer">

                    <el-option v-for="option in customers" :key="option.name" :value="option.name" :label="option.name"></el-option>
                </el-select>
            </div>
            <div class="flex-item">
                <el-select v-model="search.value4" filterable remote class="border-left rounded-left border-info" popper-class="el-select-customers" clearable
                    dusk="customer_id"
                    ref="selectSearchCliente"
                    placeholder="Escriba el correo del cliente"
                            @change="getRecords"
                            :loading="loading_search"
                            @keyup.enter.native="keyupCustomer">

                    <el-option v-for="option in emails" :key="option.email" :value="option.email" :label="option.email"></el-option>
                </el-select>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <slot name="heading"></slot>
                </thead>
                <tbody>
                    <slot v-for="(row, index) in records" :row="row" :index="customIndex(index)"></slot>
                </tbody>
            </table>
            <div class="pagination-container">
                <el-pagination
                    @current-change="getRecords"
                    layout="total, prev, pager, next"
                    :total="pagination.total"
                    :current-page.sync="pagination.current_page"
                    :page-size="pagination.per_page">
                </el-pagination>
            </div>
        </div>

    </div>
</template>
<style>

</style>
<script>
    import queryString from 'query-string'

    export default {
        data() {
            return {
                loading: false,
                pagination: {},
                loading_search : false,
                records: [],
                customers : [],
                all_customers : [],
                emails : [],
                all_emails : [],
                columns: {  
                    created_at : "Fecha de Registro",
                    state : "Estado",
                    plan : "Plan",
                    mounth : "Tiempo",
                },
                states: {
                    0 :"Sin responder",
                    1 :"Respondido"
                },
                planes: {
                    principiante :"principiante",
                    coorporativo :"coorporativo",
                    micro_empresa :"micro_empresa",
                    emprendedor :"emprendedor",
                },
                tiempo: {
                    Mensual :"01",
                    Trimestral :"03",
                    Semestral :"06",
                    Anual :"12",
                },
                search: {
                    column: null,
                    value: null,
                    value2: null,
                    value3: null,
                    value4: null,
                },
            }
        },
        created() {
            this.$eventHub.$on("reloadData", () => {
                this.getRecords();
            });
            this.$root.$refs.DataTable = this;
        },
        async mounted () {
            await this.getRecords()
            await this.$http.get(`/consult/tables`)
                .then(response => {
                    console.log(response)
                    this.all_customers = response.data.person
                    this.all_emails = response.data.email
                    this.allCustomers()
                    this.allEmails()
                })
        },
        
        methods: {
            customIndex(index) {
                return (this.pagination.per_page * (this.pagination.current_page - 1)) + index + 1
            },
            getRecords() {
                this.loading = true;
                return this.$http.get(`/consult/records?${this.getQueryParameters()}`).then((response) => {
                    console.log(response)
                    this.records = response.data.data
                    this.pagination = response.data.meta
                    this.pagination.per_page = parseInt(response.data.meta.per_page)
                })
                .then(() => {
                    this.loading = false;
                });
            },
            allCustomers() {
                this.customers = this.all_customers
            },
            allEmails() {
                this.emails = this.all_emails
            },
            changeoption(){
                console.log("hola")
                this.search.value = null;
            },
            getQueryParameters() {
                return queryString.stringify({
                    page: this.pagination.current_page,
                    ...this.search
                })
            },
        }
    }
</script>