<template>
    <div class="inicio">
        <div class="centrado">
            <h4>Nuestros valores</h4>
            <h2>Juntos crecemos con valores.</h2>
        </div>
        <br>
        <section>
            <div class="process-container">
                <div class="process">
                    <div class="img"><img :src="images_url.innovacion" alt="img" draggable="false">
                    </div>
                    <h3>Innovación</h3>
                    <p>Trabajamos continuamente en la creación de soluciones innovadoras, pensando en las necesidades de nuestros clientes.</p>
                </div>
                <div class="process">
                    <div class="img"><img :src="images_url.simplicidad" alt="img" draggable="false">
                    </div>
                    <h3>Simplicidad</h3>
                    <p>Nos enfocamos en hacer nuestra plataforma amigable y fácil de usar para cualquier usuario, sin importar su nivel de experiencia.</p>
                </div>
                <div class="process">
                    <div class="img"><img :src="images_url.agilidad" alt="img" draggable="false">
                    </div>
                    <h3>Agilidad</h3>
                    <p>Nuestro objetivo es optimizar el tiempo de nuestros clientes. Gracias a nuestras soluciones, los procesos se agilizan en un 80%.</p>
                </div>
                <div class="process">
                    <div class="img"><img :src="images_url.confiabilidad" alt="img" draggable="false">
                    </div>
                    <h3>Confiabilidad</h3>
                    <p>Priorizamos la claridad y seguridad de la información. Contamos con estrictas medidas de protección de datos y confidencialidad.</p>
                </div>
            </div>
        </section>
    </div>
</template>
<script>
export default {
    props: [
        'images'
    ],
    data() {
        return {
            images_url: {
                innovacion: "",
                simplicidad: "",
                agilidad: "",
                confiabilidad: "",
            },
        };
    },
    async created() {
        this.images_url = this.images;
        console.log(this.images)
    }
};
</script>