<template>
    <div>
        <br>
        <br>
        <br>
        <br>
        <div class="centrado">
            <h4>NUESTROS SERVICIOS</h4>
            <h2>Facturación electrónica y control de tu negocio</h2>
            <br>
            <h5>Puedes obtener grandes ahorros en gastos de facturación electrónica y de gestión.</h5>
        </div>
        <div class="precios">
            <div class="pricing">
                <button v-bind:class="{ 'active': isActive === 'remitentes' }" data-value="remitentes" @click="handleClick('remitentes')">GUIAS REMITENTES</button>
                <button v-bind:class="{ 'active': isActive === 'transportista' }" data-value="transportista" @click="handleClick('transportista')">GUIAS DE TRANSPORTISTA</button>
                <button v-bind:class="{ 'active': isActive === 'vehiculos' }" data-value="vehiculos" @click="handleClick('vehiculos')">REGISTRO DE VEHICULOS</button>
                <button v-bind:class="{ 'active': isActive === 'conductores' }" data-value="conductores" @click="handleClick('conductores')">REGISTRO DE CONDUCTORES</button>
            </div>
            <br>
            <section>
                <div class="box-container">
                    <div class="box">
                        <template v-if="isActive === 'remitentes'">
                            <img :src="images_url.pos" alt="Imagen 1">
                        </template>
                        <template v-else-if="isActive === 'transportista'">
                            <img :src="images_url.web" alt="Imagen 1">
                        </template>
                        <template v-else-if="isActive === 'vehiculos'">
                            <img :src="images_url.fuente" alt="Imagen 1">
                        </template>
                        <template v-else="isActive === 'conductores'">
                            <img :src="images_url.factura" alt="Imagen 1">
                        </template>
                    </div>
                    <div class="box">
                        <div class="centrado2">
                            <template v-if="isActive === 'remitentes'">
                                 <h4>GUIAS REMITENTES</h4>
                                <p></p>
                                <label><i class="fa-solid fa-bolt"></i>&nbsp;&nbsp;100% en la nube</label>
                            </template>
                            <template v-else-if="isActive === 'transportista'">
                                 <h4>GUIAS DE TRANSPORTISTA</h4>
                                <p></p>
                                <label><i class="fa-solid fa-bolt"></i>&nbsp;&nbsp;Utilizamos tecnologías confiables</label>
                            </template>
                            <template v-else-if="isActive === 'vehiculos'">
                                 <h4>REGISTRO DE VEHICULOS</h4>
                                <p></p>
                                <label><i class="fa-solid fa-bolt"></i>&nbsp;&nbsp;1 año de soporte</label>
                            </template>
                            <template v-else="isActive === 'conductores'">
                                 <h4>REGISTRO DE CONDUCTORES</h4>
                                <p></p>
                                <label><i class="fa-solid fa-bolt"></i>&nbsp;&nbsp;100% en la nube</label>
                            </template>
                            <button class="link-button" @click="enviar()">Contácta a un asesor</button>
                        </div>
                    </div>
                </div>
                <!-- <div class="box-container">
                    <div class="box">
                        <img :src="images_url.mision" alt="Imagen 2">
                    </div>
                    <div class="box">
                        <p>Información sobre el segundo elemento.</p>
                    </div>
                </div> -->
            </section>
        </div>
        <div class="inicio">
            <div class="centrado3">
                <h4>GUIAS DE REMISIÓN ELECTRÓNICA</h4>
                <p>Con el objetivo principal de simplificar los controles y la supervisión de los documentos utilizados para el traslado de bienes, la Superintendencia Nacional de Administración Tributaria (Sunat) ha emitido la Resolución N°000123-2022/SUNAT. Esta resolución introduce varios cambios importantes, incluyendo la obligatoriedad de utilizar guías de remisión electrónicas a partir del primero de enero de 2023. Además, se establecen requisitos y condiciones para la emisión de la guía de remisión electrónica transportista, y se regula la emisión de un nuevo tipo de guía de remisión por evento. Estas medidas buscan mejorar la eficiencia y el control en los procesos de traslado de bienes, y es importante que todos los contribuyentes afectados por esta resolución cumplan con los requisitos establecidos y se adapten a las nuevas disposiciones para asegurar el cumplimiento de las obligaciones tributarias.</p>
                <el-collapse v-model="activePanel" accordion>
                    <div class="frecuentes" style="width: 100%;">
                        <el-collapse-item name="1" >
                            <template slot="title">
                                <strong>&nbsp; Principales aspectos que modifica la Resolución N° 000123-2022/SUNAT</strong><i class="header-icon el-icon-information"></i>
                            </template>
                            <label class="font-frecuentes" ><i class="fa-solid fa-square"></i>&nbsp;&nbsp;Indica que las facturas guías, así como las liquidaciones de compras guías ya no son válidas para acreditar el traslado de bienes desde el 13 de julio de 2022. Estos traslados deben sustentarse a través de las guías de remisión electrónica (GRE).</label>
                            <label class="font-frecuentes" ><i class="fa-solid fa-square"></i>&nbsp;&nbsp;Introduce dos padrones de emisores que están obligados a generar las guías de remisión electrónica a partir del primero de enero de 2023.</label>
                            <label class="font-frecuentes" ><i class="fa-solid fa-square"></i>&nbsp;&nbsp;Define los sistemas de emisión electrónica habilitados para la emisión de las GRE.</label>
                            <label class="font-frecuentes" ><i class="fa-solid fa-square"></i>&nbsp;&nbsp;Modifica las estructuras de las guías e incluye nuevos datos a contemplar tanto para las guías impresas como para las electrónicas.</label>
                            <label class="font-frecuentes" ><i class="fa-solid fa-square"></i>&nbsp;&nbsp;Incorpora la estructura de la guía de remisión electrónica transportista y de la guía por evento.</label>
                        </el-collapse-item>
                    </div>
                    <div class="frecuentes" style="width: 100%;">
                        <el-collapse-item name="2" >
                            <template slot="title">
                                <strong>&nbsp; Principales regulaciones sobre las guías de remisión electrónica (GRE)</strong><i class="header-icon el-icon-information"></i>
                            </template>
                            <p>Sunat ha establecido nuevos campos en la GRE y también ha incorporado las estructuras de la guía de remisión transportista y la nueva guía de remisión por evento. Esta última, únicamente se puede generar a través del portal de Sunat, solo en 3 supuestos claves:</p>
                            <label class="font-frecuentes" ><i class="fa-solid fa-square"></i>&nbsp;&nbsp;Siempre que exista la imposibilidad de arribar al punto de llegada acordado con el adquiriente.</label>
                            <label class="font-frecuentes" ><i class="fa-solid fa-square"></i>&nbsp;&nbsp;Si existe el impedimento de entregar los bienes a otro punto de llegada.</label>
                            <label class="font-frecuentes" ><i class="fa-solid fa-square"></i>&nbsp;&nbsp;Si existe la obligación de transbordar los bienes a otro transporte para entregarlos en el punto acordado con el adquiriente.</label>
                            <p>Asimismo, mediante la resolución de Sunat, los emisores están obligados generar las guías de manera electrónica. Sin embargo, existen algunos casos excepcionales en los que se permitirá la emisión de guías impresas, y estas se denominarán guías de remisión de contingencia:</p>
                            <label class="font-frecuentes" ><i class="fa-solid fa-square"></i>&nbsp;&nbsp;Cuando existan causas que no son imputables al emisor electrónico.</label>
                            <label class="font-frecuentes" ><i class="fa-solid fa-square"></i>&nbsp;&nbsp;Cuando exista baja o nula conexión a internet desde el domicilio fiscal o el establecimiento desde el que se está generando la guía.</label>
                        </el-collapse-item>
                    </div>
                    <div class="frecuentes" style="width: 100%;">
                        <el-collapse-item name="3" >
                            <template slot="title">
                                <strong>&nbsp; Procedimiento de conformidad y sistemas para generar las GRE</strong><i class="header-icon el-icon-information"></i>
                            </template>
                            <p>Sunat permitirá al transportista revisar el contenido de la GRE para expresar su conformidad, disconformidad parcial o total del documento. El plazo para emitir la conformidad o disconformidad es hasta el sétimo día calendario del mes siguiente, contando desde la fecha de emisión de la guía.</p>
                            <p>En caso el transportista no llegue a expresar su disconformidad, Sunat generará automáticamente la conformidad de la guía.</p>
                            <p>Además, se han establecido tres sistemas para generar las guías electrónicas:</p>
                            <label class="font-frecuentes" ><i class="fa-solid fa-square"></i>&nbsp;&nbsp;Portal Sunat o app Emprender</label>
                            <label class="font-frecuentes" ><i class="fa-solid fa-square"></i>&nbsp;&nbsp;Sistema de Emisión Electrónica del Contribuyente</label>
                            <label class="font-frecuentes" ><i class="fa-solid fa-square"></i>&nbsp;&nbsp;Sistema de Emisión Electrónica del Contribuyente</label>
                        </el-collapse-item>
                    </div>
                    <div class="frecuentes" style="width: 100%;">
                        <el-collapse-item name="4" >
                            <template slot="title">
                                <strong>&nbsp; Plazo de envío y plazo para dar de baja a la GRE</strong><i class="header-icon el-icon-information"></i>
                            </template>
                            <p>Se reduce de siete a un día el plazo de envío de la GRE, contando desde la fecha de su emisión. Pasado este plazo el documento ya no tendrá la calidad de GRE, aun cuando se haya entregado al transportista y/o destinatario.</p>
                            <p>Asimismo, se deroga el plazo máximo de cinco días calendario para dar de baja la GRE. Esta solo se podrá dar de baja cuando se den los siguientes supuestos:</p>
                            <label class="font-frecuentes" ><i class="fa-solid fa-square"></i>&nbsp;&nbsp;Siempre que no se inicie el traslado</label>
                            <label class="font-frecuentes" ><i class="fa-solid fa-square"></i>&nbsp;&nbsp;Si se cambia de destinatario antes de arribar al punto de llegada</label>
                            <p>Finalmente, Sunat ha establecido el uso obligatorio del código QR tanto en la representación impresa como electrónica de la guía.</p>
                        </el-collapse-item>
                    </div>
                    <div class="frecuentes" style="width: 100%;">
                        <el-collapse-item name="5" >
                            <template slot="title">
                                <strong>&nbsp; Riesgos a los que estamos expuestos si no seguimos la resolución</strong><i class="header-icon el-icon-information"></i>
                            </template>
                            <p>Existen dos riesgos identificados a los que los emisores se exponen si no cumplen con la normativa.</p>
                            <label class="font-frecuentes" ><i class="fa-solid fa-square"></i>&nbsp;&nbsp;No emitir una guía cuando sea obligatoria en el marco del reglamento de comprobante de pago: En este caso, el transportista cometería una infracción no pecuniaria, equivalente al internamiento del vehículo y, el remitente se expondría a la comisión de los bienes.</label>
                            <label class="font-frecuentes" ><i class="fa-solid fa-square"></i>&nbsp;&nbsp;Emitir la guía sin cumplir los requisitos de Sunat: El transportista estaría cometiendo una infracción pecuniaria con la posibilidad de obtener una multa equivalente al 50% del valor de una UIT (S/ 2,300) y 15% del valor de los bienes, en el caso del remitente, es decir 6 UIT (S/ 27,600).</label>
                        </el-collapse-item>
                    </div>
                    <div class="frecuentes" style="width: 100%;">
                        <el-collapse-item name="6" >
                            <template slot="title">
                                <strong>&nbsp; Recomendaciones para adoptar los cambios de esta resolución</strong><i class="header-icon el-icon-information"></i>
                            </template>
                            <p>A fin de evitar retrasos o posibles infracciones, es importante que las empresas identifiquen cuáles son los supuestos o situaciones por los que deberán emitir las guías de remisión y desde que fecha deberán generarlas de manera electrónica.</p>
                            <p>Asimismo, según la resolución, en adelante las guías tendrán como respaldo un documento xml. Por ello, será necesario realizar coordinaciones con el equipo de informática y tener un plan de acción y un cronograma para realizar esta configuración.</p>
                            <p>Finalmente, es indispensable que las empresas verifiquen que la información a consignar en las GRE sea consistente y correcta, así como identificar previamente los informes o documentos de los cuáles se obtendrá dicha información para brindar el mayor detalle. </p>
                        </el-collapse-item>
                    </div>
                </el-collapse>
            </div>
            <div class="centrado3">
                <h4>PROCESO DE GUÍAS</h4>
            </div>
            <section>
                <div class="box-container">
                    <div class="box">
                        <img :src="images_url.proceso_guia" alt="Imagen 1">
                    </div>
                    <div class="box">
                        <div class="centrado2">
                            <h4>GUÍAS ELECTRÓNICAS</h4>
                            <p>Es importante tener en cuenta que estos son los pasos generales del proceso de emisión de la Guía Electrónica SEE en Perú, pero los detalles y requisitos específicos pueden variar según la normativa y regulaciones vigentes establecidas por la SUNAT.</p>
                            <a :href="`/precios`" target="_blank">Consulta nuestro planes</a>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</template>
<script>
export default {
    props: [
        'images'
    ],
    data() {
        return {
            images_url: {
                proceso: ""
            },
            activePanel: 0,
            activePanel2: 0,
            activePanel3: 0,
            activePanel4: 0,
            activePanel5: 0,
            activePanel6: 0,
            isActive: 'remitentes',
            showDialogForm: false
        };
    },
    async created() {
        this.images_url = this.images;
        console.log(this.images)
    },
    methods: {
        handleClick(value) {
            this.isActive = value;
        },
    }
};
</script>