<template>
    <div>
        <div class="centrado">
            <h4>NUESTROS PRECIOS</h4>
            <h2>Planes a tu medida</h2>
        </div>
        <div class="precios">
            <div class="pricing">
                <button v-bind:class="{ 'active': isActive === '01' }" data-value="01" @click="handleClick('01')">MENSUAL</button>
                <button v-bind:class="{ 'active': isActive === '03' }" data-value="03" @click="handleClick('03')">03 MESES</button>
                <button v-bind:class="{ 'active': isActive === '06' }" data-value="06" @click="handleClick('06')">06 MESES <label>DESCUENTO</label></button>
                <button v-bind:class="{ 'active': isActive === '12' }" data-value="12" @click="handleClick('12')">ANUAL <label>DESCUENTO</label></button>
            </div>
            <div class="price-list">
                <div class="plan">
                    <h3>MICRO EMPRESA</h3>
                    <template v-if="isActive === '03'">
                        <br>
                        <h1><strong>S/ 107.73</strong></h1>
                        <h5>+IGV / 03 Meses</h5>
                    </template>
                    <template v-else-if="isActive === '06'">
                        <label>ANTES S/ 229.90</label>
                        <br>
                        <h1><strong>S/ 203.49</strong></h1>
                        <h5>+IGV / 06 Meses</h5>
                    </template>
                    <template v-else-if="isActive === '12'">
                        <label>ANTES S/ 399.90</label>
                        <br>
                        <h1><strong>S/ 383.04</strong></h1>
                        <h5>+IGV / 12 Meses</h5>
                    </template>
                    <template v-else="isActive === '01'">
                        <br>
                        <h1><strong>S/ 39.90</strong></h1>
                        <h5>+IGV / Mensual</h5>
                    </template>
                    <br>
                    <p><i class="fa-solid fa-bolt"></i>Comprobantes Electrónicos</p>
                    <p><i class="fa-solid fa-bolt"></i>Documentos ilimitados</p>
                    <p><i class="fa-solid fa-bolt"></i>01 Establecimientos</p>
                    <p><i class="fa-solid fa-bolt"></i>01 Almacenes</p>
                    <p><i class="fa-solid fa-bolt"></i>02 Usuarios</p>
                    <p><i class="fa-solid fa-bolt"></i>1000 Productos</p>
                    <p><i class="fa-solid fa-bolt"></i>Módulo de ventas</p>
                    <p><i class="fas fa-times"></i>Módulo de compras</p>
                    <p><i class="fas fa-times"></i>Guías electrónicas</p>
                    <p><i class="fas fa-times"></i>Gestión de inventario</p>
                    <p><i class="fas fa-times"></i>Reportes</p>
                    <p><i class="fas fa-times"></i>Tienda Virtual</p>
                    <p><i class="fas fa-times"></i>Módulo de producción</p>
                    <p><i class="fas fa-times"></i>SIRE</p>
                    <p><i class="fas fa-times"></i>Contabilidad y finanzas</p>
                    <p><i class="fa-solid fa-bolt"></i>Videotutoriales</p>
                    <p><i class="fa-solid fa-bolt"></i>Asesoría personalizada</p>
                    <p><i class="fa-solid fa-bolt"></i>Soporte personalizado</p>
                    <button @click="enviar('micro_empresa')">Seleccionar</button>
                </div>
                <div class="plan">
                    <h3>EMPRENDEDOR</h3>
                    <template v-if="isActive === '03'">
                        <br>
                        <h1><strong>S/ 215.73</strong></h1>
                        <h5>+IGV / 03 Meses</h5>
                    </template>
                    <template v-else-if="isActive === '06'">
                        <label>ANTES S/ 419.90</label>
                        <br>
                        <h1><strong>S/ 407.49</strong></h1>
                        <h5>+IGV / 06 Meses</h5>
                    </template>
                    <template v-else-if="isActive === '12'">
                        <label>ANTES S/ 789.9</label>
                        <br>
                        <h1><strong>S/ 767.04</strong></h1>
                        <h5>+IGV / 12 Meses</h5>
                    </template>
                    <template v-else="isActive === '01'">
                        <br>
                        <h1><strong>S/ 79.90</strong></h1>
                        <h5>+IGV / Mensual</h5>
                    </template>
                    <br>
                    <p><i class="fa-solid fa-bolt"></i>Comprobantes Electrónicos</p>
                    <p><i class="fa-solid fa-bolt"></i>Documentos ilimitados</p>
                    <p><i class="fa-solid fa-bolt"></i>02 Establecimientos</p>
                    <p><i class="fa-solid fa-bolt"></i>02 Almacenes</p>
                    <p><i class="fa-solid fa-bolt"></i>04 Usuarios</p>
                    <p><i class="fa-solid fa-bolt"></i>Productos ilimitados</p>
                    <p><i class="fa-solid fa-bolt"></i>Módulo de ventas</p>
                    <p><i class="fa-solid fa-bolt"></i>Módulo de compras</p>
                    <p><i class="fa-solid fa-bolt"></i>Guías electrónicas</p>
                    <p><i class="fa-solid fa-bolt"></i>Gestión de inventario</p>
                    <p><i class="fas fa-times"></i>Reportes</p>
                    <p><i class="fas fa-times"></i>Tienda Virtual</p>
                    <p><i class="fas fa-times"></i>Módulo de producción</p>
                    <p><i class="fas fa-times"></i>SIRE</p>
                    <p><i class="fas fa-times"></i>Contabilidad y finanzas</p>
                    <p><i class="fa-solid fa-bolt"></i>Videotutoriales</p>
                    <p><i class="fa-solid fa-bolt"></i>Asesoría personalizada</p>
                    <p><i class="fa-solid fa-bolt"></i>Soporte personalizado</p>
                    <button @click="enviar('emprendedor')">Seleccionar</button>
                </div>
                <div class="plan">
                    <h3>CORPORATIVO</h3>
                    <template v-if="isActive === '03'">
                        <br>
                        <h1><strong>S/ 249.90</strong></h1>
                        <h5>+IGV / 03 Meses</h5>
                    </template>
                    <template v-else-if="isActive === '06'">
                        <label>ANTES S/ 524.9</label>
                        <br>
                        <h1><strong>S/ 509.49</strong></h1>
                        <h5>+IGV / 06 Meses</h5>
                    </template>
                    <template v-else-if="isActive === '12'">
                        <label>ANTES S/ 999.9</label>
                        <br>
                        <h1><strong>S/ 959.04</strong></h1>
                        <h5>+IGV / 12 Meses</h5>
                    </template>
                    <template v-else="isActive === '01'">
                        <br>
                        <h1><strong>S/ 99.90</strong></h1>
                        <h5>+IGV / Mensual</h5>
                    </template>
                    <br>
                    <p><i class="fa-solid fa-bolt"></i>Comprobantes Electrónicos</p>
                    <p><i class="fa-solid fa-bolt"></i>Documentos ilimitados</p>
                    <p><i class="fa-solid fa-bolt"></i>04 Establecimientos</p>
                    <p><i class="fa-solid fa-bolt"></i>04 Almacenes</p>
                    <p><i class="fa-solid fa-bolt"></i>08 Usuarios</p>
                    <p><i class="fa-solid fa-bolt"></i>Productos ilimitados</p>
                    <p><i class="fa-solid fa-bolt"></i>Módulo de ventas</p>
                    <p><i class="fa-solid fa-bolt"></i>Módulo de compras</p>
                    <p><i class="fa-solid fa-bolt"></i>Guías electrónicas</p>
                    <p><i class="fa-solid fa-bolt"></i>Gestión de inventario</p>
                    <p><i class="fa-solid fa-bolt"></i>Reportes</p>
                    <p><i class="fa-solid fa-bolt"></i>Tienda Virtual</p>
                    <p><i class="fa-solid fa-bolt"></i>Módulo de producción</p>
                    <p><i class="fa-solid fa-bolt"></i>SIRE</p>
                    <p><i class="fa-solid fa-bolt"></i>Contabilidad y finanzas</p>
                    <p><i class="fa-solid fa-bolt"></i>Videotutoriales</p>
                    <p><i class="fa-solid fa-bolt"></i>Asesoría personalizada</p>
                    <p><i class="fa-solid fa-bolt"></i>Soporte personalizado</p>
                    <button @click="enviar('coorporativo')">Seleccionar</button>
                </div>
            </div>
        </div>
        <form-izi :showDialog.sync="showDialogForm"
                    :plan="plan"
                    :mounth="mounth">
        </form-izi>
    </div>
</template>
<script>
export default {
    props: [
        'images'
    ],
    data() {
        return {
            isActive: '01',
            nivel: null,
            selectedOption: 'mensual',
            showDialogForm: false,
            plan: null,
            mounth: null
        };
    },
    methods: {
        handleClick(value) {
            this.isActive = value;
        },
        showPrices(option) {
            this.selectedOption = option;
        },
        enviar(nivel){
            this.plan = nivel
            this.mounth = this.isActive
            this.showDialogForm = true
        }
    },
};
</script>