<template>
    <div class="inicio">
        <prices-izi></prices-izi>
        <div class="centrado">
            <h4>COMPLEMENTOS</h4>
            <h2>Complementos para vender y facturar</h2>
        </div>
        <div class="precios">
            <div class="price-list2">
                <div class="plan2">
                    <div class="plan-header">SUCURSAL ADICIONAL</div>
                    <br>
                    <h1><strong>S/ 20.00</strong></h1>
                    <h5>+IGV</h5>
                    <br>
                </div>
                <div class="plan2">
                    <div class="plan-header">USUARIO ADICIONAL</div>
                    <br>
                    <h1><strong>S/ 10.00</strong></h1>
                    <h5>+IGV</h5>
                    <br>
                </div>
                <div class="plan2">
                    <div class="plan-header">CONFIGURACION ADICIONAL</div>
                    <br>
                    <h1><strong>S/ 10.00</strong></h1>
                    <h5>+IGV</h5>
                    <br>
                </div>
                <div class="plan2">
                    <div class="plan-header">GESTION DE RUTAS</div>
                    <br>
                    <h1><strong>S/ 40.00</strong></h1>
                    <h5>+IGV</h5>
                    <br>
                </div>
            </div>
        </div>
    </div>
</template>