<template>
    <el-dialog :visible.sync="showDialog" @close="close" top="5vh">
        <div slot="title">{{ selectedProduct.modelo }}</div>
        <div class="modal-content">
            <div class="modal-image-container">
                <img :src="selectedProduct.image" alt="Product Image" class="modal-image">
            </div>
            <div class="modal-details">
                <div class="centrado2">
                    <h2 class="modal-product-name">{{ selectedProduct.name }}</h2>
                    <p class="modal-product-description">{{ selectedProduct.description }}</p>
                </div>
                <div class="contact-button">
                    <a :href="whatsappLink(selectedProduct.name)" target="_blank">
                        <i class="fab fa-whatsapp"></i> Contactar por WhatsApp
                    </a>
                </div>
                <!-- Agregar especificaciones y otros detalles del producto aquí -->
            </div>
        </div>
        <el-tabs>
            <template v-if="selectedProduct.is_description">
                <el-tab-pane label="Descripción" name="option1">
                    <div class="tab-content">
                        <div class="tab-half tab-border">
                            <img v-if="selectedProduct.image_detalle" :src="selectedProduct.image_detalle" alt="Opción 1" class="tab-image" />
                        </div>
                        <div class="tab-half">
                            <p class="tab-text">{{ selectedProduct.description }}</p>
                        </div>
                    </div>
                    <div class="tab-content">
                        <div class="tab-half">
                            <p class="tab-text">{{ selectedProduct.description1 }}</p>
                        </div>
                        <div class="tab-half tab-border">
                            <img :src="selectedProduct.image_detalle1" alt="Opción 1" class="tab-image" />
                        </div>
                    </div>
                    <div class="tab-content">
                        <div class="tab-half tab-border">
                            <img v-if="selectedProduct.image_detalle" :src="selectedProduct.image_detalle2" alt="Opción 1" class="tab-image" />
                        </div>
                        <div class="tab-half">
                            <p class="tab-text" v-html="selectedProduct.description2"></p>
                        </div>
                    </div>
                </el-tab-pane>
            </template>
            <template v-if="selectedProduct.especificaciones">
                <el-tab-pane label="Especificaciones" name="option2">
                    <div class="table-responsive2">
                        <table cellspacing="0" cellpadding="0" class="table2 table-bordered">
                            <tbody>
                                <!-- Fila 1: Modelo -->
                                <tr class="firstRow">
                                    <td width="215" height="28"><strong>Modelo</strong></td>
                                    <td height="28"><strong>{{ selectedProduct.modelo }}</strong></td>
                                </tr>
                                <!-- Fila 2: Impresión de características -->
                                <tr>
                                    <td height="28" colspan="2"><strong>Impresión de características</strong></td>
                                </tr>
                                <!-- Fila con contenido (Ejemplo) -->
                                <tr v-for="(feature, index) in selectedProduct.caracteristicas" :key="index" class="secondRow">
                                    <td height="21">{{ feature.key }}</td>
                                    <td height="21">{{ feature.label }}</td>
                                </tr>
                                <tr>
                                    <td height="28" colspan="2"><strong>Rendimiento</strong></td>
                                </tr>
                                <tr v-for="(feature, index) in selectedProduct.rendimiento" class="secondRow">
                                    <td height="21">{{ feature.key }}</td>
                                    <td height="21">{{ feature.label }}</td>
                                </tr>
                                <tr>
                                    <td height="28" colspan="2"><strong>Fuentes/gráficos/simbología</strong></td>
                                </tr>
                                <tr v-for="(feature, index) in selectedProduct.fuentes" class="secondRow">
                                    <td height="21">{{ feature.key }}</td>
                                    <td height="21">{{ feature.label }}</td>
                                </tr>
                                <tr>
                                    <td height="28" colspan="2"><strong>Características físicas</strong></td>
                                </tr>
                                <tr v-for="(feature, index) in selectedProduct.fisicas" class="secondRow">
                                    <td height="21">{{ feature.key }}</td>
                                    <td height="21">{{ feature.label }}</td>
                                </tr>
                                <tr>
                                    <td height="28" colspan="2"><strong>Los sistemas compatibles</strong></td>
                                </tr>
                                <tr v-for="(feature, index) in selectedProduct.sistemas" class="secondRow">
                                    <td height="21">{{ feature.key }}</td>
                                    <td height="21">{{ feature.label }}</td>
                                </tr>
                                <tr>
                                    <td height="28" colspan="2"><strong>Fuente de alimentación</strong></td>
                                </tr>
                                <tr v-for="(feature, index) in selectedProduct.fuente" class="secondRow">
                                    <td height="21">{{ feature.key }}</td>
                                    <td height="21">{{ feature.label }}</td>
                                </tr>
                                <tr>
                                    <td height="28" colspan="2"><strong>Las condiciones ambientales</strong></td>
                                </tr>
                                <tr v-for="(feature, index) in selectedProduct.condiciones" class="secondRow">
                                    <td height="21">{{ feature.key }}</td>
                                    <td height="21">{{ feature.label }}</td>
                                </tr>
                                
                                <!-- ... Otras filas ... -->
                            </tbody>
                        </table>
                    </div>
                </el-tab-pane>
            </template>
            <template v-if="selectedProduct.especificaciones_2">
                <el-tab-pane label="Especificaciones" name="option2">
                    <div class="table-responsive2">
                        <table cellspacing="0" cellpadding="0" class="table2 table-bordered">
                            <tbody>
                                <!-- Fila 1: Modelo -->
                                <tr class="firstRow">
                                    <td width="215" height="28"><strong>Modelo</strong></td>
                                    <td height="28"><strong>{{ selectedProduct.modelo }}</strong></td>
                                </tr>
                                <!-- Fila 2: Impresión de características -->
                                <tr>
                                    <td height="28" colspan="2"><strong>Características</strong></td>
                                </tr>
                                <!-- Fila con contenido (Ejemplo) -->
                                <tr v-for="(feature, index) in selectedProduct.especificaciones_real" :key="index" class="secondRow">
                                    <td height="21">{{ feature.key }}</td>
                                    <td height="21">{{ feature.label }}</td>
                                </tr>
                                <!-- ... Otras filas ... -->
                            </tbody>
                        </table>
                    </div>
                </el-tab-pane>
            </template>
        </el-tabs>
        <div slot="footer">
            <el-button @click="close">Cerrar</el-button>
        </div>
    </el-dialog>
</template>
<script>
export default {
    props: [ "selectedProduct", "showDialog"],
    data() {
        return {
            name: null,
        }
    },
    methods: {
        close() {
            this.name= null,
            this.$emit('update:showDialog', false)
        },
        whatsappLink(model) {
            const phoneNumber = "943217021"; // Reemplazar con tu número de WhatsApp
            const message = encodeURIComponent(`¡Hola! Estoy interesado en obtener más información sobre los equipos que ofreces. Me gustaría saber más acerca de ${model}.`);
            return `https://api.whatsapp.com/send?phone=${phoneNumber}&text=${message}`;
        }
    }
}
</script>
<style>
.modal-content {
  display: flex;
  padding: 20px;
}

.modal-image-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-image {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  width: 70%;
}

.modal-details {
  flex: 2;
  padding-left: 20px;
}

.modal-product-name {
  font-size: 1.5rem;
  margin-top: 0;
  color: #e6a23c;
}

.modal-product-description {
  margin-top: 10px;
  color: #000;
  font-weight: bold;
}

.modal-product-price {
  margin-top: 15px;
  font-size: 1.2rem;
}
.tab-description {
  border-left: 2px solid #6457a2; /* Borde izquierdo elegante */
  padding-left: 15px; /* Espacio a la izquierda del contenido */
  margin-left: 20px; /* Espacio entre el borde y el texto */
}

.tab-title {
  font-size: 1.2rem;
  margin-bottom: 10px;
  color: #6457a2;
}

.tab-text {
  padding-left: 20px;
  color: #463a86;
    line-height: 1.6;
    /* font-size: 14px; */
    /* font-weight: 100; */
    font-weight: bold;
}
.tab-content {
  display: flex;
  align-items: center;
  padding: 20px;
  border: 1px solid #f4f7fc;
    margin-top: 8px;
    border-radius: 32px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    width: 95%;
}

.tab-half {
  flex: 1;
  padding: 10px;
}

.tab-border {
  padding: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  border-radius: 32px;
    background-color: #f4f7fc;
}

.tab-image {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.table-responsive2 {
  overflow-x: auto;
}

.table2 {
  border-collapse: collapse;
  width: 100%;
  margin: 20px 0;
  border: 1px solid #ccc;
}

.table2 th,
.table2 td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: left;
}

/* Estilos para el contenido de la tabla */
.table2 td {
  background-color: #6457a2;
  color: #fff;
}

.firstRow td {
  color: white;
}

.secondRow td{
  color: #000;
  background-color: rgb(255, 255, 255);
}
.el-dialog {
  width: 70%;
}
.el-dialog__body {
  word-break: inherit;
  text-align: justify;
}
.contact-button {
    display: inline-block;
    background-color: #10b07a;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    padding: 14px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 15px;
}

.contact-button a {
    color: white;
    text-decoration: none;
}

.contact-button i {
    margin-right: 8px;
}
.contact-button:hover {
    background-color: #128C7E;
}
/* Estilos para el contenido móvil */
@media (max-width: 768px) {
  .modal-content {
    flex-direction: column;
    padding: 10px;
  }
  .modal-image-container {
    max-width: 100%;
    margin-bottom: 10px;
  }
  .modal-image {
    width: 100%;
    max-height: auto;
  }
  .modal-details {
    padding-left: 0;
  }
  .modal-product-name {
    font-size: 1.2rem;
    margin-top: 10px;
  }
  .modal-product-description {
    margin-top: 5px;
    font-size: 0.9rem;
  }
  .modal-product-price {
    margin-top: 10px;
    font-size: 1rem;
  }
  .table {
    font-size: 0.8rem;
  }
  .el-dialog {
        width: 90%;
    }
    .tab-content {
        display: inherit;
        width: 100%;
    }
    .tab-text {
        padding-left: 0px;
        line-height: 1.6;
        font-size: 12px;

    }
    .tab-half {
        padding-top: 10px;
    }
}
</style>