<template>
  <div class="inicio">
    <div class="centrado">
            <h4>EQUIPOS TECNOLÓGICOS</h4>
            <h2>Variedad de equipos</h2>
            </div>
    <div class="wrapperbody">
            <div class="wrapper">
                <i id="left" class="fa-solid fa-angle-left"></i>
                <ul class="carousel">
                    <li class="card">
                    <div class="img"><img :src="images_url.P501A" alt="img" draggable="false">
                    </div>
                    <h4>TICKETERA PORTATIL TICKETS</h4>
                    <p>XPRINTER P501A 58mm</p>
                    </li>
                    <li class="card">
                    <div class="img">
                        
                    <img :src="images_url.P801A" alt="img" draggable="false"></div>
                    <h4>TICKETERA PORTATIL TICKETS</h4>
                    <p>XPRINTER P801A 80mm</p>
                    </li>
                    <li class="card">
                    <div class="img"><img :src="images_url.A260M" alt="img" draggable="false"></div>
                    <h4>IMPRESORA TÉRMICA TICKETS</h4>
                    <p>XPRINTER A260M 80mm</p>
                    </li>
                    <li class="card">
                    <div class="img"><img :src="images_url.XP_365" alt="img" draggable="false"></div>
                    <h4>IMPRESORA TÉRMICA</h4>
                    <p>RP POS XP-365</p>
                    </li>
                    <li class="card">
                    <div class="img"><img :src="images_url.TG_4B_2054L" alt="img" draggable="false"></div>
                    <h4>IMPRESORA TÉRMICA ETIQUETAS</h4>
                    <p>4B 2054L TG</p>
                    </li>
                    <li class="card">
                    <div class="img"><img :src="images_url.YDA_9300D" alt="img" draggable="false"></div>
                    <h4>LECTOR CODIGO DE BARRAS</h4>
                    <p>2D ESCRITORIO YDA-9300D</p>
                    </li>
                    <li class="card">
                    <div class="img"><img :src="images_url.YHDAA" alt="img" draggable="false"></div>
                    <h4>LECTOR CODIGO DE BARRAS</h4>
                    <p>ALÁMBRICO YHDAA</p>
                    </li>
                    <li class="card">
                    <div class="img"><img :src="images_url.RP320BT" alt="img" draggable="false"></div>
                    <h4>TICKETERA TÉRMICA</h4>
                    <p>XPRINTER RP320BT</p>
                    </li>
                </ul>
                <i id="right" class="fa-solid fa-angle-right"></i>
            </div>
        </div>
  <div class="precios">
    <div class="product-list">
      <div class="product-card" v-for="(product, index) in productList" :key="index" >
        <div class="product-image" @click="openModal(product)">
          <img :src="product.image" :alt="product.name" />
        </div>
        <div class="product-details">
          <h3 class="product-name">{{ product.name }}</h3>
          <p class="product-price">S/. {{ product.price }}</p>
        </div>
      </div>
    </div>
    <equipos-detalle :showDialog.sync="showModal" :selectedProduct ="selectedProduct">
        </equipos-detalle>
  </div>
  </div>
</template>

<script>
import EquiposDetalle from './equipos_detalle.vue';
export default {
  props: [
        'images'
    ],
    component: {EquiposDetalle},
  data() {
    return {
      productList: [
        {
          name: "TICKETERA PORTATIL XPRINTER P801A 80mm",
          modelo : "XP-P801A",
          image: this.images.P801A,
          especificaciones: true,
          price: 399.90,
          especificaciones_2: false,
          description: "Lector de código de barras de escritorio 9300D 2D Escáner omnidireccional 1D QR Plataforma ajustable manos libres para Windows XP/7/8/10, Mac OS, Linux",
          is_description: false,
          caracteristicas: [
            {
              key : "Método de impresión",
              label: "Térmica Directa",
            },
            {
              key : "Resolución",
              label: "203 DPI",
            },
            {
              key : "Espaciado de línea",
              label: "3,75mm (ajustable por comandos)",
            },
            {
              key : "Ancho de impresión",
              label: "48 mm",
            },
            {
              key : "Max velocidad de impresión",
              label: "Max 70 mm/s",
            },
            {
              key : "Ancho de papel",
              label: "58 mm",
            },
            {
              key : "Rollo de papel Diámetro",
              label: "40 mm",
            }            
          ],
          rendimiento: [
            {
              key: "Las Interfaces",
              label: "USB Bluetooth + + (1 + 1)"
            },
            {
              key: "Búfer de entrada",
              label: "128 Kbytes"
            },
            {
              key: "NV Flash",
              label: "64 Kbytes"
            },
            {
              key: "Emulación",
              label: "ESC/POS"
            },
          ],
          fuentes: [
            {
              key: "Tamaño de caracter",
              label: "ANK, fuente A: 1,5 × 3,0mm(12 × 24 puntos) Fuente B: 1,1 × 2,1mm(9 × 17 puntos) simplificado/chino tradicional: 3,0 × 3,0mm(24 × 24 puntos)"
            },
            {
              key: "Código de barras de tipos",
              label: "1D:UPC-A/UPC-E/JAN13(EAN13)/JAN8(EAN8)/CODE39/ITF/CODABAR/CODE93/CODE128 2D: qrcódigo"
            },
            {
              key: "Ampliado hoja de personaje",
              label: " PC347 estándar (Europa) 、 Katakana 、 PC850 (multilingüe) PC860 、 (portugués) PC863 、 (canadiense-francés) 、PC865(Nordic)、 Europa Occidental 、 griego 、 hebreo 、 Europa Oriental 、 irán 、 WPC1252 、 PC866 (Cirílico #2)、 PC852(Latin2)、 PC858 、 IranII 、 letón 、 árabe 、 PT151(1251)"
            },
          ],
          fisicas :  [
            {
              key: "Dimensión",
              label: "124*83*51mm (L * W * H)"
            },
            {
              key: "Peso",
              label: "0,23 kg"
            }
          ],
          sistemas :  [
            {
              key: "Los sistemas de",
              label: "Windows/Android/iOS/Mac/Linux"
            }
          ],
          fuente :  [
            {
              key: "De la batería",
              label: "7,4 V/ 2000mAh"
            },
            {
              key: "De entrada de carga",
              label: "Cc 5V/2A"
            }
          ],
          condiciones :  [
            {
              key: "Ambiente de operación",
              label: "0 ~ 45 ℃ 10 ~ 80% RH   Sin condensación"
            },
            {
              key: "Entorno de almacenamiento",
              label: "-10 ~ 60 ℃... ≤ 10 ~ 90% RH   Sin condensación"
            }
          ],
          
        },
        {
          name: "TICKETERA PORTATIL XPRINTER P501A 58 mm",
          is_description: true,
          especificaciones_2: false,
          especificaciones: true,
          modelo : "XP-P501A",
          description: "XP-P501A es una potente impresora de billetes de 2 ich con 70 mm/s Velocidad de impresión rápida, tamaño extremadamente compacto para que sea fácil de llevar contigo.",
          description1: "Equipado con un equipo afilado y duradero para ayudarte a rasgar cada billete impreso de forma rápida y nítida.",
          description2: `
            Características principales: <br>
            1. Impresión múltiple de código de barras 1D <br>
            2. Impresión de código de barras 2D <br>
            3. Impresión de imágenes de descarga del logotipo de NV (formato de imagen: BMP)<br>
            4. Compatible con Windows/Android/ iOS sistemas<br>
            5. Alarma de salida de papel<br>
            6. Varios Idiomas disponibles: chino simplificado, chino tradicional, coreano, japonés y 19 idiomas internacionales
          `,
          price: 299.90,
          image: this.images.P501A,
          image_detalle: this.images.P501A_detalle,
          image_detalle1: this.images.P501A_detalle1,
          image_detalle2: this.images.P501A_detalle2,
          caracteristicas: [
            {
              key : "Método de impresión",
              label: "Térmica directa",
            },
            {
              key : "Resolución",
              label: "203 ppp",
            },
            {
              key : "Espaciado de línea",
              label: "3.75mm (Ajustable por comandos)",
            },
            {
              key : "Ancho de impresión",
              label: "72mm",
            },
            {
              key : "Velocidad de impresión",
              label: "70 mm/s",
            },
            {
              key : "Ancho de papel",
              label: "80mm",
            },
            {
              key : "Diámetro del rollo de papel",
              label: "50 mm",
            }            
          ],
          rendimiento: [
            {
              key: "Las Interfaces",
              label: "USB+Bluetooth(1+1)"
            },
            {
              key: "Búfer de entrada",
              label: "128 Kbytes"
            },
            {
              key: "Destello NV",
              label: "4M Kbytes"
            },
            {
              key: "Emulación",
              label: "ESC/POS"
            },
          ],
          fuentes: [
            {
              key: "Tamaño de caracter",
              label: "ANK，Fuente A: 1,5 × 3,0 mm (12 × 24 puntos) Fuente B: 1,1 × 2,1 mm (9 × 17 puntos) Chino simplificado/tradicional: 3,0 × 3,0 mm (24 × 24 puntos)"
            },
            {
              key: "Tipos de código de barras",
              label: "1D:UPC-A/UPC-E/JAN13(EAN13)/JAN8(EAN8)/CODE39/ITF/CODABAR/CODE93/CODE128 2D: QRCODE "
            },
            {
              key: "Hoja de personaje extendida",
              label: " PC347 estándar (Europa) 、 Katakana 、 PC850 (multilingüe) PC860 、 (portugués) PC863 、 (canadiense-francés) 、PC865(Nordic)、 Europa Occidental 、 griego 、 hebreo 、 Europa Oriental 、 irán 、 WPC1252 、 PC866 (Cirílico #2)、 PC852(Latin2)、 PC858 、 IranII 、 letón 、 árabe 、 PT151(1251)"
            },
          ],
          fisicas :  [
            {
              key: "Dimensión",
              label: "135*105*61,5 mm (largo x ancho x alto)"
            },
            {
              key: "Peso",
              label: "0,3 kilogramos"
            }
          ],
          sistemas :  [
            {
              key: "Los sistemas de",
              label: "Windows/Android/iOS/Linux"
            }
          ],
          fuente :  [
            {
              key: "Batería",
              label: "7,4 V/2000 mAh"
            },
            {
              key: "Entrada de carga",
              label: "CC 5V/2A"
            }
          ],
          condiciones :  [
            {
              key: "Entorno de operación",
              label: "0~45℃,10~80%RH sin condensación"
            },
            {
              key: "Entorno de almacenamiento",
              label: "-10~60 ℃,≤10~90% RH sin condensación"
            }
          ],
        },
        {
          name: "IMPRESORA TÉRMICA XPRINTER A260M 80mm",
          modelo : "XP-A260M",
          image: this.images.A260M,
          description: "Xprinter lleva a cabo un estricto seguimiento de la calidad y control de costos en cada eslabón de producción de los fabricantes de impresoras OEM, desde la compra de materia prima, la producción y el procesamiento y la entrega del producto terminado hasta el embalaje y el transporte. Esto garantiza efectivamente que el producto tenga mejor calidad y un precio más favorable que otros productos de la industria.",
          description1: "Equipado con un equipo afilado y duradero para ayudarte a rasgar cada billete impreso de forma rápida y nítida.",
          description2: `La impresora térmica de recibos XP-A260M / A300M de 80 mm es un modelo económico con múltiples interfaces, compatible con montaje en pared, compatible con el controlador OPOS, sistema de control de cortador inteligente, compatible con Microsoft POS para .NET v1.14`,
          image_detalle: this.images.A260M_detalle,
          image_detalle1: this.images.A260M_detalle1,
          image_detalle2: this.images.A260M_detalle2,
          price: 450.00,
          is_description: true,
          especificaciones_2: false,
          especificaciones: true,
          caracteristicas: [
            {
              key : "Método de impresión",
              label: "Térmica Directa",
            },
            {
              key : "Ancho de impresión",
              label: "72mm (ajustable por comando)",
            },
            {
              key : "Capacidad de columna",
              label: "576 puntos/línea (ajustable por comando)",
            },
            {
              key : "Velocidad de impresión",
              label: "USB+Serie+Lan",
            },
            {
              key : "Papel para imprimir",
              label: "79,5±0,5 mm",
            },
            {
              key : "Espaciado entre líneas",
              label: "3.75mm (Ajustable por comandos)",
            },
            {
              key : "Número de columna",
              label: "Papel de 80 mm: Fuente A: 42 columnas o 48 columnas/Fuente B: 56 columnas o 64 columnas/chino, chino tradicional: 21 columnas o 24 columnas",
            },
            {
              key : "Tamaño de carácter",
              label: "ANK, Fuente A: 1,5 × 3,0 mm (12 × 24 puntos) Fuente B: 1,1 × 2,1 mm (9 × 17 puntos) Chino, chino tradicional: 3,0 × 3,0 mm (24 × 24 puntos)",
            }
          ],
          caracter:[
            {
              key: "Hoja de personaje de extensión ",
              label: "PC347 (Europa estándar), Katakana, PC850 (Multilingüe), PC860 (Portugués), PC863 (Francés canadiense), PC865 (Nórdico), Europa occidental, Griego, Hebreo, Europa del Este, Irán, WPC12 52, PC866 (cirílico n.º 2) 、PC852（Latin2）、PC858、IranII、Letón、Árabe、PT151（1251）"
            },
            {
              key:"Tipos de código de barras",
              label: "UPC-A/UPC-E/JAN13(EAN13)/JAN8(EAN8)/CODE39/ITF/CODABAR/CODE93/CODE128"
            },
            {
              key:"Código 2D",
              label: "Código QR / PDF417"
            }
          ],
          Buffer: [ 
            {
              key:"Búfer de entrada",
              label: "64k bytes"
            },
            {
              key:"Destello NV",
              label: "256k bytes"
            },
          ],
          rendimiento: [
            {
              key: "Vida del cortador",
              label: "1,5 millones de recortes"
            },
            {
              key: "Vida útil del cabezal de la impresora",
              label: "100 km"
            },
          ],
          fuentes: [
            {
              key: "Adaptador de corriente",
              label: "Entrada: CA 110 V/220 V, 50 ~ 60 Hz."
            },
            {
              key: "Fuente de alimentación",
              label: "Salida: CC 24 V/2,5 A."
            },
            {
              key: "Salida del cajón de dinero",
              label: "CC 24 V/1 A."
            },
          ],
          fisicas :  [
            {
              key: "Peso",
              label: "1,05 kg"
            },
            {
              key: "Dimensiones",
              label: "195 × 140 × 137,5 mm (Pr × An × Al)"
            }
          ],
          sistemas :  [
            {
              key: "Los sistemas de",
              label: "Windows/Android/iOS/Mac/Linux"
            }
          ],
          fuente :  [
            {
              key: "De la batería",
              label: "7,4 V/ 2000mAh"
            },
            {
              key: "De entrada de carga",
              label: "Cc 5V/2A"
            }
          ],
          condiciones :  [
            {
              key: "Ambiente de trabajo",
              label: "Temperatura (0～45℃) humedad (10～80%)"
            },
            {
              key: "Entorno de almacenamiento",
              label: "Temperatura (-10~60 ℃) Humedad (10~80%)"
            }
          ],
          
        },
        {
          name: "TICKETERA TÉRMICA XP-365B",
          modelo : "XP 365B",
          image: this.images.XP_365,
          description: "Impresora térmica DUAL de tickets y etiquetas con conexión USB y BLUETOOTH, velocidad de 127mm/sec, compatible con macOS, iOS, Windows, Android. Escaneo rápido con impresión directa, papel de recibo térmico de 20-80mm con ajuste libre de impresión dual, bajo consumo energético.",
          is_description: false,
          especificaciones_2: true,
          price: 550.00,
          especificaciones: false,
          especificaciones_real : [
            {
              key : "Modelo",
              label : "XP 365B",
            },
            {
              key : "Marca",
              label : "XP POS",
            },
            {
              key : "Método de impresión",
              label : "Térmica Directa",
            },
            {
              key : "Ancho de impresión",
              label : "XP 72 mm / 76 mm / 80 mm / 64 mm / 48 mm / 52 mm",
            },
            {
              key : "Tamaño de carácter",
              label : "ANK, Cortador automático: Parcial CORTADOR Chino, Traditional Chino:3.0×3.0mm (24×24 puntos)",
            },
            {
              key : "Velocidad de impresión",
              label : "200 mm/s",
            },
            {
              key : "Ancho de papel",
              label : "80 mm",
            },
            {
              key : "Espaciado de línea",
              label : "3,75 mm (ajustable por comandos)",
            },
            {
              key : "Fuente A",
              label : "1.5 x 3.0 mm (12 x 24 puntos)",
            },
            {
              key : "Fuente B",
              label : "1,1 x 2,1 mm(9×17) chino, chino tradicional: 3.0 x 3.0 mm (24×24 puntos)",
            },
            {
              key : "Adaptador de corriente",
              label : "Entrada: AC 100-240V 50 ~ 60Hz – Salida: CC 24V/2.5A",
            },
            {
              key : "Entrada de impresora",
              label : "CC 24V / 2,5A",
            },
            {
              key : "Salida del cajón de efectivo",
              label : "DC 24V / 1A",
            },
            {
              key : "Peso",
              label : "1.02 kg",
            },
          ]
        },
        {
          name: "IMPRESORA TÉRMICA DE ETIQUETAS 4B-2054L",
          modelo : "4B-2054L",
          image: this.images.TG_4B_2054L,
          description: "Diseño que ahorra espacio. La velocidad de impresión más rápida, de 6 pulgadas 152 mm/s para mejorar la eficiencia diaria. 8MB de SDRAM y 8MB de memoria Flash para un uso más flexible. El lenguaje de emulación de soporte de compatibilidad: TSPL, ZPL, EPL, DPL",
          is_description: false,
          especificaciones_2: true,
          price: 720.00,
          especificaciones: false,
          especificaciones_real : [
            {
              key : "Modelo",
              label : "4B-2054L",
            },
            {
              key : "Marca",
              label : "RP POS",
            },
            {
              key : "Método de impresión",
              label : "Térmica Directa",
            },
            {
              key : "Ancho de impresión",
              label : "110 milímetros",
            },
            {
              key : "Resolución",
              label : "203 DPI",
            },
            {
              key : "Velocidad máxima de impresión",
              label : "152 mm/s máx",
            },
            {
              key : "Tipo de interfaz puerto",
              label : "USB + RJ11",
            },
            {
              key : "Ancho de medios",
              label : "25.4 ~ 110 mm",
            },
            {
              key : "Tamaño de carácter",
              label : "Fuente 0 a Fuente 8, K, TST24, TSS24, SFC",
            },
            {
              key : "Adaptador de corriente",
              label : "Entrada: CA 110V / 240,50 ~60Hz",
            },
            {
              key : "Fuente de Entrada",
              label : "AC 100~240V",
            },
            {
              key : "Fuente de Salida",
              label : "DC 24V/2.5A",
            },
            {
              key : "Peso",
              label : "1,32 kilogramos",
            },
            {
              key : "Dimensiones",
              label : "215 x 178 x 149.5 mm (D * W * H)",
            },
            {
              key : "Emulación",
              label : "TSPL, EPL, ZPL, DPL",
            },
            {
              key : "Conductor",
              label : "Windows/Linus/MAC",
            },
            {
              key : "Utilidad",
              label : "Utilidad de prueba de Windows y Linux",
            },
            {
              key : "SDK",
              label : "IOS / Android / Windows",
            },
          ]
        },
        {
          name: "LECTOR DE CÓDIGO DE BARRA YDA-9300D",
          modelo : "YHD-9300D",
          image: this.images.YDA_9300D,
          description: "Lector de código de barras de escritorio 9300D 2D Escáner omnidireccional 1D QR Plataforma ajustable manos libres para Windows XP/7/8/10, Mac OS, Linux",
          description2: "Escáner de código de barras CMOS con cable 2D ideal para Windows XP/7/8/10, Mac OS, Linux. Puede capturar fácilmente códigos de barras 1D, 2D/QR en etiquetas, papel y pantallas de teléfonos móviles o computadoras. Puede fijarlo directamente en su escritorio o mesa, sin necesidad de recoger el escáner al escanear, mejorando la eficiencia de trabajo y ahorrando tiempo. Campos de aplicación: tienda minorista, tienda de ropa, supermercado, biblioteca, librería, farmacia, almacén, sistema de estacionamiento, etc.",
          is_description: false,
          especificaciones_2: true,
          price: 350.00,
          especificaciones: false,
          especificaciones_real : [
            {
              key : "Modelo",
              label : "4B-2054L",
            },
            {
              key : "Marca",
              label : "YHDAA",
            },
            {
              key : "Fuente de luz del escáner",
              label : "LED",
            },
            {
              key : "Ancho de impresión",
              label : "110 milímetros",
            },
            {
              key : "Profundidad de color",
              label : "32 bit",
            },
            {
              key : "Amplitud del escáner",
              label : "A4",
            },
            {
              key : "Tipo",
              label : "Escáner de código de barras",
            },
            {
              key : "Tipo de interfaz",
              label : "USB",
            },
            {
              key : "Tipo de elemento de exploración",
              label : "CMOS",
            },
            {
              key : "Velocidad de escaneo",
              label : "200 escaneos/segundo",
            },
            {
              key : "Resolución óptica",
              label : "640*480",
            },
            {
              key : "Origen",
              label : "CN(Origen)",
            },
            {
              key : "Certificación",
              label : "CE,FCC,RoHS",
            },
          ]
        },
        {
          name: "LECTOR DE CÓDIGO DE BARRA ALÁMBRICO YHDAA",
          modelo : "YHDAA",
          image: this.images.YHDAA,
          description: "YHDAA-escáner de código de barras para ordenador móvil, lector de código de barras con cable láser, 1D, Bluetooth, 5800DW, 2,4G, inalámbrico, 2D, QR, PDF417",
          description2: "El escáner de código de barras láser con cable 1D puede conectarse con sistemas POS, computadoras portátiles y computadoras PC. Compatible con sistemas MAC OS,Windows XP/7/8/10; funciona con Quickbook, Word, Excel, Novell, navegadores y otros softwares comunes editables. No se necesita controlador, plug and play. Admite 24 tipos de idiomas. Dos modos de escaneo: modo de disparo clave + modo continuo.",
          price: 180.00,
          is_description: false,
          especificaciones_2: true,
          especificaciones: false,
          especificaciones_real : [
            {
              key : "Modelo",
              label : "1100L to 5800DW",
            },
            {
              key : "Marca",
              label : "YHDAA",
            },
            {
              key : "Fuente de luz del escáner",
              label : "LED",
            },
            {
              key : "Profundidad de color",
              label : "32 bit",
            },
            {
              key : "Amplitud del escáner",
              label : "A4",
            },
            {
              key : "Tipo",
              label : "Escáner de código de barras",
            },
            {
              key : "Tipo de interfaz",
              label : "USB",
            },
            {
              key : "Tipo de elemento de exploración",
              label : "CMOS",
            },
            {
              key : "Velocidad de escaneo",
              label : "200 escaneos/segundo",
            },
            {
              key : "Resolución óptica",
              label : "640*480",
            },
            {
              key : "Origen",
              label : "CN(Origen)",
            },
            {
              key : "Certificación",
              label : "CE,FCC,RoHS",
            },
          ]
        },
        {
          name: "IMPRESORA TÉRMICA DE TICKETS RP320BT",
          modelo : "RP 320 BT",
          image: this.images.RP320BT,
          description: "Impresora térmica para tickets de 80mm, con interfaz USB + BLUETOOH. Elegante diseño y fácil carga de papel. Confiable por su buen rendimiento y hardware de alta calidad.",
          is_description: false,
          especificaciones_2: true,
          price: 399.90,
          especificaciones: false,
          especificaciones_real : [
            {
              key : "Modelo",
              label : "1100L to 5800DW",
            },
            {
              key : "Marca",
              label : "RP POS",
            },
            {
              key : "Método de impresión",
              label : "Térmica Directa",
            },
            {
              key : "Ancho de impresión",
              label : "72 mm / 76 mm / 80 mm / 64 mm / 48 mm / 52 mm",
            },
            {
              key : "Tamaño de carácter",
              label : "ANK, Cortador automático: Parcial CORTADOR Chino, Traditional Chino:3.0×3.0mm (24×24 puntos)",
            },
            {
              key : "Velocidad de impresión",
              label : "200 mm/s",
            },
            {
              key : "Tipo de interfaz puerto",
              label : "USB + BLUETOOH",
            },
            {
              key : "Ancho de papel",
              label : "80 mm",
            },
            {
              key : "Espaciado de línea",
              label : "3,75 mm (ajustable por comandos)",
            },
            {
              key : "Fuente A",
              label : "1.5 x 3.0 mm (12 x 24 puntos)",
            },
            {
              key : "Fuente B",
              label : "1,1 x 2,1 mm(9×17) chino, chino tradicional: 3.0 x 3.0 mm (24×24 puntos)",
            },
            {
              key : "Adaptador de corriente",
              label : "Entrada: AC 100-240V 50 ~ 60Hz – Salida: CC 24V/2.5A",
            },
            {
              key : "Entrada de impresora",
              label : "CC 24V / 2,5A",
            },
            {
              key : "Salida del cajón de efectivo",
              label : "DC 24V / 1A",
            },
            {
              key : "Peso",
              label : "1.02 kg",
            },
            {
              key : "Dimensiones",
              label : "184x140x142mm (DxWxH)",
            },
            {
              key : "Emulación",
              label : "ESC / POS",
            },
            {
              key : "Conductor",
              label : "Windows/JPOS/OPOS/Linux – Android/MAC",
            },
            {
              key : "Utilidad",
              label : "Utilidad de prueba de Windows y Linux",
            },
            {
              key : "SDK",
              label : "IOS / Android / Windows",
            },
            {
              key : "Cortador aumático",
              label : "Parcial",
            },
            {
              key : "Código de barras 2D",
              label : "QR CODE / PDF417(Disponible en USB+LAN)",
            },

          ]
        },
      ],
      images_url: {
            P501A: "",
            P801A: "",
            A260M: "",
            A260M_detalle: "",
            A260M_detalle1: "",
            A260M_detalle2: "",
            XP_365: "",
            TG_4B_2054L: "",
            YDA_9300D: "",
            YHDAA: "",
            RP320BT: "",
            P501A_detalle: "",
            P501A_detalle1: "",
            P501A_detalle2: "",
        },
        showModal: false,
      selectedProduct: {},
    };
  },
  async created() {
        this.images_url = this.images;
        console.log(this.images)
    },
    methods: {
    openModal(product) {
      this.selectedProduct = product;
      this.showModal = true;
    },
    // ... Resto de tus métodos ...
  },
};
</script>

<style scoped>
/* Estilos CSS específicos para el componente */

</style>
