<template>
    <div class="inicio">
        <div class="centrado">
            <h4>CERTIFICADO DIGITAL</h4>
        </div>
        <section>
            <div class="box-container">
                <div class="box">
                    <img :src="images_url.certificado" alt="Imagen 1">
                </div>
                <div class="box">
                    <div class="centrado2">
                        <h4>¿Para que sirve?</h4>
                        <p>Certificado digital para facturación electrónica</p>
                        <el-collapse v-model="activePanel" accordion>
                            <el-collapse-item name="1" >
                                <template slot="title">
                                    <strong>&nbsp; Emisión cpe:</strong><i class="header-icon el-icon-information"></i>
                                </template>
                                <p>El certificado digital permite firmar digitalmente los documentos XML que corresponden a los comprobantes electrónicos, como Facturas Electrónicas, Boletas de Ventas Electrónicas, Notas Electrónicas (Crédito y Débito), Comprobantes de Percepción y Retención, entre otros. Estos comprobantes son de carácter tributario y reemplazan a los tradicionales comprobantes impresos.</p>
                            </el-collapse-item>
                        </el-collapse>
                        <el-collapse v-model="activePanel2" accordion>
                            <el-collapse-item name="1" >
                                <template slot="title">
                                    <strong>&nbsp;Requisitos legales:</strong><i class="header-icon el-icon-information"></i>
                                </template>
                                <p>El certificado digital garantiza el cumplimiento de los estándares y requerimientos establecidos por la SUNAT (Superintendencia Nacional de Aduanas y de Administración Tributaria) en Perú. Esto incluye cumplir con las disposiciones legales y normativas vigentes para la emisión de comprobantes electrónicos.</p>
                            </el-collapse-item>
                        </el-collapse>
                        <el-collapse v-model="activePanel3" accordion>
                            <el-collapse-item name="1" >
                                <template slot="title">
                                    <strong>&nbsp; Seguridad:</strong><i class="header-icon el-icon-information"></i>
                                </template>
                                <p>Al utilizar el certificado digital, se puede asegurar la integridad, autenticidad y no repudio de los comprobantes electrónicos emitidos. Esto implica que los documentos no pueden ser alterados, se puede verificar la identidad del emisor y no se puede negar su emisión.</p>
                            </el-collapse-item>
                        </el-collapse>
                        <el-collapse v-model="activePanel4" accordion>
                            <el-collapse-item name="1" >
                                <template slot="title">
                                    <strong>&nbsp;Agilidad: </strong><i class="header-icon el-icon-information"></i>
                                </template>
                                <p>La facturación electrónica, respaldada por el certificado digital, permite automatizar y agilizar los procesos de emisión, envío y recepción de comprobantes electrónicos. Esto reduce el uso de papel, los costos asociados a la impresión y distribución física de los comprobantes, y agiliza los trámites administrativos.</p>
                            </el-collapse-item>
                        </el-collapse>
                        
                        <p></p>
                    </div>
                </div>
            </div>
        </section>
        <div class="centrado">
            <h4>NUESTROS PRECIOS</h4>
            <h2>Planes a tu medida</h2>
        </div>
        <div class="precios">
            <div class="price-list">
                <div class="plan">
                    <h3>VIGENCIA 1 AÑO</h3>
                    <label>ANTES S/ 295.00</label>
                    <br>
                    <h1><strong>S/ 250.00</strong></h1>
                    <h5>+IGV / 1 Año</h5>
                    <br>
                    <br>
                    <button @click="enviar('certificado','12')">Seleccionar</button>
                </div>
                <div class="plan">
                    <h3>VIGENCIA 2 AÑOS</h3>
                    <label>ANTES S/ 510.00</label>
                    <br>
                    <h1><strong>S/ 450.00</strong></h1>
                    <h5>+IGV / 2 Años</h5>
                    <br>
                    <br>
                    <button @click="enviar('certificado','24')">Seleccionar</button>
                </div>
                <div class="plan">
                    <h3>VIGENCIA 3 AÑOS</h3>
                    <label>ANTES S/ 710.00</label>
                    <br>
                    <h1><strong>S/ 650.00</strong></h1>
                    <h5>+IGV / 3 Años</h5>
                    <br>
                    <br>
                    <button @click="enviar('certificado','36')">Seleccionar</button>
                </div>
            </div>
        </div>
        <section>
            <div class="box-container">
                <div class="box">
                    <div class="centrado2">
                        <h4>REQUISITOS</h4>
                        <label><i class="fa-solid fa-bolt"></i>&nbsp;&nbsp;DNI y/o CE vigente.</label>
                        <label><i class="fa-solid fa-bolt"></i>&nbsp;&nbsp;No contar con multas ante JNE.</label>
                        <label><i class="fa-solid fa-bolt"></i>&nbsp;&nbsp;Ficha RUC con código QR (no mayor a 7 días de antigüedad).</label>
                        <label><i class="fa-solid fa-bolt"></i>&nbsp;&nbsp;Vigencia poder/copia literal con código QR (no mayor a 3 meses de antigüedad).</label>
                        <label><i class="fa-solid fa-bolt"></i>&nbsp;&nbsp;Validación de identidad.</label>
                    </div>
                </div>
            </div>
        </section>
        <form-izi :showDialog.sync="showDialogForm"
                    :plan="plan"
                    :mounth="mounth">
        </form-izi>
    </div>
</template>
<script>
export default {
    props: [
        'images'
    ],
    data() {
        return {
            isActive: '01',
            nivel: null,
            selectedOption: 'mensual',
            showDialogForm: false,
            plan: null,
            mounth: null,
            images_url: {
                certificado: ""
            },
            activePanel: 0,
            activePanel2: 0,
            activePanel3: 0,
            activePanel4: 0,
        };
    },
    async created() {
        this.images_url = this.images;
        console.log(this.images)
    },
    methods: {
        handleClick(value) {
            this.isActive = value;
        },
        showPrices(option) {
            this.selectedOption = option;
        },
        enviar(nivel,mes){
            this.plan = nivel
            this.mounth = mes
            this.showDialogForm = true
        }
    },
};
</script>