<template>
    <div>
        <!-- Imagen flotante -->
        <div class="floating-image" @click="toggleChat">
            <img :src="images_url.pregunta" alt="Chatbot">
        </div>
  
        <!-- Chatbot -->
        <transition name="slide-up">
            <div v-if="showChat" class="chat-container">
                <!-- Encabezado del chatbot -->
                <div class="chat-header">
                    <h3>👋 Déjanos tu consulta</h3>
                    <button class="close-btn" @click="toggleChat">✖</button>
                </div>
                <!-- Formulario inicial -->
                <div v-if="!isRegistered" class="chat-form">
                    <p style="padding-block-end: 15px;"><strong>¡Cuéntanos tus dudas!</strong></p>
                    <el-input v-model="user.name" type="text" placeholder="Tu nombre ..." clearable></el-input>
                    <el-input v-model="user.phone" type="text" placeholder="Tu teléfono..." clearable></el-input>
                    <textarea
                        v-model="user.consulta"
                        placeholder="Tu consulta..."
                        class="input-field textarea-field"
                    ></textarea>
                    <el-button @click="registerUser">Comenzar</el-button>
                </div>
                <!-- Lista de Asesores -->
                <div v-else class="advisors-container">
                    <p style="padding-top: 15px; padding-left: 15px;"><strong>Nuestros asesores disponibles:</strong></p>
                    <div class="advisor-card" v-for="advisor in advisors" :key="advisor.id">
                        <img :src="advisor.photo" alt="Foto del asesor" class="advisor-photo" />
                        <div class="advisor-details">
                        <h4>{{ advisor.name }}</h4>
                        <a :href="`https://wa.me/${advisor.phone}?text=Hola%20${advisor.name},%20quiero%20hablar%20sobre:%20${user.consulta}`" target="_blank">
                            <img :src="images_url.whatsapp" alt="WhatsApp" class="whatsapp-icon" />
                        </a>
                        </div>
                    </div>
                </div>
                <!-- Ventana de mensajes -->
                <!-- <div v-else class="chat-messages">
                    <div v-for="(message, index) in messages" :key="index" class="message" :class="message.sender">
                        <span>{{ message.text }}</span>
                    </div>
                </div> -->
                <!-- Entrada de texto -->
                <!-- <div v-if="isRegistered" class="chat-input">
                    <input v-model="userInput"
                        @keyup.enter="sendMessage"
                        placeholder="Escribe tu mensaje aquí..."
                        class="input-field"/>
                    <button class="send-btn" @click="sendMessage">➤</button>
                </div> -->
            </div>
        </transition>
    </div>
</template>
  
  <script>
  export default {
    data() {
      return {
        images_url: { pregunta: "",whatsapp : "",apoyo : "",servicio :"" },
        resource: "contact",
        showChat: false,
        isRegistered: false,
        user: { name: "", phone : "",id: null,consulta : "" },
        user_bot: { },
        userInput: "",
        messages: [],
        advisors: [] // Lista de asesores
      };
    },
    async created() {
        await this.getImages();
        await this.getAdvisors();
    },
    methods: {
        async getImages() {
            const response = await this.$http.get(`/${this.resource}/imagenesFlotante`);
            this.images_url.pregunta = response.data.pregunta;
            this.images_url.whatsapp = response.data.whatsapp;
            this.images_url.servicio = response.data.servicio;
            this.images_url.apoyo = response.data.apoyo;
        },
        toggleChat() {
            this.showChat = !this.showChat;
        },
        async registerUser() {
            if (this.user.name && this.user.phone) {
                try {
                    this.$http.post(`chatbot/register`, this.user)
                        .then(response => {
                            console.log(response)
                            // Guardar el ID del usuario registrado
                            this.user_bot.id = response.data.user_chatbot_id;
                            this.isRegistered = true;
                            // Mensaje de bienvenida
                            this.messages.push({ text: response.data.message, sender: "bot" });
                        })
                        .catch(error => {
                            console.log(error)
                        })
                } catch (error) {
                alert("Error al registrar usuario: " + error.response.data.message);
                }
            } else {
                alert("Completa ambos campos.");
            }
        },
        async getAdvisors() {
            // Simulación de la lista de asesores (esto vendría del backend)
            this.advisors = [
                { id: 1, name: "Armando Vasquez", phone: "924894528", photo: this.images_url.servicio },
                { id: 2, name: "Daniel Lopez", phone: "943217021", photo: this.images_url.apoyo }
            ];
        },
        async sendMessage() {
            if (this.userInput.trim()) {
                this.user_bot.userInput = this.userInput
                this.messages.push({ text: this.userInput, sender: "user" });
                try {
                    this.$http.post(`chatbot/message`, this.user_bot)
                        .then(response => {
                            console.log(response)
                            this.messages.push({ text: response.data.response, sender: "bot" });
                        })
                        .catch(error => {
                            console.log(error)
                        })
                    // Añadir respuesta del bot al chat
                    this.messages.push({ text: response.data.response, sender: "bot" });
                } catch (error) {
                    console.error("Error al enviar mensaje:", error);
                    this.messages.push({
                        text: "Error al procesar el mensaje.",
                        sender: "bot",
                    });
                }
                this.userInput = "";
            }
        }
    }
  };
</script>