<template>
    <div class="inicio">
        <div class="centrado3">
            <h4>FACTURACION ELECTRÓNICA</h4>
            <p>El sistema de facturación electrónica de Perú es uno de los más extendidos a los contribuyentes de toda Latinoamérica.</p>
            <p>Su proyecto de masificación llamado Sistema de Emisión Electrónica – SEE, se encuentra a las puertas de finalizar su implementación con la incorporación del 100% de las empresas del país. La Superintendencia Nacional de Aduanas y de Administración Tributaria (SUNAT), autoridad fiscal de Perú, es quien coordina el funcionamiento del SEE.</p>

            <el-collapse v-model="activePanel" accordion>
                <div class="frecuentes" style="width: 100%;">
                    <el-collapse-item name="1" >
                        <template slot="title">
                            <strong>&nbsp; Estado de masificación de la factura electrónica en Perú</strong><i class="header-icon el-icon-information"></i>
                        </template>
                        <p>Para facilitar el cumplimiento de los nuevos requisitos, la SUNAT ha ido postergando la fecha de designación de emisores electrónicos. La última moratoria está recogida en la resolución Nº 279-2019/SUNAT, donde se especifica un nuevo calendario para la emisión de facturas, boletas y notas electrónicas en función del volumen de facturación de los contribuyentes en 2019.</p>
                        <h1>-Facturas electrónicas y notas electrónicas:</h1>
                        <label style="padding-left: 20px;font-size: 13px;color: #606266"><i class="fa-solid fa-square"></i>&nbsp;&nbsp;1/1/2022:  Empresas con una facturación igual o superior a 23 UIT y menor de 75 UIT.</label>
                        <label style="padding-left: 20px;font-size: 13px;color: #606266"><i class="fa-solid fa-square"></i>&nbsp;&nbsp;1/4/2022:  Empresas con una facturación menor a 23 UIT. </label>
                        <h1>-Boletas de venta electrónica y/o ticket (POS) y notas electrónicas:</h1>
                        <label style="padding-left: 20px;font-size: 13px;color: #606266"><i class="fa-solid fa-square"></i>&nbsp;&nbsp;1/4/2022:  Empresas con una facturación igual o superior a 23 UIT y menor de 75 UIT.</label>
                        <label style="padding-left: 20px;font-size: 13px;color: #606266"><i class="fa-solid fa-square"></i>&nbsp;&nbsp;1/6/2022:  Empresas con una facturación menor a 23 UIT.</label>
                    </el-collapse-item>
                </div>
                <div class="frecuentes" style="width: 100%;">
                    <el-collapse-item name="2" >
                        <template slot="title">
                            <strong>&nbsp; Comprobante de pago electrónico – CPE</strong><i class="header-icon el-icon-information"></i>
                        </template>
                        <p>Comprobante de Pago Electrónico (CPE) es un documento fiscal que respalda una transacción comercial. Los tipos de CPE comunes incluyen la Factura Electrónica, la Boleta de Venta Electrónica, la Nota de Crédito Electrónica y la Nota de Débito Electrónica. La emisión y envío de los CPE están regulados por la Superintendencia Nacional de Aduanas y de Administración Tributaria (SUNAT). Es importante cumplir con los requisitos técnicos y normativos establecidos por la SUNAT. Los plazos de envío de los CPE pueden variar y se recomienda consultar la normativa vigente y los lineamientos de la SUNAT para obtener información precisa.</p>
                    </el-collapse-item>
                </div>
                <div class="frecuentes" style="width: 100%;">
                    <el-collapse-item name="3" >
                        <template slot="title">
                            <strong>&nbsp; plazos de envío</strong><i class="header-icon el-icon-information"></i>
                        </template>
                        <p>Los plazos de envío de los Comprobantes de Pago Electrónico (CPE) son los siguientes:</p>
                        <label style="padding-left: 20px;font-size: 13px;color: #606266"><i class="fa-solid fa-square"></i>&nbsp;&nbsp;Factura Electrónica: Enviar al cliente dentro de los 3 días calendario después de la emisión.</label>
                        <label style="padding-left: 20px;font-size: 13px;color: #606266"><i class="fa-solid fa-square"></i>&nbsp;&nbsp;Boleta de Venta Electrónica: Entregar al cliente en el momento de la operación o dentro de los 3 días calendario posteriores a la fecha de emisión.</label>
                        <label style="padding-left: 20px;font-size: 13px;color: #606266"><i class="fa-solid fa-square"></i>&nbsp;&nbsp;Nota de Crédito Electrónica: Entregar al cliente dentro de los 3 días calendario después de su emisión.</label>
                        <label style="padding-left: 20px;font-size: 13px;color: #606266"><i class="fa-solid fa-square"></i>&nbsp;&nbsp;Nota de Débito Electrónica: Enviar al cliente dentro de los 3 días calendario posteriores a su emisión.</label>
                        <p>Estos plazos están establecidos en la Resolución de Superintendencia N° 097-2012/SUNAT y sus modificatorias.</p>
                        <p>Queremos recordarles la importancia de cumplir con los requisitos establecidos por la SUNAT y utilizar nuestro sistema de facturación electrónica para emitir y enviar los Comprobantes de Pago Electrónico (CPE) dentro de los plazos correspondientes. Les recomendamos que consulten la normativa y regulaciones más actualizadas de la SUNAT para obtener información precisa sobre los plazos de envío de los CPE en Perú. Asimismo, nos complace informarles que en nuestra página web encontrarán información actualizada sobre los plazos de envío de los CPE, específicos para nuestra empresa. Al contar con un sistema de facturación electrónica y mantenernos al día con la normativa vigente, podemos garantizar una gestión eficiente y oportuna de sus comprobantes de pago electrónicos. </p>
                    </el-collapse-item>
                </div>
            </el-collapse>
            <h2>¿Cómo emitir facturas electrónicas en 2023?</h2>
            <br>
            <p>Existen dos formas de emitir facturas electrónicas. La primera es a través del portal de la SUNAT de forma gratuita, pero con algunas limitaciones y desventajas. La segunda opción es utilizar el Sistema del contribuyente, que te permite emitir comprobantes personalizados de manera fácil, rápida e intuitiva.</p>
            <br>
            <h2>¿Por qué emitir con IziFact?</h2>
            <br>
            <p>Ponemos a tu disposición un software de facturación que te permitirá emitir comprobantes sin complicaciones. Además, podrás tener el control total de tu negocio las 24 horas del día gracias a los módulos de gestión de ventas, compras, inventarios, clientes y proveedores.</p>
        </div>
        <div class="centrado3">
            <h4>PROCESO DE EMISIÓN</h4>
        </div>
        <section>
            <div class="box-container">
                <div class="box">
                    <img :src="images_url.proceso" alt="Imagen 1">
                </div>
                <div class="box">
                    <div class="centrado2">
                        <h4>DOCUMENTOS ELECTRÓNICOS</h4>
                        <p>Es importante tener en cuenta que estos son los pasos generales del proceso de emisión de documentos electrónicos, pero los detalles y requisitos específicos pueden variar según la normativa y regulaciones vigentes establecidas por la SUNAT.</p>
                        <a :href="`/precios`" target="_blank">Consulta nuestro planes</a>
                    </div>
                </div>
            </div>
        </section>
    </div>
</template>
<script>
export default {
    props: [
        'images'
    ],
    data() {
        return {
            images_url: {
                proceso: ""
            },
            activePanel: 0,
            activePanel2: 0,
            activePanel3: 0,
            activePanel4: 0,
        };
    },
    async created() {
        this.images_url = this.images;
        console.log(this.images)
    }
};
</script>